[2014-02-25 23:23] crazy-max opened #1 "Add Script for creating a new project"
From @rancoud

Make something to create a new project which can be defined with these functions :
- new git (git init) or new svn
- change host file
- add vhost in apache
- created database (can choose SGBD first) with new user and/or password

[2014-02-25 23:24] crazy-max opened #2 "Add offline documentation"
From @rancoud

I think it will be a good idea to have the apps' documentations offline.
Documentation indexes: http://localhost/docs
Documentation for php: http://localhost/docs/php
Documentation for apache: http://localhost/docs/apache
Documentation for mysql: http://localhost/docs/mysql
Documentation for mariadb: http://localhost/docs/mariadb
Documentation for phpunit: http://localhost/docs/phpu

[2014-02-25 23:27] crazy-max opened #3 "Git console error"
An error appears while launching Git console.
Appears only when there are spaces in path.

[2014-02-25 23:30] crazy-max opened #4 "Restart service when change port"
We have to manually restart service and reload Neard when changing port.

[2014-02-25 23:32] crazy-max opened #5 "Display hosts on homepage"
Add list of activated Windows hosts on homepage.

[2014-02-25 23:32] crazy-max opened #6 "Loading window when reload"
Add loading window when reload Neard.

[2014-02-25 23:34] crazy-max opened #7 "Checkbox to enable/disable aliases"
Add a checkbox in the editor window to enable/disable an alias.

[2014-02-25 23:35] crazy-max opened #8 "Check Neard version on homepage and startup"
Add latest Neard version found on homepage and on startup.

[2014-02-25 23:37] crazy-max opened #9 "Review APP_PATH registry key"

[2014-02-25 23:37] crazy-max opened #10 "Review reload"
Review reload to add more actions ?

[2014-02-26 09:35] crazy-max opened #11 "Need to reload Neard after restart"
At first install or when Neard folder is moved somewhere else or Neard restart, we need to reload Neard to refresh services status.

[2014-02-26 14:45] crazy-max opened #12 "Error at startup : libapr-1.dll not found"
Neard can't start with the following message :

![libapr-1 dll](https://f.cloud.github.com/assets/1951866/2270838/0173eaa6-9ef3-11e3-967d-7213cb5d3335.png)

It's because the Neard environment variables are not refresh.
To make Neard working, we have to edit an environment variable in system property :

![edit_env_var](https://f.cloud.github.com/assets/1951866/2270978/ceac868a-9ef4-11e3-9e39-1e5ef5

[2014-02-26 22:48] #11 closed, assigned to crazy-max

[2014-02-26 22:48] #12 closed, assigned to crazy-max

[2014-02-27 13:59] crazy-max opened #13 "Wrong version displayed on splash screen"
On 1.0.1, the version displayed on splash screens is 1.00

[2014-02-27 15:26] crazy-max opened #14 "Console won't launch"
Console won't open. But if we remove the SVN section in console.xml it works.
It comes from a special char in the shell attribute.

[2014-02-27 23:38] crazy-max opened #15 "Error in Gitlist if no repositories"
An error occured in Gitlist if there are no repositories in the configuration :

![image2](https://f.cloud.github.com/assets/1951866/2289441/4250d708-a008-11e3-8a75-8cda5341d999.png)

[2014-03-01 13:37] crazy-max opened #16 "ReleaseSRWLockExclusive error"
On Windows XP, there is an error when PHP VC9 is called :

![sans titre](https://f.cloud.github.com/assets/1951866/2301468/a8fa9efa-a146-11e3-8795-0602e6e8921c.PNG)

[2014-03-01 13:38] #16 closed, assigned to crazy-max

[2014-03-01 13:40] crazy-max opened #17 "Apache service error 41d"
At startup there is an error (41d = 1053) with Apache service on Windows XP :

![sans titre2](https://f.cloud.github.com/assets/1951866/2301477/060a6bb6-a147-11e3-8ee4-66612a336c33.PNG)

[2014-03-01 13:41] #17 closed, assigned to crazy-max

[2014-03-01 20:35] #15 closed, assigned to crazy-max

[2014-03-01 20:35] #14 closed, assigned to crazy-max

[2014-03-01 20:35] #13 closed, assigned to crazy-max

[2014-03-01 20:35] #6 closed, assigned to crazy-max

[2014-03-01 20:35] #5 closed, assigned to crazy-max

[2014-03-01 20:35] #4 closed, assigned to crazy-max

[2014-03-01 20:36] #3 closed, assigned to crazy-max

[2014-03-02 22:31] crazy-max opened #18 "Create patches"
Create patches to migrate from one version to the latest.

[2014-03-02 22:34] crazy-max opened #19 "Add menu to change logs verbose"
Add a menu to change debug verbose on right click

[2014-03-04 11:09] rone056 opened #20 "port 80 is already used"
When I start Neard, Apache doesn't installed, I have this message :
![neard](https://f.cloud.github.com/assets/6849786/2320334/5a90d818-a38c-11e3-8737-efa164d1e0ff.PNG)

Before I start Neard, I stop my WAMP server!

My PC configuration is :
Windows 8 Pro 64 bits
Neard v1.0.2

I don't understand why it isn't work. When I want to change the port to the 81 I have the same message, port is already use

[2014-03-05 10:00] crazy-max opened #21 "Create vhosts add item menu"

[2014-03-06 10:35] crazy-max opened #22 "Add debug settings in Apache menu"
In the Apache menu, add a Debug menu to display :
- Version number
- Compile settings
- Compiled modules
- Configuration directives
- Virtual hosts settings
- Loaded modules
- Syntax check

[2014-03-09 21:51] dmathiasson opened #23 "Apache service cannot start : Error 424 (1060)"
Hello, after a hasty e-mails, I now realized that this is the place where the support is located.

I try to install Neard v1.0.2 on my windows 7 64bits OS, but when I do I get this attached message:

![neard 1 0 2 - startup error](https://f.cloud.github.com/assets/6901207/2369214/5a5ef7ca-a7d4-11e3-849f-07df0fbaf157.png)

Any suggestions of what I should do?:)

[2014-03-09 23:47] #19 closed, assigned to crazy-max

[2014-03-09 23:48] #21 closed, assigned to crazy-max

[2014-03-09 23:48] #22 closed, assigned to crazy-max

[2014-03-10 10:21] #23 closed, assigned to crazy-max

[2014-03-10 10:26] crazy-max opened #24 "Review service start"
Linked to issue #23 : Timeout > 5 seconds

[2014-03-10 15:12] crazy-max opened #25 "Add debug settings in MySQL and MariaDB menu"
In the MySQL and MariaDB menu, add a Debug menu to display :
- Version
- Variables
- Syntax check

[2014-03-10 15:16] crazy-max opened #26 "Add Sublime Text app to display debug infos"
Add a text editor like [Sublime Text](http://www.sublimetext.com/) to display debug infos instead of Windows RTFTextBox.

[2014-03-11 13:45] crazy-max opened #27 "Create Microsoft Visual C++ Runtime libraries package"
Will be available in the next version :

![neard-vcredists-1](https://f.cloud.github.com/assets/1951866/2385847/5964c4ee-a923-11e3-969f-e6168a1b69bd.png)

![neard-vcredists-2](https://f.cloud.github.com/assets/1951866/2385848/5ce13c6a-a923-11e3-9ebd-093eeb4dd085.png)

[2014-03-11 14:52] crazy-max opened #28 "Need some translators :)"
## Create a new language file

* Edit one of the language files like the english one in [neard\core\langs\english.lng](https://github.com/crazy-max/neard/blob/master/core/langs/english.lng).
* **%s** character is a mixed arg.
* **@nl@** character is a carriage return.
* If the value starts with a **#** character, it's a new string to translate.
* The language's file have to be encoding in **UTF-8

[2014-03-12 23:10] dmathiasson opened #29 "extra function. start neard on startup"
I miss an optional "start neard automatically on startup" function:)

[2014-03-13 13:50] crazy-max opened #30 "Add FTP Server"
Add a FTP Server with these options :
- Manage as a service
- Change and check port
- Add log file

[2014-03-16 16:42] #20 closed, assigned to crazy-max

[2014-03-17 12:57] crazy-max opened #31 "Create a Wiki documentation"

[2014-03-17 16:08] crazy-max opened #32 "Add sendmail and local SMTP server"
Free smtp servers to check :
* XMail : http://www.xmailserver.org/
* hMailServer : http://www.hmailserver.com/

[2014-03-17 16:11] #10 closed, assigned to crazy-max

[2014-03-17 16:11] #9 closed, assigned to crazy-max

[2014-03-17 23:52] #30 closed, assigned to crazy-max

[2014-03-17 23:52] #27 closed, assigned to crazy-max

[2014-03-17 23:52] #26 closed, assigned to crazy-max

[2014-03-17 23:52] #25 closed, assigned to crazy-max

[2014-03-17 23:52] #24 closed, assigned to crazy-max

[2014-03-17 23:52] #18 closed, assigned to crazy-max

[2014-03-18 08:57] crazy-max opened #33 "Error window when refresh Git or SVN repo"
![image3](https://f.cloud.github.com/assets/1951866/2445871/578e7342-ae7b-11e3-886e-499f24631759.png)

[2014-03-19 13:21] crazy-max opened #34 "Addons"
Add several addons (Apache, PHP, MySQL, MariaDB, etc...)

[2014-03-19 16:44] crazy-max opened #35 "Path bug in Node.js"
Path bug in Node.js configuration file (spaces)

[2014-03-19 16:46] crazy-max opened #36 "Move PHP config file to his root folder"
Move PHP config file to his root folder instead of bin Apache folder

[2014-03-19 16:47] crazy-max opened #37 "Move Apache rewrite logs"
Move Apache rewrite logs to a specific file (localhost_rewrite.log) instead of access log file.

[2014-04-06 20:54] #37 closed, assigned to crazy-max

[2014-04-06 20:54] #36 closed, assigned to crazy-max

[2014-04-06 20:54] #35 closed, assigned to crazy-max

[2014-04-06 20:54] #33 closed, assigned to crazy-max

[2014-04-06 20:55] crazy-max opened #38 "Localhost menu item wrong redirect"
The localhost menu item redirect to `http:///`

[2014-04-08 15:18] crazy-max opened #39 "Refresh aliases and vhosts when switching status"
When switching status (online/offline), update aliases et virtual hosts files.

[2014-04-08 16:02] crazy-max opened #40 "Error window when switching status (online/offline)"
![image3](https://f.cloud.github.com/assets/1951866/2445871/578e7342-ae7b-11e3-886e-499f24631759.png)

[2014-04-18 07:31] crazy-max opened #41 "Create an app to update languages"

[2014-04-18 19:05] #40 closed, assigned to crazy-max

[2014-04-18 19:06] #39 closed, assigned to crazy-max

[2014-04-18 19:06] #38 closed, assigned to crazy-max

[2014-04-18 19:06] #29 closed, assigned to crazy-max

[2014-04-18 19:06] #8 closed, assigned to crazy-max

[2014-04-27 06:53] cbucher opened #42 "ConsoleZ"
Hi,

There is a fork of Console 2, called ConsoleZ, with very active development and release : https://github.com/cbucher/console/

[2014-04-28 15:00] loule opened #43 "Manage and disable a service"
Would be nice to be able to disable a service, i mean that it doesnt start automatically with Neard, but you could be able to launch it later.(ex: Xlight isn't essential for everyone, or start preferred DB : Mysql or Mariadb ...)
Maybe already in place but didn't find any info about it.

[2014-05-03 12:24] rancoud opened #44 "Node.js - npm fail with any command"
I have a fresh installation of neard and when I want to use npm it fails.

[code]

[2014-05-16 07:40] hesst opened #45 "Neard 1.0.6 Startup Error"
Under Win7 I get the following error when starting:

Apache 2.2.22 (neardapache) service cannot be installed :
- Cannot start the service : Error 5 (5 : The handle to the SCM database does not have the appropriate access rights.)
  MySQL 5.5.24 (neardmysql) service cannot be installed :
- Cannot start the service : Error 5 (5 : The handle to the SCM database does not have the appropriate access ri

[2014-05-16 08:03] #45 closed, assigned to nobody

[2014-05-20 09:20] crazy-max opened #46 "Restart item menu"
Add a restart item menu

[2014-05-22 09:37] #43 closed, assigned to crazy-max

[2014-05-22 09:37] #44 closed, assigned to crazy-max

[2014-05-22 09:37] #46 closed, assigned to crazy-max

[2014-06-03 17:12] ghost opened #47 "Error when XLight service start"
"Error: Le service Xlight 3.8.0.2 (neardxlight) ne peut être installé : - Impossible de démarrer le service : Erreur Erreur 41d (1053 : )"

[2014-06-30 13:07] Guizmao opened #48 "Port other than 80 issue"
Hi,
I need to change the port 80 for apache.

I can change it for 81 for example, but after i can't access to the root (www) and i can't use alias or virtualhosts...

Is there a way to fix that ?

Thx

[2014-07-01 08:41] crazy-max opened #49 "Bug switching php extension or apache module"
![bugswitch](https://cloud.githubusercontent.com/assets/1951866/3440767/7cdd4ad8-00fb-11e4-8f1d-0efb0d5ffe8b.png)

[2014-07-03 20:51] 1OOSUR opened #50 "add display www directories in page localhost"
http://github.com/mykiwi/wamp for exemple ;-)

[2014-07-06 19:57] #48 closed, assigned to crazy-max

[2014-07-06 22:18] 1OOSUR opened #51 "Xlight doesn't start automatically when you launch neard 1.0.8"
Je ne sais pas si c'est voulu mais j'ai remarqué que sur la version 1.0.8, le service Xlight ne se lance pas automatiquement (3 services sur 4 de démarrés).

Obligation de cliquer sur Xlight>Services>Exécuter au démarrage pour qu'il se lance automatiquement lors du prochain démarrage de Neard

[2014-07-06 22:19] #51 closed, assigned to nobody

[2014-07-07 14:39] crazy-max opened #52 "Restart all services restarts Neard"
The _Restart all services_ item restarting Neard instead of restarting services.

[2014-07-07 19:15] crazy-max opened #53 "Failed to load PHP extensions from config file"

[2014-07-08 22:29] crazy-max opened #54 "Add development tools"
Add development tools package for Neard's collaborators/developers.

These tools include:
- Release package creation
- Patches creation
- Addons creation
- Test launcher
- Unit tests
- Git modifications preview
- Language files checker
- Eclipse IDE (and workspace settings)

[2014-07-09 09:08] 1OOSUR opened #55 "add adminer, an alternative to phpmyadmin ?"
Pourrais t'on voir l'intégration de façon native d'un outil similaire à phpmyadmin comme adminer, qui pour moi est beaucoup moins lourd à charger et beaucoup plus rapide à utiliser que phpmyadmin pour des grosses base de données ?

[2014-07-14 14:18] crazy-max opened #56 "Bug check MySQL and MariaDB ports"
[code]

[2014-07-14 16:28] #56 closed, assigned to crazy-max

[2014-07-14 16:28] #55 closed, assigned to crazy-max

[2014-07-14 16:28] #53 closed, assigned to crazy-max

[2014-07-14 16:28] #50 closed, assigned to crazy-max

[2014-07-14 16:28] #52 closed, assigned to crazy-max

[2014-07-14 16:28] #49 closed, assigned to crazy-max

[2014-07-18 07:06] suony opened #57 "Fatal error: require_once() - Redeclare class apps"
Fatal error: require_once() [&lt;a href='function.require-once'&gt;function.require-once&lt;/a&gt;]: Cannot redeclare class apps in ...\neard\core\classes\class.autoloader.php on line  42

[2014-07-26 14:23] crazy-max opened #58 "Add https support"

[2014-07-26 16:45] jradxl opened #59 "Not working for me (out of the box)"
Hi,
WIndows 8.1, with IIS running.
After unpacking version 1.0.9 Zip to c:\Neard, and running Neard.exe with UAC off.

Edited neard.conf as follows:-

; -- SETTINGS
appLogsVerbose = "2"
appPurgeLogsOnStartup = "0"
lang = "english"
timezone = "Europe/London"
notepad = "notepad.exe"
; -- BINS
[apache]
apacheVersion = "2.2.22"
apacheExe = "bin/httpd.exe"
apacheConf = "conf/httpd.conf"
apachePort = "8

[2014-08-08 15:37] crazy-max opened #60 "Add item menu to create SSL certificate"

[2014-08-08 15:38] crazy-max opened #61 "Add option to change SSL port"

[2014-08-08 17:23] #59 closed, assigned to crazy-max

[2014-08-08 17:23] #58 closed, assigned to crazy-max

[2014-08-08 23:04] crazy-max opened #62 "Bug checking latest release from Sourceforge"

[2014-08-10 22:18] crazy-max opened #63 "Change Xlight with Filezilla FTP Server"
Change Xlight with [Filezilla Server](https://filezilla-project.org/) because we can't enable SSL feature on Xlight (need purchase).

[2014-08-10 22:19] crazy-max opened #64 "Localhost SSL shortcut on menu"

[2014-08-13 19:24] crazy-max opened #65 "Add option to check SSL port"

[2014-08-13 19:26] crazy-max opened #66 "Apache 2.4 not working (SSL issue)"

[2014-08-14 21:22] #66 closed, assigned to crazy-max

[2014-08-14 21:22] #65 closed, assigned to crazy-max

[2014-08-14 21:22] #64 closed, assigned to crazy-max

[2014-08-14 21:22] #63 closed, assigned to crazy-max

[2014-08-14 21:22] #62 closed, assigned to crazy-max

[2014-08-14 21:23] #60 closed, assigned to crazy-max

[2014-08-14 21:23] #47 closed, assigned to crazy-max

[2014-08-19 13:20] doudoufly opened #67 "Fatal error: require_once() cannot redeclare class pma_navigation"
Bonjour,

W7 64 bits
Neard 1.0.11 installé sur clé USB

https://www.sendspace.com/file/vuar4p

1- phpadmin ne marche pas
2- impossible de créer une base de donnée accès refusé.

Merci pour votre aide.

[2014-08-20 20:46] crazy-max opened #68 "Add checksum verification"
Add SHA1 checksum verification for extracted files to prevent corrupted data or migrate to an easy setup.

[2014-09-04 13:48] 1OOSUR opened #69 "problem check for update"
La dernière version sur sourceforge est la 1.0.11 et je suis en version 1.0.10.

Lorsque je lance le check for update, il m'affiche que je dispose de la dernière version.
![sans titre 1](https://cloud.githubusercontent.com/assets/7346885/4149992/1895e702-343a-11e4-8191-e553b8c589ed.jpg)

[2014-09-04 13:57] #69 closed, assigned to nobody

[2014-09-05 07:34] #68 closed, assigned to crazy-max

[2014-09-25 12:16] crazy-max opened #70 "Launch Neard as an explorer.exe child process"
To reload environement variables, launch Neard as an explorer.exe child process.

[2014-09-25 12:47] crazy-max opened #71 "Add logs menu"
Add logs menu with all logs

[2014-09-25 12:59] crazy-max opened #72 "Add PHP extensions version on homepage"

[2014-09-25 13:00] crazy-max opened #73 "Add APC manager page"

[2014-09-27 12:32] crazy-max opened #74 "Split bins, tools, apps configuration"

[2014-09-28 18:33] #57 closed, assigned to crazy-max

[2014-09-28 18:33] #67 closed, assigned to crazy-max

[2014-09-28 18:33] #70 closed, assigned to crazy-max

[2014-09-28 18:33] #71 closed, assigned to crazy-max

[2014-09-28 18:33] #72 closed, assigned to crazy-max

[2014-09-28 18:34] #73 closed, assigned to crazy-max

[2014-09-28 18:34] #74 closed, assigned to crazy-max

[2014-10-23 21:19] Philivert opened #75 "Add option to scan SVN and Git repos on Startup"
Load time is long, due to "balayage des répertoires" at the beginning of the launch, and a second time during the automatic restart.
I think the second "balayage" is of no use during restart after the first one and its suppression can greatly accelerate the full launch of Neard.
Sorry for my poor English.
Great job anyway :)

[2014-10-27 14:25] zoubir-saidi opened #76 "Code source of neard.exe"
Hello,
I don't know if neard is under GPL licence ( I hope so !)
Could you  please publish the source code  of neard.exe ,

[2014-11-20 00:35] CoZmicShReddeR opened #77 "Apache Crashes at or after Filezilla loads!"
Apache Crashes at or after Filezilla loads!

Windows Server 2008 64-Bit
https://www.sendspace.com/file/8zw461

[2014-11-20 21:32] crazy-max opened #78 "Bug switching Online/Offline"

[2014-11-26 17:27] bl0m opened #79 "No services started"
Unzipped neard to usb, run neard.exe. None of services get started.
Here's the error log.

Thank you!

[2014-12-20 14:08] #76 closed, assigned to crazy-max

[2015-02-21 05:58] lothereus opened #80 "Add Composer in Neard tools"
Should be a good idea no ?

[2015-02-21 06:26] lothereus opened #81 "Installing Apache addon need manual configuration"
While installing new Apache version you give, I had to modify some stuff in the httpd.conf because the install path was not correctly defined... "C:/neard" is default but I installed Neard on another drive.

The concerned lines : 37, 272, 273, 550, 559, 562, 565

Maybe it's possible to do that automatically when user active a new bin version ;-)

PS: same stuff to change in extra conf files used (

[2015-02-21 07:02] lothereus opened #82 "Restarting Neard doesn't work"
While clicking Restart in Neard, it engage the restart procedure, Neard window opening saying it is restarting, but when Neard is off, the window disappear and it doesn't restart...

I'm on Windows 8 64bit.

This is the log and core/tmp file you ask : https://www.sendspace.com/file/802lmf

[2015-02-21 09:55] crazy-max commented on #80
Yes it should be a good idea but it's project specific.
I can implement for each project an automatic download of composer for example.

[2015-02-21 09:56] crazy-max commented on #77
Some feedback @CoZmicShReddeR ?

[2015-02-21 10:00] crazy-max commented on #81
Humm of cours the default path is ``C:/neard`` but when you start neard it will change the path automatically in the config file.
For this i use the file located in ``neard/core/resources/paths.dat``. This file adds the paths where you start neard. Do you C:/neard in this file ?

[2015-02-21 10:29] crazy-max commented on #82
Starts neard, creates this file on your desktop called for example ``restart.bat`` and add this :

[code]

Tell me if it works.

[2015-02-21 12:42] lothereus commented on #82
The .bat file does the same thing than restart.

Ok I just understand what happen... the services restart but the Neard app quit and the tray icon disappear. I don't know if I say it well.

(au pire on se retrouve en Hangout si tu veux plus de détails)

[2015-02-21 12:45] lothereus commented on #81
No I have E:/Neard but at the start (when I charged the addon first time), It didn't change the path in the conf files. I had to change it manually. Since I changed it, it works well ^^

[2015-02-21 12:48] lothereus commented on #80
Composer can be installed globaly, not only for each project (I use it directly in Neard cmd console since I installed it)... but having an option to install it for a specific project could be great ;-)

[2015-03-01 21:24] crazy-max commented on #82
I think RunFromProcess does not work on your system, can you try this command (with Neard shutdown) :

``E:/Neard/tools/runfromprocess/runfromprocess1.05/RunFromProcess-x64.exe nomsg explorer.exe E:\Neard\neard.exe``

[2015-03-01 21:58] lothereus commented on #82
That does nothing...

[2015-03-01 22:02] crazy-max commented on #82
Hum ok, you are on a 64 bits system yes ?

[2015-03-01 23:03] crazy-max commented on #79
Up @adidash ?

[2015-03-06 12:57] crazy-max opened #83 "Launch on startup fails sometimes"

[2015-03-11 13:32] Panonc opened #84 "Error out of the box registry key"
Hi,
I just downloaded neard, unziped it and launched neard.exe
I let you see the error:
![errorneard](https://cloud.githubusercontent.com/assets/11424580/6597214/34937032-c7fb-11e4-922f-88e5b101c640.png)

I don't know what is it and why.

[2015-03-11 15:04] Panonc commented on #84
It may be because I don't own any rights on this computer ...

[2015-03-11 18:23] crazy-max commented on #84
Yes it can be an admin rights problem.
Can you follow the steps for troobleshooting on the README.md please?

[2015-04-03 18:37] hmny opened #85 "I get "Error setting NEARD_PATH registry key" when it sets up Filezilla"
here is the error:
![](http://i.imgur.com/AvlNhOw.png?1)
it is probably just an admin privilege related error in Windows (trying this in University so I don't have admin privileges).
Is there anyway to not boot Filezialla when nead starts?

[2015-04-03 18:49] crazy-max commented on #85
Hi, in the neard.conf file you can set filezillaLaunchStartup to 0.

[2015-04-03 18:56] hmny commented on #85
awesome! thanks

[2015-04-17 07:47] Jeffjeffjeffjeff commented on #77
Hello,

Same problem here, but with Windows 7. Neard 1.0.12.
![image641](https://cloud.githubusercontent.com/assets/11990554/7197833/0f5c9476-e4e6-11e4-897e-6026a45f7f1a.png)

And if I try to open Neard from a fresh folder in another disk, I have this one:
![image454562](https://cloud.githubusercontent.com/assets/11990554/7197849/2eb267f6-e4e6-11e4-9288-f3ec092dbb30.png)

I don't know if I can do

[2015-04-17 07:59] Jeffjeffjeffjeff commented on #77
More information:

The Apache crash happen on this message in the loading window: Start Filezilla 0.9.47 (neardfilezilla) service...

Also, I have to open Neard twice, because the first launch crash the app after some loading, without error message. Apache crash happen on the second launch.

[2015-04-17 08:01] Jeffjeffjeffjeff commented on #77
And if I try to "Start Apache sevice" directly from the app, I have this one:

![image56456](https://cloud.githubusercontent.com/assets/11990554/7198069/a5ea2bae-e4e8-11e4-9881-d02e35f6c558.png)

[2015-04-17 08:21] Jeffjeffjeffjeff commented on #77
Actually, apache folders in Neard was just almost full empty...This is why there is all this error message I suppose.
And "Install service" doesn't work. So, I've installed Apache from there: http://archive.apache.org/dist/httpd/binaries/win32/
- Copy / paste what is in the apache 2.2.22 folder (from the fresh install) to the Neard Apache 2.2.22 Folder.

It work, but this is not the best solution.

[2015-04-17 08:29] Jeffjeffjeffjeff commented on #77
More news, again... :dancers:

If I copy the "conf" folder from the apache 2.2.22 from the Neard .zip, and paste to the same folder on my working Neard, and start it... I have this one, and apache doesn't start:

![image6546545](https://cloud.githubusercontent.com/assets/11990554/7198423/72aee30c-e4ec-11e4-995a-dce016f873fb.png)

Well, this is clearly not the best solution to manually install apac

[2015-04-17 08:53] Jeffjeffjeffjeff commented on #77
So, to summarize, when I launch a new Neard folder, the real problem is that nothing is installed. This is the main problem.

![image1354654](https://cloud.githubusercontent.com/assets/11990554/7198745/73c2f708-e4ef-11e4-8bc0-255a8071648d.png)

I have killed every useless background process on my windows which can make conflict. And I have turned off every antivirus, firewall...

[2015-04-17 09:09] Jeffjeffjeffjeff commented on #77
https://www.sendspace.com/file/6wo7xg

[2015-04-17 10:53] crazy-max commented on #77
Ok @Jeffjeffjeffjeff i will check your issue

[2015-04-18 08:55] Jeffjeffjeffjeff commented on #77
Thanks!

But I've found the solution actually. I've downloaded Neard from Github, and there is no executable anywere in any folder... Like /bin/httpd.exe. This is why the installation doesn't work.
So, if I download from Sourceforge, everything work well.

I met an other problem but it has already been mentioned: changing apache version require to manually change path in httpd.conf and httpd-ssl.c

[2015-04-19 15:40] crazy-max commented on #77
Yes indeed the binaries are only available on Sourceforge.
Btw the issue #81 will be resolved soon ;)

[2015-04-19 16:05] crazy-max commented on #77
And don't forget to read the [README.md](https://github.com/crazy-max/neard/blob/master/README.md) ;)

[2015-04-19 17:56] #85 closed

[2015-04-19 19:01] crazy-max commented on #79
Seems to be the same problem as @Jeffjeffjeffjeff on Issue #77

[2015-04-19 19:01] #79 closed

[2015-04-19 19:02] crazy-max commented on #85
By the way, it seems you have insufficient rights to launch Neard like the issue #84

[2015-04-19 19:03] crazy-max commented on #84
You need to have Administrators privileges to launch Neard

[2015-04-19 19:03] #84 closed

[2015-04-19 19:04] crazy-max commented on #82
Can you try this command @lothereus :
``E:/Neard/tools/runfromprocess/runfromprocess1.05/RunFromProcess-x64.exe admin explorer.exe E:\Neard\neard.exe``

[2015-04-21 09:19] crazy-max commented on #82
I figure out where this come from.
Will be fixed in the next release.

[2015-04-21 20:40] crazy-max commented on #83
Solved on Neard 1.0.13

[2015-04-21 20:40] #83 closed

[2015-04-21 20:40] crazy-max commented on #82
Solved on Neard 1.0.13

[2015-04-21 20:40] #82 closed

[2015-04-21 20:40] crazy-max commented on #81
Solved on Neard 1.0.13

[2015-04-21 20:40] #81 closed

[2015-04-21 20:40] crazy-max commented on #78
Solved on Neard 1.0.13

[2015-04-21 20:40] #78 closed

[2015-04-21 20:41] crazy-max commented on #75
Solved on Neard 1.0.13

[2015-04-21 20:41] #75 closed

[2015-04-21 20:47] #77 closed

[2015-04-22 10:26] crazy-max opened #86 "Increase timeout SSL certificate"
For the generation of SSL certificate we need to increase timeout

[2015-05-31 21:56] Owned67 opened #87 "System Idle Process block services"
Hello,

i have downladed archive neard-master, xtract and launch neard.exe

cd H:\Web\bin\apache\apache2.2.22

H:\Web\bin\apache\apache2.2.22\bin>httpd.exe -k install
Installing the Apache2.2 service
The Apache2.2 service is successfully installed.
Testing httpd.conf....
Errors reported here must be corrected before the service can be started.
httpd.exe: Syntax error on line 85 of H:/Web/bin/apach

[2015-06-01 01:06] crazy-max commented on #87
Hi,

Check your vcruntimes.
You can download and install this pack: http://sourceforge.net/projects/neard/files/Tools/neard-vcredists-x86.exe/download

[2015-06-01 01:54] Owned67 commented on #87
Logs & tmp:
http://www.mediafire.com/download/0mkqxevka55v4ov/logs.7z

[2015-06-01 09:15] Owned67 commented on #87
Hello,

so, i have removed neard, i downloaded 1.0.13.

Extract and launch neard.exe, service don't start...

Logs & tmp:
http://www.mediafire.com/download/kxybxavtvb8yaj2/logs.rar

[2015-06-03 19:51] crazy-max commented on #87
Hi!

Ok i will check your logs.

Thanks

[2015-06-03 20:09] crazy-max commented on #87
![pas de nom](https://cloud.githubusercontent.com/assets/1951866/7970026/838be962-0a3b-11e5-9842-603fbb046df1.jpg)

I have upload your screenshot on this issue.

Please try these steps :

* Install the latest vcruntimes
The link : http://sourceforge.net/projects/neard/files/Tools/neard-vcredists-x86.exe/download

* Disable http.sys
- Press WINDOWS + R
- Enter regedit
- Go to: HKEY_LOCAL_MACHINE\SY

[2015-06-03 20:41] Owned67 commented on #87
vcruntime is already installed.

http is disabled

no malware (malware byte premium)

restart pc and same problem...

[2015-06-04 08:56] crazy-max commented on #87
Ok i think the problem came from this command :

``NETSTAT -aon | FIND ":80" | FIND "LISTENING"``

Can you type this command in your cmd and send me a screenshot ?

Thanks

[2015-06-04 10:26] Owned67 commented on #87
NETSTAT -aon | FIND ":80" | FIND "LISTENING"
FINDFIND::  ':80''LISTENING': :

 No such file or directory No such file or directory

I use cygwin.

[2015-06-04 11:43] crazy-max commented on #87
Ok thanks i will resolve this issue asap.

[2015-06-08 15:21] crazy-max opened #88 "Remove purge logs feature"
Since the archive logs feature in v1.0.13, there is no need to purge logs.

[2015-06-08 22:08] crazy-max opened #89 "Bug while archiving logs"

[2015-06-09 20:42] crazy-max commented on #89
Solved on Neard 1.0.13

[2015-06-09 20:42] #89 closed

[2015-06-09 20:42] crazy-max commented on #88
Solved on Neard 1.0.13

[2015-06-09 20:42] #88 closed

[2015-06-09 20:42] crazy-max commented on #87
Solved on Neard 1.0.13

[2015-06-09 20:42] #87 closed

[2015-06-09 20:43] crazy-max commented on #86
Solved on Neard 1.0.14

[2015-06-09 20:43] #86 closed

[2015-06-10 09:04] Owned67 opened #90 "Neard 1.0.14"
Hello,

le service Apache 2.2.22 (neardapache) ne peut être installé : impossible de démarrer le service: Erreur statut 1 (1: the service is not running.)

H:\Web\bin\apache\apache2.2.22\bin>httpd.exe -k install
[Wed Jun 10 10:58:04 2015] [error] Apache2.2: Service is already installed.

(OS 10048)Une seule utilisation de chaque adresse de socket (protocole/adresse r
Úseau/port) est habituellement

[2015-06-10 11:30] crazy-max commented on #90
It seems that you have an Apache instance already launched.
Check others installations like Wamp, Xampp are not launched before starts Neard.

[2015-06-10 14:12] Owned67 commented on #90
Aucune instance n'est lancé, le port 80 et 443 ne sont pas utilisé

[2015-06-10 14:25] crazy-max commented on #90
Ah oui en effet Apache ne peut pas se lancer à cause d'un processus en écoute sur le port 443.
Un pid est forcément lié à un processus, pouvez-vous entrer cette commande pour ressortir le nom de processus :

``tasklist /v /fi "PID eq 2552"``

Remplacer 2552 par PID du processus courant utilisant le port.

PS : Si vous voulez désactiver le SSL pour démarrer Apache, ouvrir le fichier ``neard\bin\apa

[2015-06-10 17:57] Owned67 commented on #90
C'est regrettable qu'on doit installer les rutimes à chaque fois, j'ai redémarré le PC et tout démarre correctement.

Merci pour votre aide cependant je vais retourner sous wampp qui st plus rapide au lancement...

Cordialement,

[2015-06-10 17:57] #90 closed

[2015-06-11 13:38] crazy-max opened #91 "Increase input length"
For virtual hosts and others windows, increase the length of input text

[2015-08-27 12:36] misuv opened #92 "Filezilla conflict"
If I have Filezilla server already installed on port 21 nerdfilezilla service cannot be installed.

[2015-08-27 12:43] misuv commented on #92
Solved, port can be changed after nerd start, but you have to reinstall FileZilla service

[2015-08-27 12:44] #92 closed

[2015-09-03 10:33] misuv opened #93 "Taskbar icon on Windows 10"
On Windows 10 the taskbar icon it does not appear at sistem restart.

Services are running, but no icon. (Correct settings for taskbar icons are applied)

[2015-10-06 18:11] bgva2005 opened #94 "port 80 is already used (Windows 10 / Neard 1.0.14)"
HI, please with your help:
When I start Neard, Apache doesn't installed, I have this error message :

Apache 2.2.22 (neardapache) service cannot be installed: -Port 80 is used by an other application.

I don´t have wampapache

C:\WINDOWS\system32>netstat -an | find ":80" | find "LISTENING"
  TCP    0.0.0.0:80             0.0.0.0:0              LISTENING
  TCP    0.0.0.0:8092           0.0.0.0:0

[2015-10-06 20:49] crazy-max commented on #94
Hi,

When Neard starts and display the port used error, open Neard in the systray, go to Apache and select Change port. Wait for service restarts.

[2015-10-06 20:57] crazy-max commented on #94
Btw it seems a service on your computer uses port 80.

Check services and use ProcMon to find out which process uses it.

[2015-10-13 16:51] crazy-max commented on #94
Some news @bgva2005 ?

[2015-10-13 16:53] crazy-max opened #95 "Add NodeJS to PATH"

[2015-10-13 17:23] crazy-max opened #96 "Zend extension not recognized on PHP 5.2.x"

[2015-10-13 17:45] crazy-max opened #97 "Error while switching php parameters"
![image1](https://cloud.githubusercontent.com/assets/1951866/10463145/03f5b15a-71e3-11e5-9e50-0d1b33c553ab.png)

[2015-10-13 17:58] crazy-max commented on #97
Solved on Neard 1.0.15

[2015-10-13 17:58] #97 closed

[2015-10-13 17:58] crazy-max commented on #96
Solved on Neard 1.0.15

[2015-10-13 17:58] #96 closed

[2015-10-13 17:58] crazy-max commented on #95
Solved on Neard 1.0.15

[2015-10-13 17:58] #95 closed

[2015-10-13 17:58] crazy-max commented on #91
Solved on Neard 1.0.15

[2015-10-13 17:58] #91 closed

[2015-10-13 17:59] crazy-max commented on #80
Solved on Neard 1.0.15

[2015-10-13 17:59] #80 closed

[2015-10-13 18:36] crazy-max commented on #93
Hi,

Are you sure services are running on windows startup ?
You have checked "launch at startup" option on Neard (check Neard shortcut in startup folder) ?
UAC enabled ?

[2015-10-13 18:37] crazy-max commented on #92
Indeed Filezilla service need to be restarted on port change.

[2015-10-17 15:25] crazy-max opened #98 "Add Python tool"

[2015-10-19 09:44] misuv commented on #92
Thanks. Solved

Spor la lucru
Mihai Visan
0740.018.021

From: mailto:notifications@github.com
Sent: Tuesday, October 13, 2015 9:37 PM
To: crazy-max/neard
Cc: misuv
Subject: Re: [neard] Filezilla conflict (#92)

Indeed Filezilla service need to be restarted on port change.

—
Reply to this email directly or view it on GitHub.

[2015-10-20 08:18] misuv commented on #93
Hi

1. launch at statup option on Neard is checked
2. neard service on startup is enabled in windows
3. all neard services (apache, mysql...) I had to manualy changed them from manual to automatic start
even if launch on start option was checked
4. neard icon is not shown on taksbar even settings are that all icons to be shown
5. system is Windows 10 with fresh install
6. UAC is disabled
7. neard

[2015-10-20 16:03] crazy-max commented on #93
If you start neard by launch the exe directly you have the systray icon ?
I think the problem occurs only on launch on startup option. I will check that issue on a VM.

And i have plan to build an InnoSetup for further releases ;)

[2015-10-21 10:00] misuv commented on #93
On manual start of exe I have systray icon.

Mihai
From: mailto:notifications@github.com
Sent: Tuesday, October 20, 2015 7:03 PM
To: crazy-max/neard
Cc: misuv
Subject: Re: [neard] Taskbar icon on Windows 10 (#93)

If you start neard by launch the exe directly you have the systray icon ?
I think the problem occurs only on launch on startup option. I will check that issue on a VM.

And i have plan t

[2015-11-02 18:08] crazy-max commented on #93
Ok fixed, will be available in the next release.

[2015-11-24 08:14] berthos opened #99 "Neard doesn't start completely"
When I launch manually Neard, the application starts, does some stuff, then restarts and closes. So at the end, I have nothing. How can I fix this ?
I am working on Windows 10.

[2015-11-24 08:19] crazy-max commented on #99
Hi,

This might be an issue with your UAC. The restart process does not work when UAC is enabled.
For the moment you have to launch Neard again after the restart process.

[2015-11-24 08:40] berthos commented on #99
I have disabled the UAC and restarted my computer but still, neard starts, restarts and .... nothing :(

How can I fix this ? Where should I search logs for more informations ?

[2015-11-24 09:02] crazy-max commented on #99
You can see in the `neard-startup.log` file.
If you always have the restart process, maybe Neard is not able to write system environment variables `NEARD_BINS` and `NEARD_PATH`.

[2015-11-24 18:21] berthos commented on #99
I can't find neard-startup.log and even with deactivating the UAC and restarting the computer, it doesn't work at all

[2015-11-24 18:37] crazy-max commented on #99
Can you read the bug section in the `README.md` file : https://github.com/crazy-max/neard#found-a-bug and post what i need plz ?

[2015-11-24 20:26] berthos commented on #99
Here is the neard.log :
[2015-11-24 21:24:26] # Neard 1.0.15 # DEBUG: Replace config:
[2015-11-24 21:24:26] # Neard 1.0.15 # DEBUG: ## hostname: bertho-salon
[2015-11-24 21:24:27] # Neard 1.0.15 # INFO: Init BinPhp
[2015-11-24 21:24:27] # Neard 1.0.15 # INFO: Init BinNodejs
[2015-11-24 21:24:27] # Neard 1.0.15 # INFO: Init AppWebsvn
[2015-11-24 21:24:27] # Neard 1.0.15 # INFO: Init AppGitlist
[201

[2015-11-25 08:56] crazy-max commented on #99
Hi,

I need logs folder and core/tmp folder.
See Issue #20 for example

[2015-11-25 11:39] berthos commented on #99
Google doesn't allow some files to be sent

Le mer. 25 nov. 2015 à 12:37, Stéphane BERTHO <bertho.stephane@gmail.com> a
écrit :

--
Cordialement

Stéphane Bertho
Mon CV : http://www.stephane-bertho.fr/
Mon tel : 07 88 19 87 30

[2015-11-25 15:38] berthos commented on #99
Hi, can you help me ? Neard doesn't start at all now.

Le mer. 25 nov. 2015 à 12:39, Stéphane BERTHO <bertho.stephane@gmail.com> a
écrit :

--
Cordialement

Stéphane Bertho
Mon CV : http://www.stephane-bertho.fr/
Mon tel : 07 88 19 87 30

[2015-11-25 15:43] crazy-max commented on #99
We can start a Teamviewer session if you want ?

[2015-11-25 15:45] berthos commented on #99
I have the version 10 (portable)

Le mer. 25 nov. 2015 à 16:43, Cr@zy <notifications@github.com> a écrit :

--
Cordialement

Stéphane Bertho
Mon CV : http://www.stephane-bertho.fr/
Mon tel : 07 88 19 87 30

[2015-11-25 15:46] berthos commented on #99
Id : 249 417 147
pwd : 8977

Le mer. 25 nov. 2015 à 16:45, Stéphane BERTHO <bertho.stephane@gmail.com> a
écrit :

--
Cordialement

Stéphane Bertho
Mon CV : http://www.stephane-bertho.fr/
Mon tel : 07 88 19 87 30

[2015-11-25 16:01] berthos commented on #99
User path
: C:\Users\Stéphane\AppData\Roaming\npm;D:\App\web\neard\bin\php\php5.6.14;D:\App\web\Git\bin;D:\App\web\Git\mingw64\bin
System path
: C:\ProgramData\Oracle\Java\javapath;Q:\App\Documents\Notepad++\plugins\database;Q:\App\Documents\Notepad++\plugins\PHP\ext;Q:\App\Documents\Notepad++\plugins\PHP;C:\Program
Files (x86)\Intel\iCLS Client\;C:\Program Files\Intel\iCLS
Client\;%SystemRoot%\sy

[2015-12-01 15:24] in-code opened #100 "PHP version"
How do I add a php version after downloading it on https://sourceforge.net/projects/neard/files/Addons/ ?

[2015-12-01 15:48] crazy-max commented on #100
Extract zip file in `neard/bin/php`

[2015-12-02 08:47] in-code commented on #100
Thank you for fast answering - work very fine also for apache and mysql

[2015-12-02 09:29] crazy-max commented on #100
You're welcome ;)

[2015-12-02 09:29] #100 closed

[2015-12-02 18:18] crazy-max commented on #99
Some vars override the neard configuration.
Try to remove :

[code]

I will try to launch Apache and other bins in a sandbox or in a standalone mod without declare a service to avoid this kind of problem.

[2015-12-02 18:18] #99 closed

[2015-12-02 18:18] #94 closed

[2015-12-02 18:24] crazy-max opened #101 "Move database directory"
Move database directory to preserve data across multiple MySQL / MariaDB versions.

[2015-12-13 14:44] crazy-max opened #102 "PEAR does not work on PHP 5.2.17"

[2015-12-13 15:24] crazy-max opened #103 "Add PHP 7 support"

[2015-12-13 16:22] crazy-max commented on #102
Solved on [neard-bin-php r2](https://github.com/crazy-max/neard-bin-php/releases/tag/r2)

[2015-12-13 16:22] #102 closed

[2015-12-13 20:57] crazy-max commented on #103
Solved on Neard 1.0.16 and [neard-bin-php r3](https://github.com/crazy-max/neard-bin-php/releases/tag/r3)

[2015-12-13 20:57] #103 closed

[2015-12-13 21:25] crazy-max commented on #93
Solved on Neard 1.0.16

[2015-12-13 21:25] #93 closed

[2015-12-13 21:26] crazy-max commented on #34
Each binary have now his own repository :
* Neard Apache repository : [neard-bin-apache](https://github.com/crazy-max/neard-bin-apache)
* Neard Filezilla Server repository : [neard-bin-filezilla](https://github.com/crazy-max/neard-bin-filezilla)
* Neard MariaDB repository : [neard-bin-mariadb](https://github.com/crazy-max/neard-bin-mariadb)
* Neard MySQL repository : [neard-bin-mysql](https://gith

[2015-12-14 19:24] crazy-max opened #104 "Add explanations to switch PHP version"

[2015-12-14 19:27] crazy-max commented on #104
See README.md on [neard-bin-php](https://github.com/crazy-max/neard-bin-php) repository.

[2015-12-14 19:27] #104 closed

[2015-12-14 19:47] crazy-max opened #105 "Add explanations to switch Apache version"

[2015-12-14 19:49] crazy-max commented on #105
See README.md on [neard-bin-apache](https://github.com/crazy-max/neard-bin-apache) repository.

[2015-12-14 19:49] #105 closed

[2015-12-15 16:50] crazy-max commented on #101
Actually a DB tool will be released in the [neard-misc](https://github.com/crazy-max/neard-misc) repository to migrate databases.

[2015-12-15 16:50] #101 closed

[2015-12-21 09:33] zibbizor opened #106 "Apache did not update its configuration to support PHP7"
Hello,

I upgraded all my neard packages to try out some PHP7. I first installed the Apache 2.4.17 package as required and enabled it, then installed the php 7.0.0 package and enabled it. Everything went well according to Neard, but running a phpinfo was still returning PHP 5.3.13.

It turns out my httpd.conf has not been modified by Neard and I had to edit the following

PHPIniDir "${NEARD_LIN_PA

[2015-12-21 17:16] crazy-max commented on #106
Hi,

I think you have edit manually the neard.conf file with the downloaded releases versions.
You just have to extract the releases, then start Neard and switch version from Neard tray icon to apply settings. The "switch version" process modify the configuration files :

![](https://raw.github.com/crazy-max/neard-bin-php/master/img/switchVersion-20151214.png)

You can have more info on the [neard

[2015-12-21 18:01] zibbizor commented on #106
Hello,

This is specifically what caused me to open this ticket. I had PHP7 successfully selected in Neard's tooltip and I did check the neard.conf file and everything seemed to be fine. I realized something was wrong when PHP did not understand short arrays [] and a phpinfo revealed I was still using 5.3.

I was only able to fix it through a manual edit of httpd.conf despite several neard restart

[2015-12-22 00:42] crazy-max commented on #106
Ok,

Do you follow these steps ? :

#### If Neard not installed
* Download and extract Neard
* Download and extract Apache 2.4.17
* Download and extract PHP 7.0.0
* Start Neard
* Switch to Apache 2.4.17 from Neard tray
* Restart Neard
* Switch to PHP 7.0.0 from Neard tray
* Restart Neard

#### If Neard already installed
* Stop Neard
* Download and extract Apache 2.4.17
* Download and extract PHP 7

[2015-12-24 09:54] zibbizor opened #107 "phpmyadmin export function will not work due to outdated package"
Hello,

If you are running Neard with:

- Apache 2.4.17
- MariaDB 10.1.9
- PHP 7.0.0

neard's phpmyadmin export function will not work due to the error:
`Fatal error: Cannot 'break' 2 levels in phpmyadmin\phpmyadmin4.0.4\export.php on line 860`

upgrading phpmyadmin to 4.5.3 fix this issue.

[2015-12-24 11:04] crazy-max commented on #107
Thanks i will upgrade phpmyadmin for the next release!

[2016-01-26 00:29] crazy-max commented on #106
Up @zibbizor ?

[2016-01-26 01:40] crazy-max commented on #107
On the next release 3 phpMyAdmin versions will be added to support php5.2 to php7 :
* phpMyAdmin 4.0.10.12 (compatible with PHP 5.2 and MySQL 5)
* phpMyAdmin 4.4.15.2 (compatible with PHP 5.3.7 to 7.0 and MySQL 5.5)
* phpMyAdmin 4.5.3.1 (compatible with PHP 5.5 to 7.0 and MySQL 5.5)
phpmyadmin alias will be switched automatically to the correct version depending on PHP version.

[2016-01-26 02:41] #106 closed

[2016-01-26 05:06] crazy-max commented on #107
Solved on Neard 1.0.17

[2016-01-26 05:06] #107 closed

[2016-01-30 14:47] zibbizor opened #108 "unexpected result from npm init"
Neard's Node.js package is unable to produce a proper output with the npm init command. This command should ask you some information related to your package, whereas with neard it does not ask you anything and will generate an empty package.json.

[code]

I have attempted the same with a regular Node.js install from the official website and it works as expected.

[2016-01-30 14:51] crazy-max commented on #108
Thanks for your feedback!
Can you send your package.json ?

[2016-01-30 14:54] crazy-max commented on #108
My bad, you want the init npm tutorial ?

[2016-01-30 15:13] crazy-max commented on #108
What release do you download from the official website ?

[2016-01-30 15:28] crazy-max commented on #108
And can you paste the output of the command ``npm init --verbose`` ?

[2016-01-30 16:37] crazy-max commented on #108
Ok the problem comes from the npmrc global file.

For a quick fix, you can edit the file ``npmrc`` in ``C:\neard\bin\nodejs\nodejs0.12.4\node_modules\npm``

Replace ``init-module = X:\dev\neard\bin\nodejs\nodejs0.12.4\node_modules\npm\init.js``
With ``init-module = X:\dev\neard\bin\nodejs\nodejs0.12.4\node_modules\npm\.npm-init.js``

Will be fixed in the next release of [neard-bin-nodejs](https://

[2016-01-30 20:21] crazy-max commented on #108
Solved on [neard-bin-nodejs r2](https://github.com/crazy-max/neard-bin-nodejs)

[2016-01-30 20:21] #108 closed

[2016-02-06 11:53] Jmos opened #109 "imagick not loading"
![imagick](https://cloud.githubusercontent.com/assets/5389792/12866507/6082ecd8-ccd0-11e5-9c70-50dd96ff15f6.jpg)
may be slash is wrong but i didn't find where I can correct plz help Thank you

[2016-02-06 12:42] crazy-max commented on #109
Hi, can you:

* Tell me what is your operating system and platform (eg. Windows 7 64-bits).
* Tell me your Neard version (eg. 1.0.0).

Have you installed Neard Visual C++ redist package ?

[2016-02-06 14:34] Jmos commented on #109
Ok problem solved I forget install Vc++ redist Thanks your help

[2016-02-06 14:34] #109 closed

[2016-02-06 15:06] crazy-max commented on #109
:+1:

[2016-02-09 11:57] omsi668 opened #110 "Wrong config in PHP5.6.17 Bundle"
Hello,

The config (neard.conf) file of the php5.6.17r4 bundle is wrong, the PHP version is labelled 5.6.16.

Great software by the way, thanks for the work

[2016-02-09 17:22] crazy-max commented on #110
Hello,

Thanks for your feedback :)

[2016-02-09 18:01] crazy-max opened #111 "Missing Xdebug dll in PHP 5.5.31 bundle"

[2016-02-09 18:02] crazy-max commented on #110
Same problem with PHP 7.0.2 bundle

[2016-02-09 18:25] crazy-max commented on #110
Solved on [neard-bin-php r5](https://github.com/crazy-max/neard-bin-php/releases/tag/r5)

[2016-02-09 18:25] #110 closed

[2016-02-09 18:25] crazy-max commented on #111
Solved on [neard-bin-php r5](https://github.com/crazy-max/neard-bin-php/releases/tag/r5)

[2016-02-09 18:25] #111 closed

[2016-03-20 18:10] Jmos opened #112 "Lang - Hungarian"
[Hungarian - magyar **1.4**](https://github.com/neard/neard/files/1596061/hungarian.zip)

[Hungarian - magyar **1.3**](https://github.com/crazy-max/neard/files/1337290/hungarian.zip)

[Hungarian - magyar **1.2**](https://github.com/crazy-max/neard/files/992431/hungarian.zip)

[Hungarian - magyar **1.0.22**](https://github.com/crazy-max/neard/files/696683/hungarian.zip)

[Hungarian - magyar **1.0.2

[2016-03-20 22:26] crazy-max commented on #112
Hi!

Thanks for contrib!

The missing chars come from a limitation of Aestan Tray Menu.
I'm currently working on a v2 of Neard in JavaFX to remove Aestan Tray Menu.

I will try to fix this problem and implement your translation in the next release.

[2016-03-21 17:32] Jmos commented on #112
Re: [neard] Hungarian Translation (#112)

Hello Cr,

Ok Waiting for the new release 

Sunday, March 20, 2016, 11:26:57 PM, you wrote:

Hi!
Thanks for contrib!
The missing chars come from a limitation of Aestan Tray Menu.
I'm currently working on a v2 of Neard in JavaFX to remove Aestan Tray Menu.
I will try to fix this problem and implement your translation in the next release.
—
You are receiving

[2016-03-25 07:33] dFireGod opened #113 "PHP7.0.3 selected but not really activated"
![image](https://cloud.githubusercontent.com/assets/18054791/14040036/1da3098c-f289-11e5-86f0-0bc1da8ea130.png)

also updated the version nums in `neard.conf `file, but no success yet. Also previous error was kind of the latest `neard-apache2.4.17` & latest `neard-php7.0.3` doesn't support each other.

any help is worth more than thanks!

[2016-03-25 07:55] dFireGod commented on #113
but php7.0.0 works

[2016-03-25 12:22] crazy-max commented on #113
Ok maybe a problem with the PHP 7.0.3 bundle. Can you try the PHP 7.0.2 bundle ?

[2016-03-27 18:55] crazy-max commented on #113
I just check bundles `PHP 7.0.3` and `Apache 2.4.17` and i don't have any problems with it.
Can you follow these steps :

* Start Neard
* Switch to PHP 5.3.13 (default) from Neard tray
* Switch to Apache 2.2.22 (default) from Neard tray
* Switch to Apache 2.4.17 from Neard tray
* Switch to PHP 7.0.3 from Neard tray
* Go to http://localhost/?p=phpinfo

[2016-03-27 18:55] #113 closed

[2016-04-01 18:29] berthos opened #114 "Update 1.0.15 -> 1.0.17 Phpmyadmin inaccessible"
Bonjour,
J'ai collé via l'explorateur la version complète 1.0.17 dans mon répertoire 1.0.15 et depuis quand je veux accéder à Phpmyadmin j'obtiens une page Index of /phpmyadmin qui liste les fichiers d'un répertoire.
Par contre j'ai toujours le contenu de mon répertoire www.

Quelqu'un peut-il m'aider ? Ai-je utilisé la bonne méthode ?

Question subsidiaire : ai-je aussi perdu mes bases de données

[2016-04-02 13:33] crazy-max commented on #114
Salut berthos!

Alors en effet il y a eu des changements au niveau de phpMyAdmin depuis la version 1.0.16 avec le support de PHP7 et aussi au niveau de la version 1.0.17 avec le support de multiples versions de phpMyAdmin (voir Issue #107) comme tu peux le voir dans le [CHANGELOG.md](https://github.com/crazy-max/neard/blob/master/CHANGELOG.md).

Alors non tu n'as pas perdu des base de données qui

[2016-04-02 17:22] berthos commented on #114
Bonsoir,

Comme je le disais dans mon message, je pars de la version 1.0.15 et non de
la version 1.0.16.
Les changements à faire sont bien ceux cités ci-dessus ?

Cordialement
Stéphane Bertho

Le sam. 2 avr. 2016 à 15:33, Cr@zy <notifications@github.com> a écrit :

--
Cordialement

Stéphane Bertho
Mon CV : http://www.stephane-bertho.fr/
Mon tel : 07 88 19 87 30

[2016-04-02 17:39] berthos commented on #114
J'ai fait les modifications demandées et j'obtiens toujours la même chose.

Ci-dessous le fichier neard.conf :
; -- SETTINGS

lang = "english"
timezone = "Europe/Paris"
notepad = "notepad.exe"
maxLogsArchives = "50"
logsVerbose = "2"
scriptsTimeout = "120"

;========================
; No edits necessary beyond this line.
; If you made some changes, you have to reload and/or restart Neard.
;=======

[2016-04-03 13:10] crazy-max commented on #114
Oui les changements à faire sont bien ceux que j'ai cité, peux-tu m'envoyer le contenu du fichier `neard\alias\phpmyadmin.conf` et également suivre les instructions suivantes et les remonter dans ce ticket: [Found a bug?](https://github.com/crazy-max/neard#found-a-bug).

[2016-04-03 19:04] berthos commented on #114
Je ne vois pas "les instructions suivantes" dans ce nouveau mel.

Voici le contenu de phpmyadmin.conf (le répertoire existe bien) :
Alias /phpmyadmin "D:/App/web/neard/apps/phpmyadmin/phpmyadmin4/4.4.15.2/"

# to give access to phpmyadmin from outside
# replace the lines
#
#        Order Deny,Allow
# Deny from all
# Allow from 127.0.0.1
#
# by
#
#        Order Allow,Deny
#   Allow from all
#

<Dir

[2016-04-03 19:04] berthos commented on #114
Voici les logs
[neard_core_tmp.zip](https://github.com/crazy-max/neard/files/201504/neard_core_tmp.zip)

[2016-04-05 19:15] crazy-max commented on #114
Les "instruction suivantes" c'était le lien à la fin du message : [Found a bug?](https://github.com/crazy-max/neard#found-a-bug).

Dans les logs il n'y a pas tout, vous m'avez juste envoyé le dossier `core/tmp`, il me faut également le contenu du dossier `logs`.

[2016-04-06 13:01] berthos commented on #114
Voici le répertoire logs
[logs.zip](https://github.com/crazy-max/neard/files/206441/logs.zip)

[2016-04-06 13:11] crazy-max commented on #114
Neard n'est pas en mode debug au niveau des logs, vous n'avez pas suivi ce point je pense :
* Change the logsVerbose variable to this value 2 in the neard.conf file.

Revoyez les points ci-dessous et renvoyez-moi les logs :

Je voudrais également savoir à partir de quel lien vous avez téléchargé la version 1.0.17.

[2016-04-06 13:13] berthos commented on #114
Bonjour,

Si le verbose est bien à 2 :
; -- SETTINGS

lang = "english"
timezone = "Europe/Paris"
notepad = "notepad.exe"
maxLogsArchives = "50"
logsVerbose = "2"
scriptsTimeout = "120"

J'ai téléchargé le 1.0.17 sur GitHub

Le mer. 6 avr. 2016 à 15:12, Cr@zy <notifications@github.com> a écrit :

--
Cordialement

Stéphane Bertho
Mon CV : http://www.stephane-bertho.fr/
Mon tel : 07 88 19 87 30

[2016-04-06 13:16] berthos opened #115 "Fichiers conf et ini corrompus lors d'une coupure de courant"
Bonjour,
J'ai subi ce matin une coupure de courant alors que j'utilisais neard.
En voulant relancer neard, j'ai eu un message d'errreur sur l'absence de trayicon dans le fichier ini.

En regardant, en fait, le fichier conf et ini étaient remplis de NUL

Heureusement, j'avais une sauvegarde de neard.

Je ne sais pas si ce phénomène est débugable.

[2016-04-06 13:19] crazy-max commented on #114
Ok, pouvez-vous arrêter neard, supprimer le contenu du répertoire logs, exécuter neard, vous rendre sur http://localhost/phpmyadmin, zipper le répertoire logs et me le renvoyer ?

Vous avez utilisé le lien suivant pour le téléchargement : https://github.com/crazy-max/neard/releases/download/v1.0.17/neard-1.0.17.zip ?

[2016-04-06 14:46] berthos commented on #114
Voici les nouveaux logs
[logs.zip](https://github.com/crazy-max/neard/files/206634/logs.zip)

[2016-04-06 15:09] crazy-max commented on #114
J'ai repéré plusieurs problèmes.

* Erreur executable introuvable dans : `D:/App/web/neard-1.0.17/neard/tools/notepad2/notepad24.2.25/Notepad2.exe`. Vérifiez que le dossier notepad24.2.25 est bien présent le mieux étant de reprendre celui dans le zip de Neard 1.0.17.
* Comme pour le premier point, le répertoire `D:/App/web/neard-1.0.17/neard/bin/nodejs/nodejs0.12.9` est introuvable. Vérifiez que l

[2016-04-06 15:14] crazy-max commented on #115
Bonjour,

En effet ça risque d'être compliqué sans logs.

[2016-04-06 15:14] #115 closed

[2016-04-06 15:18] crazy-max commented on #114
Si vous voulez repartir d'une base propre de Neard je vous conseille :
* de remettre votre sauvegarde de la 1.0.15
* exécuter Neard
* exporter vos base de données avec phpMyAdmin
* stopper Neard
* de sauvegarder les répertoires ssl, vhosts, www
* mettre de côté neard.conf
* une fois les bdd et dossiers mis de côté, supprimer tout et dézipper Neard 1.0.17
* comparer et adapter le fichier neard.conf

[2016-04-07 06:46] berthos commented on #114
Bonjour,

Je suis reparti du zip dont vous m'avez donné le lien.
En relançant en mode debug, j'ai toujours les mêmes erreurs et en regardant dans le zip :
- il n'y a pas le nodejs0.12.9, il n'y a que le nodejs0.12.4 et le nodejs0.10.22
- il n'y a pas le Notepad2.exe
Je vais essayer de les installer individuellement.

[2016-04-07 12:13] berthos commented on #114
Bonjour,

Tout est revenu à la normale. Je suis en version 1.0.17

Merci pour le support et merci pour vos développements sur Neard.

Vous pouvez fermer le ticket

[2016-04-07 12:40] crazy-max commented on #114
Ok tant mieux :)

[2016-04-07 12:40] #114 closed

[2016-04-07 16:46] crazy-max commented on #114
Je mettrais des instructions plus détaillées pour les  montées en version désormais

[2016-04-07 16:49] berthos commented on #114
Merci pour nous

Le jeu. 7 avr. 2016 18:46, Cr@zy <notifications@github.com> a écrit :

--
Cordialement

Stéphane Bertho
Mon CV : http://www.stephane-bertho.fr/
Mon tel : 07 88 19 87 30

[2016-04-07 22:22] crazy-max commented on #112
I've got bad format error, can you check those lines :

* switchVersionOkRestart (line 126)
* aliasRemoveError (line 160)

Thanks

[2016-04-08 08:25] berthos opened #116 "Add aliases doesn't work with quote or accented letters or special letters"
Perhaps it would be good to specify that add aliases doesn't work with quote or accented letters or special letters.

There is no warning when I have tried to create the alias "De l'Aleph à l'@" but the file created was : "De l'Aleph Ã  l'"  without the extension.

[2016-04-08 19:37] Jmos commented on #112
Unfortunately I didn't find any malformed line I retyped those two line but both has @nl@ sequence. Can put any space before or after it?
[neard_hungarian_translation(2).zip](https://github.com/crazy-max/neard/files/210758/neard_hungarian_translation.2.zip)

[2016-04-08 21:35] crazy-max commented on #112
The bad formats come from my internal unit testing, not the final result. Here is why for example :

In english on line 126 we have :
`switchVersionOkRestart = "%s version switched successfully to %s@nl@Press OK to restart %s ..."`

Contains 3 `%s` and 1 `@nl@`

In your hungarian file you have :
`switchVersionOkRestart = "A %s verzió sikeresen cserélve %s-re@nl@Nyomj OK-t újraindításhoz"`

Contain

[2016-04-08 21:37] crazy-max commented on #116
Of course an alias must be alphanumeric without special chars.
I will add a warning.

[2016-04-08 21:43] crazy-max opened #117 "Check valid domain name when adding vhost"
Linked to issue #116

[2016-04-08 22:56] Jmos commented on #112
Sorry I look but not see but now is corrected
[neard_hungarian_translation(3).zip](https://github.com/crazy-max/neard/files/210974/neard_hungarian_translation.3.zip)

[2016-04-08 22:56] crazy-max commented on #112
Ok thanks

I looked for the problem with special chars and unfortunately Aestan Tray Menu cannot handled these chars `ő Ő ű Ű`.
So i implement a functionnality to replace on fly the chars `ő Ő ű Ű` with standard chars `o O u U`.
Do you notice others missing chars ?

[2016-04-08 23:07] Jmos commented on #112
No other accent chars seems be correct

[2016-04-08 23:09] crazy-max commented on #112
Ok thanks for your time!

[2016-04-08 23:11] crazy-max commented on #42
I will keep Console2 for the moment, it mixes well with TCCLE.

[2016-04-08 23:11] #42 closed

[2016-04-08 23:11] #41 closed

[2016-04-13 12:30] in-code opened #118 "Always need a restart to run Neard"
Hi,
every time I first start Neard a message appear who ask me to restart to apply new parameters. Then it work fine but I have to wait twice to start the app.

In French:
![nearparametersrestart](https://cloud.githubusercontent.com/assets/12280987/14493204/7d86f5d4-0184-11e6-879a-d8650d43106a.png)

Can you help me to fix this?

[2016-04-16 08:38] btoplak commented on #118
The same happens to me! It's a bit annoying so it would be great if there was some workaround.

Btw. congrats on great piece of software!

[2016-04-16 10:02] crazy-max commented on #118
Hi,

Please read "Found a bug?" section in the README.md and give me the informations.

Thanks

[2016-04-17 17:28] #34 closed

[2016-04-17 17:30] crazy-max opened #119 "Release - Binaries (Apache, PHP, MySQL, etc...)"
Each binary have his own repository.
Check the [Binaries Wiki page](../wiki/Binaries) for more information.

To get notified about new binaries updates, juste click on the binary repository of your choice.
If you just want to follow releases, star binary repository of your choice and subscribe to [Sibbell notifications platform](https://sibbell.com).

[2016-04-17 17:33] crazy-max opened #120 "Release - Apps (phpMyAdmin, Gitlist, Adminer, etc...)"
Each application have his own repository.
Check the [Application Wiki page](../wiki/Applications) for more information.

To get notified about new applications updates, juste click on the application repository of your choice.
If you just want to follow releases, star application repository of your choice and subscribe to [Sibbell notifications platform](https://sibbell.com).

[2016-04-17 17:35] crazy-max opened #121 "Release - Tools (Git, SVN, Console, etc...)"
Each tool have his own repository.
Check the [Tools Wiki page](../wiki/Tools) for more information.

To get notified about new tools updates, juste click on the tool repository of your choice.
If you just want to follow releases, star tool repository of your choice and subscribe to [Sibbell notifications platform](https://sibbell.com).

[2016-04-17 17:38] crazy-max commented on #119
New Apache binary bundle : [2.4.20-r2](https://github.com/crazy-max/neard-bin-apache/releases/tag/r2)

[2016-04-17 17:57] crazy-max commented on #119
New Filezilla Server binary bundle : [0.9.56.1-r2](https://github.com/crazy-max/neard-bin-filezilla/releases/tag/r2)

[2016-04-17 19:04] crazy-max commented on #119
New MariaDB binary bundle : [5.5.48-r2, 10.0.24-r2, 10.1.13-r2](https://github.com/crazy-max/neard-bin-mariadb/releases/tag/r2)

[2016-04-17 20:35] crazy-max commented on #119
New MySQL binary bundle : [5.5.49-r2, 5.6.30-r2](https://github.com/crazy-max/neard-bin-mysql/releases/tag/r2)

[2016-04-17 21:19] crazy-max commented on #119
New Node.js binary bundle : [0.12.13-r3, 4.4.3-r3, 5.10.1-r3](https://github.com/crazy-max/neard-bin-nodejs/releases/tag/r3)

[2016-04-17 22:50] crazy-max commented on #119
* New Apache binary bundle : [2.4.20-r2](https://github.com/crazy-max/neard-bin-apache/releases/tag/r2)
* New Filezilla Server binary bundle : [0.9.56.1-r2](https://github.com/crazy-max/neard-bin-filezilla/releases/tag/r2)
* New MariaDB binary bundle : [5.5.48-r2, 10.0.24-r2, 10.1.13-r2](https://github.com/crazy-max/neard-bin-mariadb/releases/tag/r2)
* New MySQL binary bundle : [5.5.49-r2, 5.6.30-

[2016-04-19 21:35] iansebryk commented on #118
having same problem.  will upload results at next rebooot, because the issue only seems to appear after a reboot.  system is running Win10 Pro with Neard v1.0.17.  other than this somewhat irritating issue, Neard runs flawlessly :100:.  were it not for the long startup time, this would likely be unimportant.  :)

[2016-04-20 09:54] crazy-max commented on #118
@iansebryk After inspecting your logs it seems to come from a reboot of your computer without stop Neard before. Then the service is "marked for delete" (430) so Neard cannot use the service and needs to restart. I will implement a new way to check if the service is already installed and use it if the bin path and arguments are the same.

For the moment the solution is to exit Neard before restart

[2016-04-20 15:26] iansebryk commented on #118
Max: thanks for getting back to me.  for those not privy, Neard requires a restart if you reboot your machine before shutting Neard down.  so if you kill Neard, then reboot, no problem.  this will be looked at in a future release.  so until then: shutdown Neard then machine.  :+1:

[2016-04-20 15:28] iansebryk commented on #118
thank you so much.  good to know what's clicking there.  thank you for all you hard work. :+1:

[2016-04-20 22:30] crazy-max opened #122 "Skip npm-cache clear on startup"

[2016-04-20 22:30] crazy-max opened #123 "Update config files on startup (apps, bins, tools)"

[2016-04-20 22:31] crazy-max opened #124 "Update SVN Apache module path on fly"

[2016-04-20 22:31] crazy-max opened #125 "Change Notepad2 temporary folder location"

[2016-04-20 22:32] crazy-max opened #126 "Move SetEnv tool to core"

[2016-04-20 22:33] crazy-max opened #127 "Generate self-signed certificates with SHA256 digest"

[2016-04-20 22:33] crazy-max opened #128 "Load homepage with ajax requests"

[2016-04-20 22:34] crazy-max opened #129 "Add HostsEditor tool for editing windows Hosts file"

[2016-04-20 22:35] crazy-max opened #130 "Bug while checking port on MariaDB / MySQL"

[2016-04-21 00:32] crazy-max commented on #118
@iansebryk You're welcome and thanks for your support ;)
Btw do you use Filezilla on Neard ? Because the problem seems to be on this binary.

[2016-04-21 21:15] crazy-max commented on #130
Solved on Neard 1.0.18

[2016-04-21 21:15] #130 closed

[2016-04-21 21:15] crazy-max commented on #129
Solved on Neard 1.0.18

[2016-04-21 21:15] #129 closed

[2016-04-21 21:16] crazy-max commented on #128
Solved on Neard 1.0.18

[2016-04-21 21:16] #128 closed

[2016-04-21 21:16] crazy-max commented on #127
Solved on Neard 1.0.18

[2016-04-21 21:16] #127 closed

[2016-04-21 21:16] crazy-max commented on #126
Solved on Neard 1.0.18

[2016-04-21 21:16] #126 closed

[2016-04-21 21:16] crazy-max commented on #125
Solved on Neard 1.0.18

[2016-04-21 21:16] #125 closed

[2016-04-21 21:16] crazy-max commented on #124
Solved on Neard 1.0.18

[2016-04-21 21:16] #124 closed

[2016-04-21 21:16] crazy-max commented on #123
Solved on Neard 1.0.18

[2016-04-21 21:16] #123 closed

[2016-04-21 21:16] crazy-max commented on #122
Solved on Neard 1.0.18

[2016-04-21 21:16] #122 closed

[2016-04-21 21:16] crazy-max commented on #118
Solved on Neard 1.0.18

[2016-04-21 21:16] #118 closed

[2016-04-21 21:16] crazy-max commented on #117
Solved on Neard 1.0.18

[2016-04-21 21:16] #117 closed

[2016-04-21 21:16] crazy-max commented on #116
Solved on Neard 1.0.18

[2016-04-21 21:16] #116 closed

[2016-04-21 21:18] crazy-max commented on #112
Added on Neard 1.0.18
I will keep that ticket opened to notify you if i change languages
Thanks for your support!

[2016-04-21 21:20] crazy-max commented on #54
Ant tasks added on Neard and subrepositories (bins, apps and tools)
Check [neard-dev](https://github.com/crazy-max/neard-dev) repository for more info.

[2016-04-21 21:20] #54 closed

[2016-04-21 22:45] crazy-max commented on #112
Some changes have been made, please check [this diffrences](https://github.com/crazy-max/neard/commit/c280bccaa1aa1824e87eb5e4d38d773cc0d27f59#diff-85f40e111ca1cc6ca5be49b33b00495a) from the latest release (1.0.18) and send me back your .lng
Thanks!

[2016-04-21 22:56] crazy-max opened #131 "Lang - Swedish"
Some sentences have not been translated :

[code]

[2016-04-24 11:15] joey-rewainy opened #132 "Database on MariaDB Not Seen"
The same database is only visible to php file if it is on the MySQL, but if i remove it from MySQL and upload it on MariaDB instead the file does not seem to even see it, and returns "No database selected" in the browser.
I'm using the latest version of Neard 1.0.18

[2016-04-24 11:20] crazy-max commented on #132
How do you export your database ?
Copy-paste of data folder from MySQL to MariaDB ?

[2016-04-24 11:21] joey-rewainy commented on #132
Using the import function from phpmyadmin

[2016-04-24 11:28] crazy-max commented on #132
Ok in your php script to you specify port 3307 used by MariaDB to access your db ?

[2016-04-24 11:33] joey-rewainy commented on #132
No..?!

[2016-04-24 11:34] crazy-max commented on #132
Here is an example when i export a Wordpress database from MySQL to MariaDB :

[code]

The result :

[code]

[2016-04-24 11:40] crazy-max commented on #132
Can you give me your MySQL and MariaDB version used ?
And the content of `neard.conf` files of MySQL (`neard/bin/mysql/mysqlx.x.x/neard.conf`) and MariaDB (`neard/bin/mysql/mariadbx.x.x/neard.conf`) ?

[2016-04-24 18:33] joey-rewainy commented on #132
mariadbVersion = "5.5.34"
mariadbExe = "bin/mysqld.exe"
mariadbCliExe = "bin/mysql.exe"
mariadbAdmin = "bin/mysqladmin.exe"
mariadbConf = "my.ini"
mariadbPort = "3306"

bundleRelease = "r1"

mysqlVersion = "5.5.24"
mysqlExe = "bin/mysqld.exe"
mysqlCliExe = "bin/mysql.exe"
mysqlAdmin = "bin/mysqladmin.exe"
mysqlConf = "my.ini"
mysqlPort = "3308"

bundleRelease = "r1"

[2016-04-24 18:37] crazy-max commented on #132
Ok so you have changed :
* MySQL port from 3306 to 3308
* MariaDB port from 3307 to 3306

Then the code would be :
[code]

[2016-04-25 10:39] joey-rewainy commented on #132
Finally managed to get it to work, cheers Max!

[2016-04-25 11:24] #132 closed

[2016-04-28 06:33] berthos opened #133 "When I have updated from 1.0.17 to 1.0.18, I have lost a user in phpmyadmin"
Only the basic users appeared in phpmyadmin.

[2016-04-28 07:59] Jmos opened #134 "mySQL status on Home page"
Incorrect mysql running status homepage sugest stopped but running

Details
![mysql](https://cloud.githubusercontent.com/assets/5389792/14878845/5c3759a2-0d26-11e6-8c92-d6bb5fa1a2af.png)
Verbose [Log](https://www.sendspace.com/file/4hj82a)

[Core temp](https://www.sendspace.com/file/bs2yfz)

win7x64 Neard  1.0.18

[2016-04-28 08:25] crazy-max commented on #134
There is something in the error log :

[code]

Do you changed mysql root password ?

[2016-04-28 08:29] crazy-max commented on #133
MySQL and MariaDB users are embedded in the data of the db engine.
During the update do you change or overwrite the folder `neard\bin` ?

[2016-04-28 10:42] Jmos commented on #134
Yes i changed because a development purpose I need change some were else

On Thu, Apr 28, 2016 at 10:25 AM, Cr@zy <notifications@github.com> wrote:

--
-------------------------------------------
mailto:janos.meggyeshazi@gmail.com
+36 20 776 9514

[2016-04-28 11:44] crazy-max commented on #134
Hum ok i will make an improvement on Neard to be able to change the MySQL / MariaDB root password

[2016-04-28 11:56] Jmos commented on #134
Tanx

On Thu, Apr 28, 2016 at 1:44 PM, Cr@zy <notifications@github.com> wrote:

--
-------------------------------------------
mailto:janos.meggyeshazi@gmail.com
+36 20 776 9514

[2016-05-03 17:53] iansebryk opened #135 "load localhost page regardless of update status"
whenever an update is available the localhost page doesn't load at all; only the option to download the new update appears.  can i either bypass this or enable the page to continue to load underneath?  i don't upgrade until the scheduled maintenance block so it would be nice to still have the localhost page load underneath the upgrade banner so i can keep my workflow going.  :)

love the software.

[2016-05-04 09:21] crazy-max commented on #135
Can you send me a screenshot of your homepage and your Firebug or Chrome console ?
I just saw a problem retrieving the latest changelog in the logs maybe there is an issue.

[2016-05-04 14:39] crazy-max commented on #135
And give me you Apache / PHP version too!

[2016-05-04 15:36] iansebryk commented on #135
here you go.  and i'm running Neard 1.0.17 with the version of Apache/PHP that bundle deploys; looks like 2.2.22 and 5.3.13 respectively

[logs.zip](https://github.com/crazy-max/neard/files/249069/logs.zip)
![neard-localhost-at-update](https://cloud.githubusercontent.com/assets/1943574/15019452/51e0e2d4-11db-11e6-9887-194300d39396.JPG)

on a side note, how do i disable the FTP server?  i don't nee

[2016-05-04 15:39] crazy-max commented on #135
You're welcome ;)

Do you have the `logs/neard-error.log` file for me ?

To disable Filezilla :
* Left Click on tray icon
* Filezilla > Service > Launch on startup

[2016-05-04 16:44] iansebryk commented on #135
the link to the logs.zip is just above the image.  it's easy to overlook.  :)  i just zipped the whole 'logs' folder.

[2016-05-04 16:48] crazy-max commented on #135
Ok there's effectively a bug.
Will be solved in the next release!

[2016-05-04 22:58] crazy-max commented on #133
Up @berthos ?

[2016-05-05 19:29] crazy-max commented on #119
* New PHP binary bundle : [5.5.35-r7, 5.6.21-r7, 7.0.6-r7](https://github.com/crazy-max/neard-bin-php/releases/tag/r7)
* New MailHog binary bundle : [0.2.0-r1](https://github.com/crazy-max/neard-bin-mailhog/releases/tag/r1)

[2016-05-05 19:38] crazy-max commented on #120
* New PhpMetrics tool : [1.0.1-r1, 1.1.1-r1, 1.9.2-r1](https://github.com/crazy-max/neard-tool-phpmetrics/releases/tag/r1)
* New WP-CLI tool : [0.12.1-r1, 0.13.0-r1, 0.14.1-r1, 0.15.1-r1, 0.16.0-r1, 0.17.2-r1, 0.18.1-r1, 0.19.3-r1, 0.20.4-r1, 0.21.1-r1, 0.22.0-r1, 0.23.1-r1](https://github.com/crazy-max/neard-tool-wpcli/releases/tag/r1)
* New Drush tool : [5.9.0-r1, 6.7.0-r1, 7.3.0-r1, 8.1.0-r1](h

[2016-05-05 19:39] crazy-max commented on #121
* New PhpMetrics tool : [1.0.1-r1, 1.1.1-r1, 1.9.2-r1](https://github.com/crazy-max/neard-tool-phpmetrics/releases/tag/r1)
* New WP-CLI tool : [0.12.1-r1, 0.13.0-r1, 0.14.1-r1, 0.15.1-r1, 0.16.0-r1, 0.17.2-r1, 0.18.1-r1, 0.19.3-r1, 0.20.4-r1, 0.21.1-r1, 0.22.0-r1, 0.23.1-r1](https://github.com/crazy-max/neard-tool-wpcli/releases/tag/r1)
* New Drush tool : [5.9.0-r1, 6.7.0-r1, 7.3.0-r1, 8.1.0-r1](h

[2016-05-05 20:49] crazy-max commented on #135
Solved on Neard 1.0.19

[2016-05-05 20:49] #135 closed

[2016-05-05 20:50] crazy-max commented on #134
Solved on Neard 1.0.19

You will have to change the root password in MySQL and/or MariaDB menu :
* Left click on Neard tray icon
* MySQL/MariaDB > Service > Change root password

[2016-05-05 20:50] #134 closed

[2016-05-05 20:59] crazy-max commented on #131
Since 1.0.19 :

[code]

[2016-05-05 21:00] crazy-max commented on #112
Since 1.0.19 :

[code]

[2016-05-05 21:01] crazy-max commented on #32
Solved on Neard 1.0.19 with MailHog

[2016-05-05 21:01] #32 closed

[2016-05-05 21:01] crazy-max commented on #31
Solved

[2016-05-05 21:01] #31 closed

[2016-05-05 21:02] crazy-max commented on #28
Instructions on [Translation Wiki page](../wiki/Translation)

[2016-05-05 21:02] #28 closed

[2016-05-06 07:08] #133 closed

[2016-05-10 15:15] crazy-max commented on #119
* New Node.js binary bundle : [0.10.45-r4, 0.12.14-r4, 4.4.4-r4, 5.11.1-r4, 6.1.0-r4](https://github.com/crazy-max/neard-bin-nodejs/releases/tag/r4)

[2016-05-11 18:46] iansebryk opened #136 "Create an installer"
i appreciate this may be a stupid question, but HOW do i upgrade to the new release without blowing away my databases and settings?  i've looked everywhere (i think) for an answer, but no such luck.  forgive me if this is a stupid question, but this stupid questioner would like to know.  :)

[2016-05-11 22:38] crazy-max commented on #136
Hi, all instructions tu upgrade from previous release are added in the [CHANGELOG.md](https://github.com/crazy-max/neard/blob/master/CHANGELOG.md) for each release.
See the [FAQ on the Wiki](https://github.com/crazy-max/neard/wiki/FAQ).
Note: If for example you are on 1.0.17 and want to upgrade to 1.0.19 you have to update first to 1.0.18 and follow the instructions in the CHANGELOG.md.

[2016-05-11 22:59] crazy-max commented on #121
* New Composer tool bundle : [1.1.0-r2](https://github.com/crazy-max/neard-tool-composer/releases/tag/r2)
* New PHPUnit tool bundles : [4.8.25-r2, 5.3.4-r2](https://github.com/crazy-max/neard-tool-phpunit/releases/tag/r2)

[2016-05-12 20:52] crazy-max commented on #121
* New Drush tool bundle : [8.1.2-r3](https://github.com/crazy-max/neard-tool-drush/releases/tag/r3)
* New Git tool bundle : [2.8.2-r3](https://github.com/crazy-max/neard-tool-git/releases/tag/r3)
* New ImageMagick tool bundles : [6.9.3-10-r4, 6.9.4-0-r4, 7.0.1-2-r4](https://github.com/crazy-max/neard-tool-imagemagick/releases/tag/r4)

[2016-05-12 20:53] crazy-max commented on #119
* New Filezilla binary bundle : [0.9.57-r3](https://github.com/crazy-max/neard-bin-filezilla/releases/tag/r3)

[2016-05-13 08:17] berthos opened #137 "MailHog error with neard-1.0.19"
See the attached file
[erreur.zip](https://github.com/crazy-max/neard/files/262780/erreur.zip)

[2016-05-13 14:24] crazy-max commented on #137
Do you try to upgrade from a previous release ?
Logs and scripts are mixed up and it's pretty hard to resolve. And there is no neard-startup.log it's strange.
Please read [Reporting an issue Wiki page](https://github.com/crazy-max/neard/wiki/Reporting-an-issue) and give me all informations.

[2016-05-13 17:31] iansebryk commented on #136
okay.  upgrade complete and working great.  my only remaining question then is can we simple replace the .conf file instead of adding/changing the lines?  just trying to minimize tedium moving forward with a little Perl perhaps...  :)

[2016-05-14 12:15] crazy-max commented on #136
Mmmh no you can't overwrite the conf file because you can have many different versions of bins / tools / applications.
I will implement a new way to upgrade with a basic setup based on InnoSetup in the next release.

[2016-05-14 20:52] berthos commented on #137
I am using the 1.0.18.

[2016-05-15 00:07] crazy-max commented on #137
Can you provide new logs like i said because neard-startup is missing.
Thanks

[2016-05-20 05:18] iansebryk opened #138 "Where is filezilla_admin.bat?"
i'm wanting to get an FTP server running but i can't find the filezilla_admin.bat file that launches the UI for setting up users and groups.  tough to run a server without those.  :)  can you illuminate plz?  is there a neard way to do it instead?

thank you.  :)

[2016-05-21 11:12] Jmos commented on #138
Here admin ui this is 0.9.47
[FileZilla Server Interface.zip](https://github.com/crazy-max/neard/files/275834/FileZilla.Server.Interface.zip)

[2016-05-21 13:00] crazy-max commented on #138
@iansebryk Today Neard does not provide the FileZilla Server Interface. But like @Jmos said you can easily copy/paste the `FileZilla Server Interface.exe` from offical binaries on Filezilla Website.
On the next release i will integrate the admin interface.

[2016-05-21 20:22] iansebryk commented on #138
@Jmos, thank you for the handy link!  @crazy-max, you are amazing!  best foundation tool ever.  indispensible now.  thank you.

[2016-06-06 09:38] #137 closed

[2016-06-19 17:54] Jmos opened #139 "PHP info"
Php info link and apc manager link point to localhost only

[2016-06-20 19:20] crazy-max commented on #121
* New Composer tool bundle : [1.1.2-r3](https://github.com/crazy-max/neard-tool-composer/releases/tag/r3)
* New Git tool bundle : [2.9.0-r4](https://github.com/crazy-max/neard-tool-git/releases/tag/r4)
* New ImageMagick tool bundles : [6.9.4-9-r5, 7.0.2-0-r5](https://github.com/crazy-max/neard-tool-imagemagick/releases/tag/r5)
* New Notepad2-mod tool bundles : [4.2.25.972-r2, 4.2.25.980-r2](https:

[2016-06-20 21:49] crazy-max commented on #119
* New MariaDB binary bundles : [5.5.50-r4, 10.0.25-r4, 10.1.14-r4](https://github.com/crazy-max/neard-bin-mariadb/releases/tag/r4)
* New MySQL binary bundles : [5.5.50-r5, 5.6.31-r5, 5.7.13-r5](https://github.com/crazy-max/neard-bin-mysql/releases/tag/r5)
* New Node.js binary bundle : [4.4.5-r5, 6.2.2-r5](https://github.com/crazy-max/neard-bin-nodejs/releases/tag/r5)
* New PHP binary bundle : [5.5

[2016-06-21 16:48] crazy-max commented on #120
* New Adminer app bundle : [4.2.5-r3](https://github.com/crazy-max/neard-app-adminer/releases/tag/r3)
* New phpMyAdmin app bundle : [4p3-r5](https://github.com/crazy-max/neard-app-phpmyadmin/releases/tag/r5)
* New Webgrind app bundle : [1.3.1-r3](https://github.com/crazy-max/neard-app-webgrind/releases/tag/r3)

[2016-06-22 21:42] crazy-max commented on #138
On the next release you'll have an Administration button in the Filezilla menu :

![image2](https://cloud.githubusercontent.com/assets/1951866/16284739/f0476ff6-38d2-11e6-8fc1-b8cac22829c7.png)

[2016-06-23 17:37] crazy-max commented on #138
Solved on Neard 1.0.20

[2016-06-23 17:37] #138 closed

[2016-06-23 17:37] crazy-max commented on #139
Solved on Neard 1.0.20

[2016-06-23 17:37] #139 closed

[2016-06-23 17:38] crazy-max commented on #131
Since 1.0.20 :

[code]

[2016-06-23 17:39] crazy-max commented on #112
Since 1.0.20 :

[code]

[2016-06-27 03:31] dmccan opened #140 "Problem with core?"
I followed the instruction in reporting an issue, but no log files were created in core/tmp.

I downloaded the zip file of the master branch an hour ago.  I followed the instructions in the change log for the required items.  I launched neard, but there were no loading progress bars and I could not access localhost.  I removed the 'core' directory that I had copied over and put the old back and ne

[2016-06-27 05:29] crazy-max commented on #140
The source code of the master branch is not for end user.
You have to download the package (`neard-x.x.x.7z` or `neard-x.x.x.zip`) from [Releases](https://github.com/crazy-max/neard/releases).

[2016-06-28 08:38] #140 closed

[2016-06-28 13:58] dmccan commented on #140
Thanks.  Sorry for the churn.

[2016-06-30 09:27] thaasch opened #141 "Change start service and stop service menu icons"
The icon start service and stop service are mixed up.

[2016-06-30 12:54] crazy-max commented on #141
Hi,

Can you include these information please :
* What is your operating system and platform (eg. Windows 7 64-bits).
* Neard version (eg. 1.0.0) and the previous version in case of upgrade.
* A screenshot of your issue

Thanks

[2016-07-04 08:09] thaasch commented on #141
I´m using Windows 10 (64-bits)
Neard 1.0.20
![neard](https://cloud.githubusercontent.com/assets/8377690/16554461/51569f88-41cf-11e6-8f02-ee4cece6cd4e.png)

[2016-07-04 08:14] crazy-max commented on #141
Ok thanks

[2016-07-06 15:14] Jmos commented on #112
I hope it's not to late
[hungarian translation 1.0.20](https://github.com/crazy-max/neard/files/350173/hungarian.zip)

[2016-07-06 18:27] crazy-max commented on #112
Never too late! Thanks

[2016-07-10 10:11] crazy-max commented on #112
Will be available in the next release.

[2016-07-12 15:06] myspulin opened #142 "mariadb10.1.14 configuration error"
I have tried to install neard-mariadb-10.1.14-r4 module but database did not start, I have got an error. After investigation I found out that there is a bad path in my.ini configuration file. It contains path of the previous version:

basedir=D:/neardnew/bin/mariadb/mariadb10.1.13
log-error=D:/neardnew/logs/mariadb.log
datadir=D:/neardnew/bin/mariadb/mariadb10.1.13/data

When I change that to 10.1

[2016-07-12 16:22] crazy-max commented on #142
Oh damn!
Will be updated asap!

Thanks for your support!

[2016-07-12 16:57] crazy-max opened #143 "Add PostgreSQL bin"

[2016-07-20 05:10] ciptamedia opened #144 "Ioncube Loader"
Is possible to add ioncube loader module to Neard?

[2016-07-20 08:43] crazy-max opened #145 "Add Memcached server and phpMemAdmin"

[2016-07-20 08:43] crazy-max commented on #144
Of course

[2016-07-27 20:21] hajro92 opened #146 "After start, icon appear in taskbar and cannot right click or anything on it."
When I move mouse over icon it says "None of 4 services are running".
Tried to run as Administrator too and still can't make it work.

[2016-07-28 15:45] hajro92 commented on #146
Here is content from **neard-error.log**
`[28-Jul-2016 17:40:30 Europe/Paris] PHP Fatal error:  Allowed memory size of 134217728 bytes exhausted (tried to allocate 38 bytes) in C:\Users\hajro\Desktop\neard-master\core\classes\class.langproc.php on line 67
========================================================================================
[28-Jul-2016 17:40:32 Europe/Paris] PHP Fatal error:  A

[2016-07-29 07:28] crazy-max commented on #146
Hi,

Please read and apply the [Reporting an issue](https://github.com/crazy-max/neard/wiki/Reporting-an-issue) page.

[2016-07-29 13:36] Progi1984 opened #147 "Installer"
Ce qu'il manque, c'est un installeur à votre projet.
- Cela vérifierait les prérequis
- Cela vérifierait que tout cela lance bien

[2016-07-29 15:31] hajro92 commented on #146
Operating system: **Windows 7 (64 bits)**
Neard version: **1.0.0.0**
Log/screenshot: [https://www.sendspace.com/file/t7sgsd](https://www.sendspace.com/file/t7sgsd)

[2016-07-29 15:39] hajro92 commented on #146
I just downloaded version 1.0.20 and it works!!

[2016-07-29 15:39] #146 closed

[2016-07-29 15:39] crazy-max commented on #146
Yes 1.0.0 is a pretty old release ;)

[2016-07-29 15:40] crazy-max commented on #147
It's already on my todolist ;)

[2016-08-04 21:03] motikarq opened #148 "Not starting"
Hey there,

I have downloaded release.version = 1.0.20
When I try to start it, only the icon appears in the traybar, but no GUI or whatsoever.
Using Windows 10 x64.

[2016-08-17 10:13] crazy-max commented on #148
Hi,

Please read and apply the [Reporting an issue](https://github.com/crazy-max/neard/wiki/Reporting-an-issue) page.

[2016-08-17 10:30] crazy-max opened #149 "Launch on startup option for Mailhog not implemented"

[2016-08-21 13:02] coffeemart commented on #148
Same problem neard don´t start. I installed  Neard Visual C++ Redistributables Package. I start neard.exe An icon appears but when the mouse passes over it only shows a message "none of 4 services running" and localhost shows blank page. Thanks if any help available My windows 10/64

[2016-08-21 13:22] crazy-max commented on #148
Hi,

What link do you used to download Neard ?

[2016-08-21 21:21] coffeemart commented on #148
Hi.. at home page I selected Clone or download button then download the zip file

[2016-08-22 07:26] crazy-max commented on #148
"Clone or download" button is to download the sources, not the final package.
You have to go to the [Releases page](https://github.com/crazy-max/neard/releases) and download the zip or 7z file.

[2016-08-24 09:27] #148 closed

[2016-09-10 07:50] sr9yar opened #150 "No menu on tray icon"
After starting neard.exe, I can see the traffic lights  icon, but nothing happens when I click it. I guess, I'm supposed to see the menu though :)
windows 10 Pro 64bit, neard v1.0.20, no logs are produced.
Tried on two win10 computers.

[2016-09-11 21:17] crazy-max commented on #150
Hi,

What is the link you used to download Neard?

[2016-10-04 12:34] ehelgueroc opened #151 "How to change PHP versiosn"
Hello, I need to change the php version from 5.3.2 to 5.5, is there any way to do this?

[2016-10-04 12:37] crazy-max commented on #151
Hi,

Check the Wiki : https://github.com/crazy-max/neard/wiki/binPHP

[2016-10-04 12:41] #150 closed

[2016-10-04 12:51] ehelgueroc commented on #151
Sorry, i didnt see it. Perfect.

[2016-10-04 12:51] #151 closed

[2016-10-08 16:17] crazy-max commented on #120
* New phpMyAdmin app bundle : [4p4-r6](https://github.com/crazy-max/neard-app-phpmyadmin/releases/tag/r6)
* New Webgrind app bundle : [1.4.0-r4](https://github.com/crazy-max/neard-app-webgrind/releases/tag/r4)

[2016-10-14 12:45] crazy-max opened #152 "Bug on install service item menu"
On install service item menu, all services except Apache cannot be installed (dynamic load problem)

[2016-10-18 14:50] crazy-max opened #153 "Replace launchStartup with enable for binaries"

[2016-10-23 16:48] crazy-max commented on #141
Solved on Neard 1.0.21

[2016-10-23 16:48] #141 closed

[2016-10-23 16:48] crazy-max commented on #143
Solved on Neard 1.0.21

[2016-10-23 16:48] #143 closed

[2016-10-23 16:49] crazy-max commented on #145
Solved on Neard 1.0.21

[2016-10-23 16:49] #145 closed

[2016-10-23 16:49] crazy-max commented on #149
Solved on Neard 1.0.21

[2016-10-23 16:49] #149 closed

[2016-10-23 16:49] crazy-max commented on #152
Solved on Neard 1.0.21

[2016-10-23 16:49] #152 closed

[2016-10-23 16:49] crazy-max commented on #153
Solved on Neard 1.0.21

[2016-10-23 16:49] #153 closed

[2016-10-23 16:52] crazy-max commented on #112
Since 1.0.21 :

[code]

[2016-10-23 16:53] crazy-max commented on #131
Since 1.0.21 :

[code]

[2016-10-23 17:04] crazy-max commented on #119
* New PostgreSQL binary bundles : [9.1.22-r1, 9.2.17-r1, 9.3.13-r1, 9.4.8-r1, 9.5.3-r1, 9.6.0-r1](https://github.com/crazy-max/neard-bin-postgresql/releases/tag/r1)
* New Node.js binary bundles : [0.10.47-r6, 0.12.16-r6, 4.6.0-r6, 5.12.0-r6, 6.7.0-r6](https://github.com/crazy-max/neard-bin-nodejs/releases/tag/r6)
* New MySQL binary bundles : [5.5.52-r7, 5.6.33-r7, 5.7.15-r7](https://github.com/cra

[2016-10-23 17:07] crazy-max commented on #120
* New phpPgAdmin app bundle : [5.2-r2](https://github.com/crazy-max/neard-app-phppgadmin/releases/tag/r2)
* New Webgrind app bundle : [1.4.0-r4](https://github.com/crazy-max/neard-app-webgrind/releases/tag/r4)
* New phpMyAdmin app bundle : [4p4-r6](https://github.com/crazy-max/neard-app-phpmyadmin/releases/tag/r6)
* New phpMemAdmin app bundle : [0.3.1-r1](https://github.com/crazy-max/neard-app-php

[2016-10-23 17:13] crazy-max commented on #121
* New WP-CLI tool bundle : [0.24.1-r2](https://github.com/crazy-max/neard-tool-wpcli/releases/tag/r2)
* New PHPUnit tool bundles : [4.8.27-r4, 5.4.8-r4, 5.5.7-r4, 5.6.1-r4](https://github.com/crazy-max/neard-tool-phpunit/releases/tag/r4)
* New Notepad2-mod tool bundle : [4.2.25.985-r3](https://github.com/crazy-max/neard-tool-notepad2mod/releases/tag/r3)
* New ImageMagick tool bundles : [6.9.6-1-r6

[2016-10-23 23:06] crazy-max commented on #147
Duplicate of #136

[2016-10-23 23:06] #147 closed

[2016-10-23 23:20] crazy-max opened #154 "Add Ruby tool"

[2016-10-23 23:20] crazy-max opened #155 "Add Perl"

[2016-10-24 11:15] crazy-max opened #156 "Bug while enable binary"
Undefined variable: port

[2016-10-25 23:56] crazy-max opened #157 "Add Yarn"
JavaScript dependency manager

[2016-10-25 23:59] crazy-max opened #158 "Move Node.js to tools"

[2016-10-28 15:16] crazy-max commented on #144
Steps to add Ioncube Loader inside Neard :
* Download a loader based on your php version : https://www.ioncube.com/loaders.php
  * PHP 5.2 : Windows VC6 (32 bits)
  * PHP 5.3 : Windows VC9 (32 bits)
  * PHP 5.4 : Windows VC9 (32 bits)
  * PHP 5.5 : Windows VC11 (32 bits)
  * PHP 5.6 : Windows VC11 (32 bits)
  * PHP 7.0 : Windows VC14 (32 bits)
* Copy the dll inside your php folder `ioncube_loader_

[2016-10-28 15:16] #144 closed

[2016-11-02 16:20] wblondel opened #160 "Can't switch PostgreSQL version"
Hi!

I've downloaded PostgreSQL version 9.5.3 and 9.6.0 from here : https://github.com/crazy-max/neard/wiki/binPostgreSQL#releases
When I try to switch version, I get this error :

![2016-11-02_17h25_28](https://cloud.githubusercontent.com/assets/7508531/19937393/6204ab16-a121-11e6-85dc-260dd860d475.png)

I checked in the folder and there is a neard.conf, so I don't understand :/
I'm using Neard 1

[2016-11-02 18:04] wblondel opened #161 "30% CPU usage for 2 minutes while generating SSL certificate"
Hi,

I'm using Neard 1.0.21, Windows 10 x64 and Apache 2.4.23.

When I add a Virtual Host, it takes 2 minutes to complete the process, and during this time the CPU usage is 30%.

Is it the normal behaviour ?

Thanks

[2016-11-04 00:26] crazy-max commented on #161
Hi,

Probably due to SSL certificate generation.
Can you read the [Reporting an issue]( https://github.com/crazy-max/neard/wiki/Reporting-an-issue) page and post the logs ?

Thanks

[2016-11-04 00:28] crazy-max commented on #160
Hi,

Thanks for your contrib, i think the generation of the data folder failed.
Can you read the [Reporting an issue]( https://github.com/crazy-max/neard/wiki/Reporting-an-issue) and post the logs ?

[2016-11-04 00:49] wblondel commented on #160
Hi,
I posted the logs already, there is GDrive link.

[2016-11-04 00:53] crazy-max commented on #160
Oh yes thx

[2016-11-04 00:55] wblondel opened #162 ""Change root password" doesn't work for PostgreSQL because root user doesn't exist"
Hi,

In the menu of Neard we can change the root password of PostgreSQL.
When we do it it says "Root password changed successfully!", even when no root user exists.
In the logs we can see that it failed.

Indeed, PostgreSQL does not have a root user by default. It has a `postgres ` user though (see http://serverfault.com/questions/110154/whats-the-default-superuser-username-password-for-postgres-a

[2016-11-04 01:02] crazy-max commented on #162
Yes if you read the FAQ in the wiki, the default root user is postgres with no password
Maybe is there a bug, i will investigate.

[2016-11-04 01:07] wblondel commented on #162
Yep, the bug is that Neard tries to change the password of user 'root' instead of 'postgres'

[2016-11-04 01:33] crazy-max opened #163 "Port undefined error for MariaDB service"

[2016-11-04 10:51] crazy-max commented on #160
There is a side effect while switching PostgreSQL version.
For the moment as a workaournd, you can do this :
* Close Neard
* Open neard.conf file (root folder)
* Replace `postgresqlVersion = "9.4.8"` with `postgresqlVersion = "9.6.0"`
* Start Neard

[2016-11-04 15:06] crazy-max commented on #162
Which version of PostgreSQL bundle do you use ?

[2016-11-04 15:20] wblondel commented on #162
I use version 9.4.8.
[neard.txt](https://github.com/crazy-max/neard/files/571878/neard.txt)

You can see in the config file that I changed the password to "rrr" with the Neard utility. However Neard tried to change the root user password instead of the postgres user password and failed.

[2016-11-08 11:34] crazy-max commented on #161
@wblondel Can you post the logs plz ?

[2016-11-08 11:42] crazy-max commented on #162
I've tried to reproduce without success.
Can you post the logs plz ?

[2016-11-08 13:48] crazy-max commented on #160
This bug implies MySQL >= 5.7 too

[2016-11-08 13:51] crazy-max opened #164 "Forgetting Memcached switch version impl"

[2016-11-08 13:52] #158 closed

[2016-11-11 16:56] crazy-max commented on #157
Yarn can be installed via npm. See [Yarn installation doc](https://yarnpkg.com/en/docs/install#alternatives-tab).

[code]

[2016-11-12 10:36] NazarH opened #165 "Add nginx"
This is a feature request actually. I'd LOVE to have nginx :)

[2016-11-12 10:39] NazarH opened #166 "Add MongoDB"
Explains itself.

[2016-11-12 16:56] crazy-max opened #167 "Use latest OpenSSL release to generate SSL certificate"

[2016-11-12 16:56] crazy-max commented on #167
Linked to #161

[2016-11-12 18:01] crazy-max commented on #161
It's an issue from OpenSSL lib, will be solved on 1.0.22.

[2016-11-12 23:57] crazy-max commented on #162
@wblondel Can you post your logs plz? Thx.

[2016-11-15 09:55] crazy-max opened #168 "Dissociate Apache and SVN"

[2016-11-15 09:56] crazy-max commented on #168
Implies :
* Create a Windows service for SVN server
* Move SVN from Tools to Bins

[2016-11-17 21:59] Jmos commented on #112
Latest see first post

[2016-11-17 23:52] crazy-max commented on #112
Great thx!

[2016-11-24 17:38] 1959didier opened #169 "Problem: Adminer"
Hello, I installed Neard 1.0.21, but when I add PHP7.0.11, Adminer 4.2.5 no longer works.
Do you have a solution to my problem?
Here is my problem, With several lines like this :

[code]

Thank you

[2016-11-24 17:58] crazy-max commented on #169
Hi,

Thanks for your feedback i'll keep you in touch!

[2016-11-24 18:14] crazy-max commented on #169
The [plugin.php](https://raw.githubusercontent.com/vrana/adminer/master/plugins/plugin.php) file from Adminer repository was not updated.
Download the file in `neard\apps\adminer\adminer\adminer4.2.5\plugins\`
Will be solved in the next [neard-app-adminer](https://github.com/crazy-max/neard-app-adminer) release (r5).

[2016-11-24 18:15] 1959didier commented on #169
I thank you very much
I will have another question is it possible to built-in "Neard" HeidiSQL
Thank you

________________________________
De : Cr@zy <notifications@github.com>
Envoyé : jeudi 24 novembre 2016 18:58
À : crazy-max/neard
Cc : 1959didier; Author
Objet : Re: [crazy-max/neard] Problem: Adminer (#169)

Hi,

Thanks for your feedback i'll keep you in touch!

-
You are receiving this becaus

[2016-11-24 18:30] crazy-max commented on #169
New release published on [neard-app-adminer](https://github.com/crazy-max/neard-app-adminer/releases/tag/r5)

[2016-11-24 18:45] #169 closed

[2016-11-28 15:18] crazy-max opened #170 "[MariaDB] New bundles"
5.5.53, 10.0.28, 10.1.19

[2016-11-28 15:20] crazy-max commented on #170
Available : https://github.com/crazy-max/neard/wiki/binMariaDB#releases

[2016-11-28 15:20] #170 closed

[2016-11-28 15:22] crazy-max commented on #119
Now each new release will have his own github issue

[2016-11-28 15:22] #119 closed

[2016-11-28 15:23] crazy-max commented on #121
Now each new release will have his own github issue

[2016-11-28 15:23] #121 closed

[2016-11-28 15:23] crazy-max commented on #120
Now each new release will have his own github issue

[2016-11-28 15:23] #120 closed

[2016-11-28 15:28] crazy-max commented on #162
@wblondel ?

[2016-11-28 19:56] 1959didier opened #171 "Icons into localhost"
Hello, the versions of the applications do not appear in binaries, I always have the icon "loader.gif". Thank you for your help.

[2016-11-28 21:07] crazy-max commented on #171
Hi,

Can you open the developer console in your browser and tell me if there is an error.
Btw what is your apache and PHP version and your browser ?

[2016-11-28 21:12] 1959didier commented on #171
No error in console, version apache 2.4.23 and that of PHP 7.0.11

[2016-11-29 12:39] crazy-max commented on #171
What is your operating system ?
Read the [Reporting an issue page](https://github.com/crazy-max/neard/wiki/Reporting-an-issue) and post the logs plz.

[2016-11-29 15:49] crazy-max opened #172 "New bundles for MySQL"
5.5.53, 5.6.34, 5.7.16

[2016-11-29 16:04] crazy-max opened #173 "New bundles for Node.js"
0.10.48, 0.12.17, 4.6.2, 6.9.1, 7.2.0

[2016-11-29 16:04] crazy-max opened #174 "New bundles for PHP"
5.6.28, 7.0.13

[2016-11-29 16:15] crazy-max commented on #172
Available : https://github.com/crazy-max/neard/wiki/binMySQL#releases

[2016-11-29 16:15] #172 closed

[2016-11-29 17:09] crazy-max commented on #173
Available : https://github.com/crazy-max/neard/wiki/binNode.js#releases

[2016-11-29 17:09] #173 closed

[2016-11-29 17:15] crazy-max opened #175 "Misconfiguration on PHP 7.0.11"
sendmail_from

[2016-11-29 17:27] crazy-max commented on #174
Available : https://github.com/crazy-max/neard/wiki/binPHP#releases

[2016-11-29 17:27] #174 closed

[2016-11-29 17:27] crazy-max commented on #175
Solved on latest release (r10) : https://github.com/crazy-max/neard/wiki/binPHP#releases

[2016-11-29 17:27] #175 closed

[2016-11-29 18:04] 1959didier commented on #171
Hi, I'm sorry I forgot to tell you that I worked on windows 10 x64 version 1607 (version system 14965.1001) release. But problem I synonymous synonymous on windows 7 x64, virtual machine.

[2016-11-29 18:38] crazy-max commented on #171
Ok can you read the [Reporting an issue page](https://github.com/crazy-max/neard/wiki/Reporting-an-issue) and post the logs plz ?

[2016-11-29 19:21] 1959didier commented on #171
Here are all the logs

________________________________
De : Cr@zy <notifications@github.com>
Envoyé : mardi 29 novembre 2016 19:38
À : crazy-max/neard
Cc : 1959didier; Author
Objet : Re: [crazy-max/neard] Icons into localhost (#171)

Ok can you read the Reporting an issue page<https://github.com/crazy-max/neard/wiki/Reporting-an-issue> and post the logs plz ?

-
You are receiving this because you

[2016-11-29 20:06] crazy-max commented on #171
Cant see the link to the logs

[2016-11-29 20:16] 1959didier commented on #171
What log file you want

[2016-11-29 20:20] 1959didier commented on #171
Neard-error.log

[29-Nov-2016 19:20:53 Europe/Paris] PHP Catchable fatal error:  Object of class LangProc could not be converted to string in D:\neard-1.0.21\core\classes\class.bootstrap.php on line 322

[29-Nov-2016 19:20:53 Europe/Paris] PHP Stack trace:

[29-Nov-2016 19:20:53 Europe/Paris] PHP   1. {main}() D:\neard-1.0.21\core\resources\homepage\ajax.php:0

[29-Nov-2016 19:20:53 Europe/Paris]

[2016-11-30 00:32] crazy-max commented on #171
Your release download seems compromised, can you extract the package again on your VM.
If you've got the semae problem, zip the logs folder and send me the zip file.
Thanks

[2016-11-30 19:45] 1959didier commented on #171
Hi,
Here is what I found, when I go back to version 10.1.18 of mariaDB everything works properly

[2016-12-01 16:33] crazy-max commented on #171
Ok! What was your MariaDB version before that ?

[2016-12-01 17:12] 1959didier commented on #171
The version with which I have the problem and 10.1.19

[2016-12-01 19:27] 1959didier commented on #171
I just reproduced the problem, I have a new file of mariaDB10.1.19, then I restart neard, at the first launch everything works, but when I open "adminer" I connect to "maraiDB10.1.19" Goes well, then I close everything then I restart neard, and my problem and income.

[2016-12-01 19:29] 1959didier commented on #171
Even with mariaDB10.1.18 its the same

[2016-12-01 20:10] 1959didier commented on #171
neard-error.log

[01-Dec-2016 21:04:56 Europe/Paris] PHP Catchable fatal error:  Object of class LangProc could not be converted to string in D:\neard-1.0.21\core\classes\class.bootstrap.php on line 322

[01-Dec-2016 21:04:56 Europe/Paris] PHP Stack trace:

[01-Dec-2016 21:04:56 Europe/Paris] PHP Catchable fatal error:  Object of class LangProc could not be converted to string in D:\neard-1.0.21\c

[2016-12-01 20:18] crazy-max commented on #171
Ok thanks for your input.
How do you switch MariaDB version ?

[2016-12-01 20:53] crazy-max commented on #171
I could not reproduce your issue on Windows 7 x64 on a VirtualBox machine :
* Switch version from the default MariaDB bin (5.5.34) to 10.1.19.
* Go to http://localhost/adminer
* Connect to MariaDB in Adminer : OK
* Restart Neard
* Go to http://localhost/adminer
* Connect to MariaDB in Adminer : OK

Can you :
* Close Neard.
* Change the `logsVerbose` variable to this value `2` in the `neard.conf` f

[2016-12-01 21:20] 1959didier commented on #171
My problem appears when I log in to mariadb and i put a password on root / locahost

[2016-12-01 21:21] crazy-max opened #176 "New bundles for PostgreSQL"
9.1.24, 9.2.19, 9.3.15, 9.4.10, 9.5.5, 9.6.1

[2016-12-01 21:48] crazy-max commented on #176
Available : https://github.com/crazy-max/neard/wiki/binPostgreSQL#releases

[2016-12-01 21:48] #176 closed

[2016-12-01 21:57] 1959didier commented on #171
https://www.sendspace.com/file/3fvki3

[2016-12-01 22:01] 1959didier commented on #171
Tell me when you get the file, thank you.

[2016-12-01 22:08] crazy-max commented on #171
Got it thanks

[2016-12-01 22:19] crazy-max commented on #171
Ok it's linked to the issue #163 and will be solved on the next release.

[2016-12-01 22:19] #171 closed

[2016-12-01 22:21] crazy-max commented on #171
Btw what language do you used on Neard ?

[2016-12-02 13:55] crazy-max opened #177 "New bundle for Git"
2.11.0

[2016-12-02 14:07] crazy-max commented on #177
Available : https://github.com/crazy-max/neard/wiki/toolGit#releases

[2016-12-02 14:07] #177 closed

[2016-12-02 14:48] crazy-max opened #178 "New 7.1.x bundle for PHP"

[2016-12-02 14:49] crazy-max opened #179 "Add ssh2 extension to PHP 7.0.x"

[2016-12-02 14:57] crazy-max opened #180 "Upgrade Xdebug extension"
Latest 2.5.0rc1 for PHP 5.5, 5.6, 7.0, 7.1

[2016-12-02 16:38] 1959didier commented on #171
Hi
I use on another computer MariaDB and HeidiSQL, both associate are much faster and less complicated than mySQL, pity there is not HeidiSQL but your program and very interesting by the utilities there is, And which will be useful to me later.

________________________________
De : Cr@zy <notifications@github.com>
Envoyé : jeudi 1 décembre 2016 23:21
À : crazy-max/neard
Cc : 1959didier; Comment
O

[2016-12-02 19:47] crazy-max commented on #171
Hi,

You can open an other issue to implement HeidiSQL but for the moment i'm focus on a complete refactoring of Neard ;)
Btw thanks for your contrib!

[2016-12-02 20:03] 1959didier commented on #171
Hi,

Ok I will do it, and still thank you very much for your help, I look forward to the new version.[👍]

________________________________
De : Cr@zy <notifications@github.com>
Envoyé : vendredi 2 décembre 2016 20:47
À : crazy-max/neard
Cc : 1959didier; Comment
Objet : Re: [crazy-max/neard] Icons into localhost (#171)

Hi,

You can open an other issue to implement HeidiSQL but for the moment i'm f

[2016-12-03 18:37] crazy-max opened #181 "Create 2.0 branch"

[2016-12-03 18:37] crazy-max commented on #181
https://github.com/crazy-max/neard/tree/2.0

[2016-12-03 18:37] #181 closed

[2016-12-05 07:09] 1959didier opened #182 "Add HeidiSQL"

[2016-12-05 16:28] #182 closed

[2016-12-05 16:42] 1959didier opened #183 "Add HeidiSQL"

[2016-12-06 11:47] ziselive opened #184 "python"
Can increase support for python, for example: apache + mod_wsgi + python.

[2016-12-06 12:50] #184 closed

[2016-12-06 12:51] ziselive commented on #184
Looks like there is python

[2016-12-06 13:35] crazy-max commented on #184
Yes indeed, PYthon will be on the next [milestone 1.0.22](https://github.com/crazy-max/neard/milestone/2)

[2016-12-06 20:04] crazy-max commented on #183
Hi,

The implementation of this tool will be reported on the v2 of the app.

[2016-12-07 04:04] iansebryk opened #185 "Windows Script Host Error 80070002 on startup"
on startup i am getting TWO error popups from neard/core/scripts/execSilent.vbs on line 19 reporting that it cannot find the file specified.

![neardvbscripterror](https://cloud.githubusercontent.com/assets/1943574/20954330/793dd00a-bbf7-11e6-89fb-bfe357cdee50.jpg)

i checked and the file it is looking for is unknown, but the offending line is as follows:

`Return = objShell.Run("""" & args(0) & "

[2016-12-07 17:05] crazy-max commented on #185
Hi!

Please read the "Reporting an issue" wiki page.

[2016-12-10 11:56] crazy-max commented on #180
PHP 5.3 : 2.2.7
PHP 5.4 : 2.4.1
PHP 5.5 : 2.5.0
PHP 5.6 : 2.5.0
PHP 7.0 : 2.5.0

[2016-12-10 11:56] #180 closed

[2016-12-10 11:57] crazy-max commented on #179
ssh2-1.0

[2016-12-10 11:57] #179 closed

[2016-12-10 14:22] crazy-max opened #187 "Upgrade Imagick extension"

[2016-12-10 16:06] crazy-max opened #188 "Move custom PHP extensions to a distinct folder"

[2016-12-10 18:26] grzchr15 opened #189 "Is there the search from neard also included/available?"
Please read the 'Reporting an issue' Wiki page before reporting an issue.

[2016-12-10 18:27] grzchr15 commented on #189
-closed- found

[2016-12-10 18:27] #189 closed

[2016-12-11 20:50] crazy-max opened #190 "Add phpDox"
https://github.com/theseer/phpdox

[2016-12-11 20:50] crazy-max opened #191 "Add Selenium standalone"

[2016-12-12 19:05] crazy-max opened #193 "Apache PATH env mixed with LocalSystem env"
From Microsoft KB821761 :

For example if you switch PHP version from 5.3.29 to 5.3.13, the PATH used in Apache environment herits from LocalSystem env and your current env.

More info : https://support.microsoft.com/en-us/kb/821761

[2016-12-14 23:16] crazy-max opened #194 "NameVirtualHost has no effect for Apache > 2.3.11"
From the apache documentation:

[2016-12-14 23:18] crazy-max opened #195 "Remove Apache SVN module"
Now included as a binary since Neard 1.0.22

[2016-12-14 23:20] crazy-max opened #196 "Include mod_fcgid"
To use Apache with PHP as FastCGI instead of PHP Apache module

[2016-12-14 23:23] crazy-max opened #197 "CGI scripts not working in cgi-bin folder"
Forgotten ExecCGI

[2016-12-14 23:46] #178 closed

[2016-12-14 23:46] #187 closed

[2016-12-14 23:46] #188 closed

[2016-12-17 18:43] crazy-max commented on #185
@iansebryk Can you posts the logs please or is it solved ?

[2016-12-17 18:45] crazy-max commented on #98
@pedzed If you dont want Python on Neard you can easily remove it by delete the content of the python folder in `neard\tools\python\`

[2016-12-17 18:46] pedzed commented on #98
No, that's not it. I just wondered about what you meant with Python tool.

[2016-12-17 18:51] iansebryk commented on #185
sorry.  i was in a time crunch.  i just nuked the whole thing and reinstalled.  :P  upside, it also solved the PHPMyAdmin thing too...  apologies about forgetting to UL the logs.

[2016-12-17 18:51] #185 closed

[2016-12-17 19:03] crazy-max commented on #185
No problem thx for your feedback

[2016-12-17 20:13] crazy-max commented on #98
Python tool is in fact the binaries required for node-gyp for example.
It is based on https://winpython.github.io/

[2016-12-17 20:22] crazy-max opened #198 "Cannot switch to trace verbosity"

[2016-12-18 14:03] myspulin opened #199 "PHP 7 Curl and OpenSSL cannot be loaded"
Hello,

I have tried to migrate my project to PHP 7 but I get these errors after start PHP ver. 7.1 and 7.0.13

PHP Warning:  PHP Startup: Unable to load dynamic library 'D:/neard/bin/php/php7.1.0/ext\\php_curl.dll' - %1 nelze spustit.\r\n in Unknown on line 0
PHP Warning:  PHP Startup: Unable to load dynamic library 'D:/neard/bin/php/php7.1.0/ext\\php_openssl.dll' - %1 nelze spustit.\r\n in Unkno

[2016-12-18 14:10] crazy-max commented on #199
Hi @myspulin !

I think this issue is linked to #193
For a quick win you can restart your computer after switching your PHP version or wait for 1.0.22 today ;)
Btw it's Apache 2.4.12 right ?

Regards,

[2016-12-18 14:13] myspulin commented on #199
Hi,

sure, it's of course Apache 2.4.12, thanks for quick answer;-) I can't wait for 1.0.22, thank you!

Regards, Lukas

[2016-12-18 14:15] crazy-max commented on #199
Ok,

Can you try restarting your computer and check if it works ?

Thanks

[2016-12-18 14:22] #162 closed

[2016-12-18 14:22] #2 closed

[2016-12-18 14:59] crazy-max commented on #194
Available : https://github.com/crazy-max/neard/wiki/binApache#releases

[2016-12-18 14:59] #194 closed

[2016-12-18 14:59] crazy-max commented on #197
Available : https://github.com/crazy-max/neard/wiki/binApache#releases

[2016-12-18 14:59] #197 closed

[2016-12-18 14:59] crazy-max commented on #196
Available : https://github.com/crazy-max/neard/wiki/binApache#releases

[2016-12-18 14:59] #196 closed

[2016-12-18 14:59] crazy-max commented on #195
Available : https://github.com/crazy-max/neard/wiki/binApache#releases

[2016-12-18 14:59] #195 closed

[2016-12-18 15:00] #98 closed

[2016-12-18 15:00] #154 closed

[2016-12-18 15:00] #156 closed

[2016-12-18 15:00] #160 closed

[2016-12-18 15:00] #161 closed

[2016-12-18 15:00] #163 closed

[2016-12-18 15:00] #164 closed

[2016-12-18 15:00] #167 closed

[2016-12-18 15:00] #168 closed

[2016-12-18 15:00] #193 closed

[2016-12-18 15:00] #198 closed

[2016-12-18 15:03] crazy-max commented on #112
Since 1.0.22 :

[code]

[2016-12-18 15:03] crazy-max commented on #131
Since 1.0.22 :

[code]

[2016-12-18 15:32] myspulin commented on #199
I did a restart but have no luck, get the same issue, errors are all the same:-( Sorry.

[2016-12-18 15:34] crazy-max commented on #199
Please read the [Reporting an issue](https://github.com/crazy-max/neard/wiki/Reporting-an-issue) page and post logs.

Thanks

[2016-12-18 15:41] crazy-max commented on #191
Can be installed using NPM : https://github.com/vvo/selenium-standalone

[2016-12-18 15:41] #191 closed

[2016-12-18 15:54] myspulin commented on #199
I did some more tests and on Neard v1.0.20 it works normally, the problem is just on my older Neard v1.0.16 installation. So there are probably some binary incompatibility of dll extensions. I will udpate on the latest version, in case you want to go through my logs file after all, let me know, I will upload them somewhere. But I think it is just wasting your time.... Thanks.

[2016-12-18 16:02] crazy-max commented on #199
Hum ok so you were on Neard 1.0.16 and upgrade to 1.0.20 but do you follow the [UPGRADE.md](https://github.com/crazy-max/neard/blob/master/UPGRADE.md) ?

I think the best way is to start from a fresh install of the 1.0.22 release and then migrate your projects from `www` and your MySQL and/or MariaDB databases.
Then recreate your vhosts and aliases.

Keep me in touch

Thanks

[2016-12-20 01:42] crazy-max opened #200 "New bundles for Node.js"
4.7.0, 6.9.2, 7.2.1

[2016-12-20 02:05] crazy-max commented on #200
Available : https://github.com/crazy-max/neard/wiki/binNode.js#releases

[2016-12-20 02:05] #200 closed

[2016-12-27 07:50] berthos opened #201 "Phpmyadmin doesn't show my database"
Here is my setup :
Windows 10 Famille 64 Bits
Neard 1.0.22

I have just updated my neard from the previous version and after having done the required items from the upgrade.md, I have opened the phpmyadmin and there was only the informations_schema database but not my different databases.
I have looked in the folder neard\bin\mysql\mysql5.5.24\data : all the files of my databases are here.

How ca

[2016-12-27 07:52] crazy-max commented on #201
Hi,

I also need the `neard\logs` folder.
Can you upload it?

Thanks

[2016-12-27 07:58] berthos commented on #201
Here are the logs : [http://aleph2at.free.fr/autres/neard/neard_logs.zip](http://aleph2at.free.fr/autres/neard/neard_logs.zip)

[2016-12-27 08:06] crazy-max commented on #201
Thanks

Have you updated your Apache version (2.2.22) with the latest [Apache bundle](https://github.com/crazy-max/neard-bin-apache/releases) required for Neard 1.0.22 ?

Can you send me this file : `neard\alias\phpmyadmin.conf` ?

Have you tried with Adminer app ?

[2016-12-27 08:17] berthos commented on #201
I have the apache 2.2.22 version.
Here is the file : [http://aleph2at.free.fr/autres/neard/phpmyadmin.zip](http://aleph2at.free.fr/autres/neard/phpmyadmin.zip)

[2016-12-27 08:20] crazy-max commented on #201
But have you installed the latest bundle ? (r4 : neard-apache-2.2.22-r4.7z)
And can you check if you see your dbs with Adminer ? (http://localhost/adminer)

Thanks

[2016-12-27 08:27] berthos commented on #201
I have the last bundle and with the adminer I see the same database than with the phpmyadmin but not mine

[2016-12-27 08:35] crazy-max commented on #201
Ok so there is something wrong with your database not phpmyadmin.

Can you open a console from Neard (Left click in the systray > Tools > Console), then open a new MySQL tab, type the command `SHOW GRANTS;` and post the result :

![image](https://cloud.githubusercontent.com/assets/1951866/21495440/ae3085ca-cc17-11e6-8a80-1b540fdbb81a.png)

[2016-12-27 08:39] berthos commented on #201
Here is the result : [http://aleph2at.free.fr/autres/neard/clipboard01.jpg](http://aleph2at.free.fr/autres/neard/clipboard01.jpg)

[2016-12-27 08:41] crazy-max commented on #201
The screenshot is not available on this link (you can drag & drop pictures on the post directly)

[2016-12-27 08:45] berthos commented on #201
![clipboard01](https://cloud.githubusercontent.com/assets/15923548/21495670/3eb54c92-cc19-11e6-88a5-46410ab5827e.jpg)

[2016-12-27 08:47] berthos commented on #201
Each time I do an update of neard, I have to execute this command
CREATE USER 'aleph2at'@'%' IDENTIFIED BY '***';GRANT ALL PRIVILEGES ON *.* TO 'aleph2at'@'%' IDENTIFIED BY '***' REQUIRE NONE WITH GRANT OPTION MAX_QUERIES_PER_HOUR 0 MAX_CONNECTIONS_PER_HOUR 0 MAX_UPDATES_PER_HOUR 0MAX_USER_CONNECTIONS 0;

But this time the command was refused with the error message :
#1227 - Access denied; you nee

[2016-12-27 08:51] crazy-max commented on #201
Very strange i don't have to do that when i upgrade Neard.
Can you send me these files :
* `neard\bin\mysql\mysql5.5.24\my.ini`
* `neard\bin\mysql\mysql5.5.24\neard.conf`

[2016-12-27 08:53] berthos commented on #201
Here are the files : [http://aleph2at.free.fr/autres/neard/mysql5.5.24.zip](http://aleph2at.free.fr/autres/neard/mysql5.5.24.zip)

[2016-12-27 08:58] berthos commented on #201
Do you want to connect with teamviewer ? Perhaps it could be easier for you

[2016-12-28 10:50] berthos commented on #201
Hi

I don't remember what I have changed, but now I can see my databases in Adminer.
But still not in phpmyadmin

[2016-12-29 07:50] crazy-max commented on #201
Hi,

Have you tried to clear the cache of your browser (cookies) ?

[2016-12-29 08:42] crazy-max commented on #199
@myspulin Any feedback ?

[2016-12-29 18:04] berthos commented on #201
Hi,

I have the same problem by using another webbrowser (IE) so it is not a problem of cache.

I am using admin user because I can't create a new user

In PhpMyadmin I can't create a new database but I can do it in adminer and I can see the test database in phpmyadmin

[2016-12-30 07:40] berthos commented on #201
Thanks to the console, I have recreated my user. And then in Adminer and in Phpmyadmin, I can see my databases... but .... in my main database, both of the applications show me all the tables but only 2 of them are accessible. For the other one, when I click, the app says : the table doesn't exist. :(

[2016-12-30 10:03] ehelgueroc opened #202 "Virtualhost require all granted"
Hello, i am trying to make a virtual host accesible for the whole network, but when i restart the server, the configuration resets it. I am modifying the Require Local from a virtualhost .conf file, and putting Require All Granted.

Thank for the help

[2017-01-02 11:14] myspulin commented on #199
Hi @crazy-max ,

I have two laptops, on the first of them I have reported the problem in the first part of this ticket. On the second one I did migration from 1.0.21 to 1.0.22 following the UPGRADE.md. Then I have installed PHP 7.1.0, upgrade to Apache v2.4.9 and get the same error:

PHP Warning:  PHP Startup: Unable to load dynamic library 'C:/Data/neard/bin/php/php7.1.0/ext\\php_curl.dll' - %1 n

[2017-01-02 18:35] diovoemor commented on #199
No, it's an OpenSSL version mismatch problem possibly compounded by Visual C++ version mismatch problem as well.
Apache 2.4.9 came with OpenSSL 1.0.1 and PHP7 uses 1.0.2 and when running php as a module (phpXapache2_4.dll  X=5or7) PHP uses the OpenSSL from Apache which is shared. So if Apache's OpenSSL is 1.0.1 and you try running PHP7, it ain't gonna work because the OpenSSL DLLs have different i

[2017-01-02 21:00] crazy-max commented on #199
Ok, what is the release number of your apache bundle ?
Neard 1.0.22 requires the r4 bundle for Apache.

[2017-01-07 23:54] blaisexen commented on #76
because of this project I earn $900, I used it as an installer for customized wamp. lol, I get a lot from this, I wonder why this was free!  I guess the owner has much money! thank you!  I like open source code, the owner gets nothing, the user's get a lot. lol

[2017-01-09 13:48] crazy-max commented on #201
@berthos Do you solved this issue ?
For me it's linked to your configuration on your database.
Have you tried to reinstall phpMyAdmin with the latest bundle available ?
Or reinstall MySQL and import your databases ?

[2017-01-09 13:50] crazy-max commented on #199
Ok so it's linked to the OpenSSL version like you said.
I will make some tests with the Apache 2.4.9 version.

[2017-01-10 09:47] crazy-max opened #203 "New bundles for PHP"
5.6.29, 7.0.14

[2017-01-10 16:01] crazy-max commented on #203
Available : https://github.com/crazy-max/neard/wiki/binPHP#releases

[2017-01-10 16:01] #203 closed

[2017-01-10 16:17] Jmos commented on #112
[hungarian.zip](https://github.com/crazy-max/neard/files/696683/hungarian.zip)
1,0,22 hun lang

[2017-01-11 16:00] adrianR84 opened #204 "Add MercuryMail"
I really like what you created in here...
Any chance of adding MercuryMail to this ?

Thank you.

[2017-01-11 22:39] berthos commented on #201
My statut is : after reinstalling PhpMyAdmin bundle
- The problem of the tables remain the same
- And the user problem remain the same.

So I decided  to reimport my database from a backup (not up to date sadly)
Now I can access to my database but not with the user used for 13 years.

On free.fr, I have :
[code]

On localhost, I have :
[code]

and also
[code]

With the root account I can connect o

[2017-01-15 00:45] dmccan commented on #136
I think an update function would be more useful than an installer.  Maybe show the installed version and the latest version and let the user click a button.  When clicked the new version is downloaded, the old folder is renamed, the old config section is commented, the new version is copied in and the new config written in.  If there were no errors then a cleanup removes the old stuff or if there

[2017-01-16 18:16] JJohnson1988 opened #205 "Localhost menu shortcuts don't reflect Apache port change"
If Apache port is changed to a value other than 80, the Localhost and Localhost (SSL) shortcuts at the top of the menu should take you to a localhost address in your browser with the non-standard port appended.

For example, if I changed the Apache port to 8080, the Localhost shortcut at the very top should take me to the "localhost:8080" address within the specified browser.

[2017-01-20 21:20] crazy-max commented on #136
Yep when i said a setup it can be an update or a clean install.
And in the case of an update InnoSetup can detect the current installation path but a registry entry has to be added
For the rest i agree

[2017-01-21 08:01] Jmos opened #206 "MySQL console dont ask db password"
ERROR 1045 (28000): Access denied for user 'root'@'localhost' (using password: NO)

[User@MACHINE x:\neard\bin\mysql\mysql5.5.24]

[2017-01-21 16:01] crazy-max opened #207 "Update links to neard.io"
Website : http://neard.io
Website repository : https://github.com/crazy-max/neard-website

[2017-01-21 16:02] crazy-max commented on #206
Hi,

Please read the [Reporting an issue page](http://neard.io/doc/reporting-issue)

[2017-01-21 16:27] crazy-max commented on #201
Ok so the issue it's just for your custom username ?

If this the case i suggest you split the configuration for your project to use the mysql username root on development (on neard) and your mysql username aleph2at on production.

Quick example :

[code]

Or you can post your issue on [stackoverflow](https://stackoverflow.com/) or [superuser.com](https://superuser.com).

[2017-01-21 16:27] #201 closed

[2017-01-22 10:30] Jmos commented on #206
win 7 64
neard 1.0.22
MySQL **has** password

[cor_tmp.zip](https://github.com/crazy-max/neard/files/721864/cor_tmp.zip)
[logs.zip](https://github.com/crazy-max/neard/files/721863/logs.zip)
![2017-01-22_111638](https://cloud.githubusercontent.com/assets/5389792/22181858/b1331a8e-e095-11e6-93ec-adcf53b5e269.png)

I hope all information is enough and I did not forget anything

[2017-01-23 21:19] crazy-max commented on #112
Thanks! :)

[2017-01-23 21:57] crazy-max commented on #206
Password will be asked for root user if not empty on the next release :

![image](https://cloud.githubusercontent.com/assets/1951866/22224559/5d425586-e1bf-11e6-83da-f0374c2afa3c.png)

[2017-01-23 22:40] crazy-max opened #208 "New bundle for phpMyAdmin"
4p5 : 4.0.10.19, 4.4.15.10, 4.6.6

[2017-01-23 22:43] crazy-max opened #209 "Display module release in logs"

[2017-01-23 23:29] crazy-max commented on #208
Available : http://neard.io/apps/phpmyadmin/#releases

[2017-01-23 23:29] #208 closed

[2017-01-25 18:15] crazy-max opened #210 "New bundles for Node.js"
0.12.18, 4.7.2, 6.9.4, 7.4.0

[2017-01-25 18:55] crazy-max opened #211 "Create checksum for downloads"
Create checksum for downloads : MD5, SHA1, SHA256, SHA512

[2017-01-25 18:55] #207 closed

[2017-01-25 19:05] crazy-max commented on #210
Available : http://neard.io/bins/nodejs/#releases

[2017-01-25 19:05] #210 closed

[2017-01-26 20:07] crazy-max opened #212 "New bundles for MariaDB"
5.5.54, 10.0.29, 10.1.21

[2017-01-26 20:33] crazy-max commented on #212
Available : http://neard.io/bins/mariadb/#releases

[2017-01-26 20:33] #212 closed

[2017-01-27 15:55] crazy-max opened #213 "New bundles for Python"
2.7.12.4, 3.4.4.5, 3.5.2.3, 3.6.0.0

[2017-01-28 15:42] crazy-max commented on #213
Available : http://neard.io/tools/python/#releases

[2017-01-28 15:42] #213 closed

[2017-01-30 00:49] crazy-max commented on #211
Fixed : [neard-dev r9](https://github.com/crazy-max/neard-dev/releases/tag/r9)

[2017-01-30 00:49] #211 closed

[2017-01-30 04:16] crazy-max commented on #204
Hi,

Why do you want to use Mercury ?
If you want to SMTP testing, i suggest you to switch to MailHog.

[2017-01-30 15:22] gauthierb opened #214 "can't change limit import of sql file in phpmyadmin"
Hi,

i have change the upload_max_filesize, memory_limit and post_max_size in the php.ini and nothing change after restart apache, quit neard and start again, the limit stay at Max: 128MiB, how can i change this?
I'm on windows 10 x64, and neard 1.0.22

thanks for help

[2017-01-30 20:02] gauthierb commented on #214
ok sorry i have found how to do this need to change phpmyadmin.conf in neard/alias, think was the same value has php.ini

[2017-01-30 20:02] #214 closed

[2017-01-30 20:26] crazy-max commented on #214
You right these values have to be changed in the alias conf

[2017-01-31 14:05] blaisexen opened #215 "Neard .Exe Detected as Delphi Programming Language!"
Is this Ok, since I know a lot of Delphi Programs are known to be viruses?

Should I keep the File?
I'm not down grading Delphi programs but I just want to be sure it's safe.

anyway, I will try and as I know Delphi programs are one of the best programming language, so I think I will trust the installation.

thank you

[2017-01-31 14:13] crazy-max commented on #215
Hi,

Yes indeed `neard.exe` is a Delphi Program based on Aestan Tray Menu 1.6.2.
It's virus free as you can see on the [VirusTotal scan].(https://www.virustotal.com/en/file/bed8eeffb63e893b1053fb4ca3a73e24a4e659face21589045165d3238770e11/analysis/))
You can have more info in the [FAQ](http://neard.io/doc/faq/#where-is-the-source-code-of-neardexe-).

Thanks

[2017-01-31 14:18] blaisexen commented on #215
Good to hear that it's Ok,

thank you

[2017-01-31 14:19] #215 closed

[2017-02-05 13:40] crazy-max opened #216 "Refactor modules build process"
Only include relevant files in modules repositories and externalize original binaries.
Untouched bins can be found on the [neard-modules-untouched](https://github.com/crazy-max/neard-modules-untouched) repository.

[2017-02-06 05:38] crazy-max opened #217 "Missing Logs and config template for filezilla-0.9.59 module"

[2017-02-06 05:59] crazy-max commented on #217
Available here : http://neard.io/bins/filezilla/#releases

[2017-02-06 05:59] #217 closed

[2017-02-12 16:26] crazy-max opened #218 "Service uninstallation error"

[2017-02-12 21:22] crazy-max opened #219 "Missing check enable for SVN"

[2017-02-16 19:40] StaggerLeee opened #220 "Ghostscript"
How to install Ghostscript together with ImageMagick on Neard ?
Is it possible to add it to Neard as Tools module ?
ImageMagick is installed and detected well of course.

https://www.ghostscript.com/

I need it for new PDF thumbnails manipulation, now in core of WordPress 4.7 and above versions.

Thanks for any answer.

[2017-02-17 14:13] crazy-max commented on #220
Hi,

I will take a look on your suggestion!
Thanks!

[2017-02-17 15:07] StaggerLeee commented on #220
Thank you. It is for your benefit also, considering how many WordPress installations are out there. (developing needed for each new one)

You decide if issue will be closed.

[2017-02-23 09:45] the-veloper opened #221 "Can't start Python 3.6.0.0"
Installed Neard 1.0.22 on Windows 10 x64. Then downloaded Python 3.6.0.0 and configured pythonVersion = "3.6.0.0" .

Trying to start Python gives the following error:

Here are the tmp.zip and logs.zip:
https://www.sendspace.com/filegroup/ourxCkt4M5Jtor0U1kZ6cQ

Screenshot:
http://imgur.com/7hsU8qo

[2017-02-23 10:19] crazy-max commented on #221
Hi @the-veloper,

Seems to be a problem with the version string in the main `neard.conf` file.
Can you post these files here plz :

* `E:\Portable\Neard\neard.conf`
* `E:\Portable\Neard\tools\python\python3.6.0.0\neard.conf`

Thanks for your feedback!

[2017-02-23 10:21] crazy-max opened #222 "Python packaging problem"
There is a problem with the `neard.conf` file inside the python folder.

Today the file reflects this content :

[code]

But it must be :

[code]

Versions affected are 2.7.12.4, 3.4.4.5, 3.5.2.3, 3.6.0.0

[2017-02-23 10:23] the-veloper commented on #221
Thank you for the fast reply @crazy-max, great work on the project!

Here are the files as requested:
http://pastebin.com/XnCPhXgv
http://pastebin.com/yhS0SwuP

[2017-02-23 10:27] crazy-max commented on #221
Ok can you go to the issue #222 and replace this file `E:\Portable\Neard\tools\python\python3.6.0.0\neard.conf` with the fixed content ?

Then tell me if it works.
Thanks for your support.

[2017-02-23 10:33] the-veloper commented on #221
Now I have this error:
http://imgur.com/3xt4LvJ

[2017-02-23 10:42] crazy-max commented on #221
Hum where the folder `python3.6.0.0python3.6.0` comes from ?
What is inside this folder ?

[2017-02-23 10:44] the-veloper commented on #221
Every time I try to run Python from Neard, this folder is created.
I have tried to delete it but it spawns again.

Here is the structure:

[2017-02-23 10:57] crazy-max commented on #221
Ok i'm able to reproduce your issue.
I will find a fix asap.

Thanks for your support!

[2017-02-23 11:55] the-veloper commented on #221
Thank you for your time.
I will wait for updates.

BTW: The fix from #222 fixed my index.php that comes with this version of Neard. Before the fix I could not see all the features, because the index crashed when it got to the Python part.

[2017-02-23 13:49] crazy-max commented on #221
Seems to be a bug on the `env.bat` of WinPython.

Open the file `E:\Portable\Neard\tools\python\python3.6.0.0\scripts\env.bat` and replace this :

[code]

By

[code]

And tell me if it works for you

[2017-02-23 14:02] the-veloper commented on #221
It works!

Thank you @crazy-max.

BTW: I am impatient to see how this project grows even bigger with other useful tools. I would propose integrating http://strawberryperl.com/releases.html .

Have a great day.

[2017-02-24 15:03] crazy-max commented on #221
Ok great and yes Perl is already in the pipeline (issue #155) ;)

[2017-03-01 12:54] crazy-max opened #223 "New bundles for Python"
2.7.13.0, 3.4.4.6, 3.5.3.0, 3.6.0.1

[2017-03-02 05:18] crazy-max commented on #204
@adrianR84 Up?

[2017-03-02 07:02] crazy-max commented on #223
Available here : http://neard.io/tools/python/#releases

[2017-03-02 07:02] #223 closed

[2017-03-02 07:02] crazy-max commented on #222
Available here : http://neard.io/tools/python/#releases

[2017-03-02 07:02] #222 closed

[2017-03-02 07:03] crazy-max commented on #221
Available here : http://neard.io/tools/python/#releases

[2017-03-02 07:03] #221 closed

[2017-03-03 13:12] the-veloper opened #224 "Redis"
It would be great if you could add https://redis.io/

[2017-03-03 13:15] the-veloper opened #225 "H2 Database Engine"
This will be a great feature too: http://www.h2database.com/html/main.html

[2017-03-04 17:47] crazy-max opened #226 "New bundles for PHP"
5.6.30, 7.0.16, 7.1.2

[2017-03-05 16:16] crazy-max commented on #226
Available here : http://neard.io/bins/php/#releases

[2017-03-05 16:16] #226 closed

[2017-03-06 02:16] crazy-max opened #227 "New bundles for Ruby"
2.2.6-p396, 2.3.3-p222

[2017-03-06 03:37] crazy-max commented on #227
Available here : http://neard.io/tools/ruby/#releases

[2017-03-06 03:37] #227 closed

[2017-03-07 14:37] StaggerLeee opened #228 "New control panel"
Did you have thoughts about switching to some new control panel platform ?

As I could see it Aestan tray is very limited in sense how we could change and adapt it. Found it most problematic to build own sprite icons.
And very old, not much Info and tutorials around Net. I found zero help searching for it. Some is there but Wamp5 specific.

Sorry, clicked wrong, edit comes in few second.

[2017-03-07 14:57] StaggerLeee commented on #228
Some benefits:

- Icon can be bigger. Aestan makes problems for Users working with notebook pad instead of mouse. Even for less sensitive mouses. Icons are unnecessary small, remains from old Internet.

- Icons can be used from SVG icon pack.. There are some for precise this thing and with GPL licences.

- We could rearrange, adapt control panel (PHP, HTML, CSS) and share it here with other Users.

[2017-03-07 15:17] StaggerLeee commented on #148
I had similar problem and fixed it by installing prerequisites. Happened after one BSOD and sudden restart. Despite I have no clue what BSOD had to do with this (things inside prerequisites), this helped and solved problem.

https://github.com/crazy-max/neard-prerequisites/releases/tag/r7

[2017-03-07 15:56] crazy-max commented on #148
@StaggerLeee Now we have a website : http://neard.io :)

[2017-03-07 15:59] crazy-max commented on #228
Yes indeed, as you can see there is a milestone named neard-2.0.0
I'm working on it since several weeks. Electron is used on this next milestone.

[2017-03-07 15:59] crazy-max commented on #228
Btw thanks for your input!

[2017-03-07 16:50] StaggerLeee commented on #228
Thank you.

Seems very interresting, if it is right Electron I am looking at.
Will just close this.

[2017-03-07 16:50] #228 closed

[2017-03-07 16:51] crazy-max commented on #228
Yep indeed this Electron : https://electron.atom.io/ with an embedded chromium ;)

[2017-03-07 20:12] crazy-max opened #229 "Improve files scan on startup"

[2017-03-08 17:27] StaggerLeee opened #230 "Improve phpinfo output"
Script doesnt make space after comma "," and Chrome has some strange problem how to use word-wrap, layout goes out of screen, with horizontal scroll.

For instance this is detected as just one word:

I changed a bit CSS inside "D:\Neard\core\resources\homepage\tpls" hp.phpinfo.php.
- Fixed this problem in Chrome
- Added some paddings
- Changed colors to less attacking
- Increased font-size

Reason

[2017-03-08 21:00] StaggerLeee opened #231 "Memcached - Data"
I dont know if some manual setting somewhere is needed.
My Data tab in PhpMemAdmin is empty:  No data available on Memcached daemon.
I see in tmp folder "cachegrind" and "npm-cache" folders are empty too.

Memcached error log shows nothing wrong, service is started right.

[2017-03-09 09:02] StaggerLeee commented on #231
Sorry, my mistake. Forgot applications need to ask for this service. Specifically, WordPress database cache plugin, some of them.

[2017-03-09 09:02] #231 closed

[2017-03-09 18:06] crazy-max commented on #230
Thanks for your contrib, i will check and implement your enhancement

[2017-03-12 10:24] crazy-max opened #232 "New bundles for Node.js"
4.8.0, 6.10.0, 7.7.2

[2017-03-12 11:13] crazy-max commented on #232
Available : http://neard.io/bins/nodejs/#releases

[2017-03-12 11:13] #232 closed

[2017-03-13 01:33] crazy-max commented on #230
I have made some changes, can you try the latest [hp.phpinfo.php](/crazy-max/neard/blob/master/core/resources/homepage/tpls/hp.phpinfo.php) ?

[2017-03-13 01:34] #219 closed

[2017-03-13 01:34] #218 closed

[2017-03-13 01:35] #216 closed

[2017-03-13 01:35] #206 closed

[2017-03-13 01:36] #205 closed

[2017-03-13 01:36] #166 closed

[2017-03-13 01:36] #229 closed

[2017-03-13 01:37] crazy-max commented on #166
Will be available on the next release

[2017-03-13 01:38] crazy-max commented on #205
Will be fixed on the next release

[2017-03-13 01:40] crazy-max commented on #112
For the next release some changes have been made :

[code]

Thanks for your time!

[2017-03-13 01:41] crazy-max commented on #131
For the next release (1.0.23) :

[code]

[2017-03-13 01:43] StaggerLeee commented on #230
Thank you. I will keep your, much better than mine.
Tried all Wamp possible platforms, this one is best as I can recall.

[2017-03-13 01:43] #230 closed

[2017-03-13 01:44] #204 closed

[2017-03-13 10:57] crazy-max opened #233 "Add ability to customize the env. PATH variable for NSSM services"
A user reports a bug about a problem php_oci8_11g extension even if he has added the instantclient to the PATH. This is because the PATH is rewritten for Apache.
An option has to be added to customize the environment PATH variable for services.

[2017-03-13 21:01] Jmos commented on #112
[hungarian 1.0.23](https://github.com/crazy-max/neard/files/839598/hungarian.zip)
maybe 1.0.23 if it a next version

[2017-03-14 16:50] crazy-max commented on #112
Yep it will be ;)
Thanks!

[2017-03-19 12:59] StaggerLeee opened #234 "Apache mod_filter"
Can you please make it activated by default on Apache 2.4 and above versions ?
Seems as for some reason WordPress WP-SpamShield needs it to work, and install right.

https://wordpress.org/plugins/wp-spamshield/

[2017-03-19 17:48] crazy-max commented on #234
Hi,

Since it's specific to an application (here Wordpress) i cannot make it as a default enabled module.
You have to do this on your own by going to **Neard tray icon > Apache > Modules > filter_module**

![image](https://cloud.githubusercontent.com/assets/1951866/24083247/ed2bd69c-0cd3-11e7-8519-12b99deb32e5.png)

If i have to enable an Apache module for all the existing applications on Internet

[2017-03-19 17:48] #234 closed

[2017-03-19 18:02] StaggerLeee commented on #234
Hi Max

It is OK and understandable. You would just make your Wamp slow and reject new Users.

Let this issue be here if some other people have problems with it. I know now it is something in Apache 2.4. That is why I did not have problems with this plugin in Apache 2.2 version.

[2017-03-19 18:13] crazy-max commented on #234
Yes i keep this issue in my backlog

[2017-03-19 18:49] crazy-max commented on #233
This issue is specific to services loaded with NSSM.
Today services impacted are : Apache, MailHog and Memcached.

[2017-03-19 19:01] crazy-max commented on #233
For each services using NSSM, a new item will be added called **Update env. PATH** opening a text file where you will be able to add additional paths (one by line) :

![image](https://cloud.githubusercontent.com/assets/1951866/24083811/b4518e1a-0cde-11e7-9f69-71946e56b9a9.png)

![image](https://cloud.githubusercontent.com/assets/1951866/24083813/c811a840-0cde-11e7-995e-14f38a28b4c0.png)

As you ca

[2017-03-19 19:05] crazy-max commented on #233
Today some paths are automatically added :

* %SystemRoot%\system32
* %SystemRoot%
* %SystemRoot%\system32\Wbem
* %SystemRoot%\system32\WindowsPowerShell\v1.0
* C:\neard\bin\apache\apache*\bin
* C:\neard\bin\php\php*
* C:\neard\bin\php\php*\pear
* C:\neard\bin\php\php*\imagick
* C:\neard\bin\nodejs\nodejs*
* C:\neard\bin\svn\svn*
* C:\neard\tools\composer\composer*
* C:\neard\tools\drush\drush*
*

[2017-03-20 21:31] crazy-max commented on #233
More info in the FAQ : http://neard.io/doc/faq/#path-env-var-is-not-resolved-by-apache-service

[2017-03-20 21:31] #233 closed

[2017-03-21 16:07] #209 closed

[2017-03-22 01:10] crazy-max opened #235 "New bundle for Git"
2.12.1

[2017-03-22 02:39] crazy-max commented on #235
Available : http://neard.io/tools/git/#releases

[2017-03-22 02:39] #235 closed

[2017-03-22 12:43] crazy-max opened #236 "New bundles for Node.js"
4.8.1, 6.10.1, 7.7.4

[2017-03-22 14:30] crazy-max commented on #236
Available : http://neard.io/bins/nodejs/#releases

[2017-03-22 14:30] #236 closed

[2017-03-22 14:47] crazy-max opened #237 "Handle MongoDB with Adminer"

[2017-03-22 15:41] #237 closed

[2017-03-22 15:41] crazy-max commented on #237
Available : http://neard.io/apps/adminer/#releases

[2017-03-23 04:46] teamayu opened #238 "Application Error"
The application won`t start for me. I`m running Windows 10 64Bit.

I set the logsVerbose to 2, but there is nothing in the logs or core/tmp folders.

I downloaded neard and added the following to the relevant bin folders:

php5.6.30, apache2.4.23 & mysql5.6.34

I checked that WSH and SETX is available and they are. I also installed the prerequisites.

When I run neard.exe I get the error shown in

[2017-03-23 05:37] teamayu commented on #238
Sorry, figured it out. I had downloaded the master zip from Github, which has a different structure.

[2017-03-23 08:32] crazy-max commented on #238
Yes download links are available on the official website : http://neard.io/release/latest

[2017-03-23 08:33] #238 closed

[2017-04-07 11:38] HollyIT opened #239 "Mailhog and Apache won't start after Windows 10 creators update"
After getting the final Windows 10 Creator update, which is being pushed out to all users starting next week, I can no longer start Apache or Mailhog (I only have Apache, Mailhog and MySQL enabled in Neard). They return a Status 7, service is paused.

MySQL starts without any problem, so I'm thinking it's a problem in nssm. Also I can start Apache from the command line and it works fine (haven't t

[2017-04-07 11:57] crazy-max commented on #239
Hi, thanks for your feedback
I will investigate on jour issue

[2017-04-07 12:52] crazy-max commented on #239
As it is stated on the official website, there is a glitch linked to services requiring console window on Windows 10 Creators Update Redstone 2 : https://nssm.cc/download

We have to add an additionnal parameter as workaround :

[code]

[2017-04-07 13:39] HollyIT commented on #239
Ahh. I checked their site yesterday and that wasn't there. I just did a quick hack class.nssm.php:

`    $exec = $this->exec('set ' . $this->getName() . ' AppNoConsole "1"');
    if ($exec === FALSE) {
      return FALSE;
    }
`
Note it's not AppNoConsole=1, but rather nssm set <service> AppNoConsole "1". I tried both in the class and from the CLI using = and without quotes and none of those woul

[2017-04-07 15:20] crazy-max commented on #239
Thanks to you, make a pull request if you want :)

[2017-04-07 16:24] #239 closed

[2017-04-07 16:24] crazy-max commented on #239
Solved on PR #240

[2017-04-08 16:30] eric13500 opened #241 "#1231 - Variable 'lc_messages' can't be set to the value of 'fr_FR'"
Hi !

It's impossible for me to turn PhpMyAdmin to French...

Thanks for your help

[2017-04-08 17:35] crazy-max commented on #241
Hi,

Try this solution : https://support.plesk.com/hc/en-us/articles/213952625-phpMyAdmin-login-issue

[2017-04-09 09:41] eric13500 commented on #241
Hi !

Thanks for your answer.

I saw this solution, but don't find the my.cnf file to do this...

Can you help me ?

Regards

[2017-04-09 10:06] crazy-max commented on #241
Yes it is

[2017-04-09 10:16] eric13500 commented on #241
Done, but don't work better...

[2017-04-09 22:08] crazy-max commented on #241
Ok i will investigate on your issue

[2017-04-10 08:23] dcanl opened #242 "Services cannot start / paused on Win 10 Creators Update"
Hi,

Since the Windows update to "Creators Update", services neardapache, neardmailhog and neadmemcached doesn't start properly, they go in "paused" status immediately.

As suggested [here](https://nssm.cc/download), problem temporarily solved while setting "AppNoConsole" to 1 via nssm commandline, and manually "continue" concerned services:
[code]

Obviously commands must be re-applied if neard r

[2017-04-10 08:25] crazy-max commented on #242
Hi,

It's already implemented for the next release, see issue #239.
Btw thanks for your input ;)

[2017-04-10 08:25] #242 closed

[2017-04-10 08:36] dcanl commented on #241
Same problem here since few versions of phpmyadmin in neard...

Solved by renaming the [version of phpmyadmin]\locale\fr folder to fr_FR ... No more label "Français - French" in language list (only fr_FR) but it work!

[2017-04-10 08:39] dcanl commented on #242
Sorry, didn't well-checked...

Thanks for update!

[2017-04-10 12:35] eric13500 commented on #241
Thanks @dcanl !

Works fine !

But it's an issue that must be fixed !

This workaround should help you find the fix...

Thanks to the team for your future update fixing it !

[2017-04-10 12:56] crazy-max commented on #241
Thanks @dcanl

What is your MySQL and PhpMyAdmin version?

[2017-04-10 14:20] dcanl commented on #241
phpMyAdmin 4.6.4 (p4)
MySQL 5.6.27

[2017-04-10 14:25] eric13500 commented on #241
PhpMyAdmin 4.6.6 (4p5)
MySql 5.5.24

[2017-04-10 18:06] crazy-max commented on #241
Ok guys thansk for your input.

Can you try to clear cookies for http://localhost/phpmyadmin (More info [here](https://stackoverflow.com/questions/41977950/phpmyadmin-error-1649-unknown-locale))

For `pma_lang` cookie i have on my local computer `fr` has value :

![image](https://cloud.githubusercontent.com/assets/1951866/24875355/0c8ff6ca-1e28-11e7-8356-b4decc4d76c7.png)

I've found a similar iss

[2017-04-10 18:10] crazy-max opened #243 "Blank page for phpMyAdmin and Adminer if MariaDB or MySQL disabled"
A check has to be done before updating the configuration.

[2017-04-10 18:12] #243 closed

[2017-04-10 18:15] crazy-max opened #244 "New bundles for PHP"
7.0.17, 7.1.3

[2017-04-10 20:10] dcanl commented on #241
I cleared cookies and ... always the same problem.

After checking, pma_lang contains fr as well.

![image](https://cloud.githubusercontent.com/assets/7107676/24879210/65386b50-1e36-11e7-936f-2b7283444fbd.png)

If you choose french language on the phpmyadmin connection screen, connection form is translated but problem occurs when submitting connection form.

If you let english language, connection

[2017-04-11 12:09] crazy-max commented on #241
Thank you for this detailed report!
I keep you in touch!

[2017-04-11 18:47] crazy-max commented on #241
I was able to reproduce your issue and i have track to solve it temporarly :

Edit your `config.inc.php` and add this line :

[code]

With this modification, the english language will be forced.

The original problem comes from the mysql module. The module has only the english language. That's why you've got this error.
I will made new bundles of MySQL soon to solve this issue.

[2017-04-11 18:50] crazy-max commented on #241
Same issue for MariaDB

[2017-04-11 18:56] crazy-max opened #245 "New bundles for MySQL"
5.5.55, 5.6.36, 5.7.18

[2017-04-11 18:57] crazy-max opened #246 "New bundles for MariaDB"
10.0.30, 10.1.22

[2017-04-11 19:12] crazy-max commented on #244
Available here : http://neard.io/bins/php/#releases

[2017-04-11 19:12] #244 closed

[2017-04-11 20:03] dcanl commented on #241
Hum... Yes it works, it forces english language in phpmyadmin, but the aim was to use french language.

Forcing en_GB in config file make the language menu disappear from phpmyadmin, so it's locked to english.

For now, I personnaly prefer my current (and temporary) solution renaming fr folder to fr_FR to get phpmyadmin working in french! ;-)

But I understood what you said, and I will wait for yo

[2017-04-13 13:17] crazy-max commented on #246
Available here : http://neard.io/bins/mariadb/#releases

[2017-04-13 13:17] #246 closed

[2017-04-13 13:18] crazy-max commented on #241
Solved for MariaDB, more info : http://neard.io/news/2017-04-13-mariadb-10.0.30-10.1.22-available/

[2017-04-13 15:20] crazy-max commented on #245
Available here : http://neard.io/bins/mysql/#releases

[2017-04-13 15:20] #245 closed

[2017-04-13 15:21] crazy-max commented on #241
Now solved for MySQL : http://neard.io/news/2017-04-13-mysql-5.5.55-5.6.36-5.7.18-available/

[2017-04-13 15:21] #241 closed

[2017-04-13 17:04] dcanl commented on #241
Thank you very much, now working like a charm ! 👍

[2017-04-15 14:52] crazy-max commented on #242
A hotfix has been created for this issue : http://neard.io/news/2017-04-15-service-cannot-start-windows-10-creators-update/

[2017-04-16 12:47] crazy-max opened #247 "Review versioning style"
Neard will use a standard practice for its versioning: major.minor.patchlevel.
An even minor marks a stable release, like 1.1, 1.2, 2.0, 2.2, 2.4, etc...
Odd minors are used for unstable releases, for example 1.1.x releases are the unstable versions of what will be Neard 1.2 once stable.

[2017-04-17 11:33] #247 closed

[2017-04-17 13:04] crazy-max opened #248 "New bundle for Adminer"
4.3.1

[2017-04-17 14:47] crazy-max commented on #202
Yes indeed this issue affects Virtual Hosts and Aliases

[2017-04-17 15:50] crazy-max commented on #248
Available here : http://neard.io/apps/adminer/#releases

[2017-04-17 15:50] #248 closed

[2017-04-17 16:03] #202 closed

[2017-04-18 10:55] crazy-max opened #249 "New bundles for Apache"
2.2.32, 2.4.25

[2017-04-18 13:34] crazy-max commented on #199
Infos have been added on the module page of [Apache](http://neard.io/bins/apache/#openssl) and [PHP](http://neard.io/bins/php/#openssl).
As Apache is on top of PHP (php is loaded as a module for now), Apache OpenSSL version must be equal or greater than OpenSSL version of PHP. I will add a FAQ section about this question.
If you have other suggestions, do not hesitate.

[2017-04-18 13:34] #199 closed

[2017-04-18 13:34] crazy-max commented on #249
Available here : http://neard.io/bins/apache/#releases

[2017-04-18 13:34] #249 closed

[2017-04-19 00:06] crazy-max opened #250 "Bug with apc extension on PHP 5.3 and 5.4"

[2017-04-19 01:13] crazy-max commented on #250
Available here : http://neard.io/bins/php/#releases

[2017-04-19 01:13] #250 closed

[2017-04-20 14:36] crazy-max opened #251 "Wrong file size on version check window"

[2017-04-20 14:37] #251 closed

[2017-04-25 12:58] crazy-max opened #252 "New bundle for Filezilla"
0.9.60.2

[2017-04-25 20:14] crazy-max commented on #252
Available here : http://neard.io/bins/filezilla/#releases

[2017-04-25 20:14] #252 closed

[2017-04-28 19:29] crazy-max opened #253 "New bundle for MailHog"
1.0.0

[2017-04-28 19:40] crazy-max opened #254 "New bundle for MongoDB"
3.4.4

[2017-04-28 20:53] crazy-max commented on #253
Available here : http://neard.io/bins/mailhog/#releases

[2017-04-28 20:53] #253 closed

[2017-04-28 20:53] crazy-max commented on #254
Available here : http://neard.io/bins/mongodb/#releases

[2017-04-28 20:53] #254 closed

[2017-05-03 14:23] Hlsgs opened #255 "Unable to switch PHP and Apache"
I'm trying to switch to PHP 7, but I can't switch PHP because it's incomaptible with the older Apache and vice-versa, so, basically, there's no way to switch.

[2017-05-03 14:33] crazy-max commented on #255
Yes indeed, if you want to switch to PHP 7 and so to Aache 2.4, you have :

* Exit Neard
* In the base `neard/neard.conf`, modify the `apacheVersion` with your 2.4 version.
* In the base `neard/neard.conf`, modify `phpVersion` with your PHP 7 version.
* Start Neard

I will add an entry in the [FAQ](http://neard.io/doc/faq/) for this issue.

[2017-05-03 20:56] Hlsgs commented on #255
Works. Thanks for the fast response. I'm still testing Neard and so far so good. Keep up the great work!

[2017-05-03 20:56] #255 closed

[2017-05-03 21:02] crazy-max commented on #255
Thanks for your support 👍

[2017-05-08 14:26] eric13500 opened #256 "Apache 2_4_4 issue with PHP 7_0_17"
Hi

I've got an issue with Apache 2.4.4 when I set PHP on 7.0.17 version (please see snapshot joined).

PHP 7 is needed for Joomla 3.7, so...

Thans for your help !

![neard apache 2_4_4 php 7_0_17 issue](https://cloud.githubusercontent.com/assets/27079634/25808715/39b61ca8-340b-11e7-87e7-34001c48e1d7.PNG)

[2017-05-08 15:08] crazy-max commented on #256
Hi, can you try with the latest apache 2.4 ?

[2017-05-08 15:37] eric13500 commented on #256
Hi

I have already installed the latest versions of the core and of all the modules :

- Neard 1.2.7
- Apache 2.4.4 r5
- PHP 7.0.17 r15
- PHP 7.1.3 r15
- phpMyAdmin 4p5 r7
- Neard Adminer 4.3.1 r7

Same issue with PHP 7.1.3

Works fine with PHP 5.5.35 r14, but Joomla 3.7 needs PHP 7

[2017-05-08 15:45] crazy-max commented on #256
Ok thanks for your feedback!
Have you tried with apache 2.4.25 r5?

[2017-05-08 15:55] eric13500 commented on #256
Done.

Works fine with Apache 2.4.25 r5 and PHP 7.1.3 r15, But it is version 2.4.4 that is implemented in my webhost...

Your 2.4.25 is the lastest, but not the higher...
Is there something to do ?

[2017-05-08 16:14] crazy-max commented on #256
2.4.4 < 2.4.25
Look a the release date in the table : http://neard.io/bins/apache

[2017-05-08 16:22] eric13500 commented on #256
Sorry for my mistake, and thanks a lot for your answers !

Best regards

[2017-05-08 16:27] crazy-max commented on #256
No problem! But there is still an issue with apache 2.4.4

[2017-05-08 16:30] eric13500 commented on #256
So I reopen issue...

Good luck for the future.

Regards

[2017-05-08 16:38] crazy-max commented on #256
Thanks ;)

[2017-05-17 14:14] crazy-max opened #257 "New bundle for Git"
2.13.0

[2017-05-17 14:52] crazy-max commented on #257
Available : http://neard.io/tools/git/#releases

[2017-05-17 14:52] #257 closed

[2017-05-17 14:53] crazy-max commented on #157
Reopened since this note on the official website :

[code]

[2017-05-17 14:56] crazy-max commented on #256
This issue is linked to #199

I will clarify the compatibility on each Aapche and PHP apge on neard.io

[2017-05-17 14:56] #256 closed

[2017-05-19 17:15] N6REJ opened #258 "install on cloud drive"
I'm sorry if I'm being dense but I don't see a place to ask this question anywhere else and I don't see the how to in the docs...
I want to install neard on my external drive which is synced to the cloud, my laptop will access these same files via the cloud also.. so for example..
desktop :   d:\amazon-cloud\neard\
laptop:   c:\amazon-cloud\neard\

What do I need to do to make this happen?

[2017-05-19 17:20] crazy-max commented on #258
Hi @N6REJ,

Good question!

Synchronizing data between two computers with Neard via the cloud is possible, but only one instance of Neard must be executed, otherwise data may be corrupted because some files are locked. For example, MySQL that has its data locked when an instance is run and other services may also be impacted.

What it would be wise to develop on Neard in the future is to detect if

[2017-05-19 17:44] N6REJ commented on #258
that would be excellent, but what are the mechanics to doing so?  Clearly you need to install piece on both boxes.

[2017-05-19 17:49] N6REJ commented on #258
just remembered that there is a method for db's that are access from multiple terminals ( think of banks ) but I can't remember what that required.. just a vague memory.

[2017-05-19 17:52] crazy-max commented on #258
I will take an example with **computer1** and **computer2**.

### On computer1

In the directory where the folders are synchronized your files on the cloud (we will say `C:\cloud`), extract Neard. This will give us: `C:\cloud\neard`.
Do not run Neard and wait for the synchronization to complete.

### On computer2

Have the same path for synchronization : `C:\cloud\neard`
Wait for data from the clo

[2017-05-19 17:55] N6REJ commented on #258
that's exactly what I perceive happening... but there is a binary that needs to be installed on both isn't there?

[2017-05-19 17:56] crazy-max commented on #258
It would be possible if we have a database on an other computer. For example **computer3** with IP address 192.168.0.3 will be dedicated for external access to MySQL.
Then your projects will have to use the database from computer3 (192.168.0.3) and not localhost as usual.

[2017-05-19 17:57] crazy-max commented on #258
Only [Neard Prerequisites Package](https://github.com/crazy-max/neard-prerequisites/releases/latest) have to installed on each computer that's it.

[2017-05-19 17:57] N6REJ commented on #258
ok, I'll go try more thoroughly before I ask more questions.. ty.

[2017-05-21 16:52] crazy-max opened #259 "New bundle for phpMyAdmin"
4p6 : 4.0.10.20, 4.4.15.10, 4.7.0

[2017-05-21 17:44] crazy-max commented on #259
Available : http://neard.io/apps/phpmyadmin/#releases

[2017-05-21 17:44] #259 closed

[2017-05-23 11:44] crazy-max opened #260 "New bundle for Drush"
8.1.11

[2017-05-23 13:03] crazy-max commented on #260
Available : http://neard.io/tools/drush/#releases

[2017-05-23 13:03] #260 closed

[2017-05-24 10:35] eric13500 opened #261 "Joomla 3.7.0 to 3.7.1 update failed with 500 error"
Please read this page http://neard.io/doc/reporting-issue before reporting an issue.

Hi!

like in the title: Joomla 3.7.0 to 3.7.1 update failed with 500 error
The previous update went smoothly...

This issue only occur when I try to update directly from the web.
When I downlowd the package and install from local folder, Joomla go to the panel control and not apply the update...

The logs folder,

[2017-05-27 16:33] crazy-max commented on #261
Hi @eric13500,

I keep you in touch

[2017-05-28 20:07] crazy-max opened #262 "New bundles for PHP"
7.0.19, 7.1.5

[2017-05-28 20:38] crazy-max commented on #262
Available : http://neard.io/bins/php/#releases

[2017-05-28 20:38] #262 closed

[2017-05-29 14:55] crazy-max opened #263 "New bundles for Node.js"
4.8.3, 6.10.3, 7.10.0

[2017-05-29 15:29] crazy-max commented on #263
Available : http://neard.io/bins/nodejs/#releases

[2017-05-29 15:29] #263 closed

[2017-05-29 21:08] N6REJ commented on #155
absolutely agree pearl should be native.

[2017-05-29 21:12] N6REJ commented on #136
@crazy-max I'm having a issue with inno on a program I'm writing to detect if mysql is locked or not, for the cloud use we talked about before.  I've got it all working 100% EXCEPT that when its shows the install directory its not showing the one that I mention in the video I'll be releasing this week.
my current iss is
`; Script generated by the Inno Setup Script Wizard.
; SEE THE DOCUMENTATION F

[2017-05-29 21:19] N6REJ opened #264 "Make releases up-to-date"
Per discussions with @crazy-max I'm creating this issue.
Currently, there are over 18 updates needed to bring the latest release to include the latest releases of all modules.  This is silly.  It's extremely ineffective and counter-intuitive to what's expected.
There should be 2 versions of each release, one with 32bit and one 64 bit.  Considering most machines and operating systems today are 64bi

[2017-05-29 21:23] N6REJ opened #265 "Replace xdebug-client with modern eqv."
The last version of xdebug client was in 2009!!  Surely something better has come along since then.
Does it even work with xdebug 2?
Perhaps something like https://github.com/robertbasic/pugdebug would be more useful?

[2017-05-29 21:27] N6REJ opened #266 "Add support for removing unwanted items from menu system."
While the menu system imo is the best out there having to keep so many unused modules in the menu is annoying.
I don't use mongo nor drupal nor wordpress nor notepad2 and really don't want them in my menu system.
as for notepad2 I'd MUCH prefer notepad++ be there as its fantastic!
imo if the item is turned off in the config, then it should not show up in the menu.  OR, have another flag which says

[2017-05-29 21:33] N6REJ opened #267 "Allow to run only a single instance (local and/or network)"
This one little "trick" is the entire key to using wamp on a network.  While wamp doesn't include precautionary mysql startup, it does provide everything else in 2 easy clicks to make it work on a network/cloud environment.
With the code I've created it's very easy to test for an existing .pid and NOT start "wamp" as its currently not safe since .pid's are machine specific.
This code could be easi

[2017-05-30 08:33] crazy-max opened #268 "New bundles for PostgreSQL"
9.2.21, 9.3.17, 9.4.12, 9.5.7, 9.6.3

[2017-05-30 13:13] crazy-max commented on #268
Available : http://neard.io/bins/postgresql/#releases

[2017-05-30 13:13] #268 closed

[2017-05-30 20:00] N6REJ commented on #261
@eric13500 why would you think this is a neard issue?

[2017-05-31 07:12] crazy-max commented on #261
@eric13500 I cannot reproduce your issue, like @N6REJ said, it's not related to Neard but your application on Joomla. Have you tried to update from 3.7.0 to 3.7.1 from a fresh install ?
I close the issue for the moment, waiting your feedback.
Thanks

[2017-05-31 07:12] #261 closed

[2017-05-31 07:13] crazy-max commented on #155
Will be on the next release

[2017-05-31 07:20] crazy-max commented on #136
Hi @N6REJ,

Some track to detect if mysqld.exe is launched :

* https://stackoverflow.com/questions/9941293/how-to-check-with-inno-setup-if-a-process-is-running-at-a-windows-2008-r2-64bit
* http://www.vincenzo.net/isxkb/index.php?title=PSVince

Anbd what do you mean by "that I mention in the video" ? Do you have a link ?

[2017-05-31 07:24] crazy-max commented on #264
For the moment Neard and all modules are 32bit based, except for MongoDB in the latest version.
I have made a package with the minimal release to ensure backward compatibility, specially for Windows XP users.

But for the next release, support for Windows XP will be drop and i will make multi kinds of releases.

[2017-05-31 07:29] crazy-max commented on #265
Yes indeed the XDebugClient module seems to not be maintained but you have the [Webgrind](http://neard.io/apps/webgrind/) module if you want ?
I will take a look at pugdebug to replace the XDebugClient.

[2017-05-31 07:34] crazy-max commented on #267
Ok thanks for your feedback

[2017-05-31 07:37] crazy-max commented on #266
Oh you talk about WP-CLI ?
Yes we could remove all unwanted items from the menu but i have to rewrite the whole system tray app because [aetraymenu](https://obroekma.home.xs4all.nl/aetraymenu/) does'nt provide this kind of stuff.
This will be in a major release.

And again thanks for your feedback ;)

[2017-05-31 16:38] N6REJ commented on #155
Any eta max?

[2017-05-31 16:40] N6REJ commented on #267
Here's my code @crazy-max https://github.com/N6REJ/Wamp-Safe-Start

[2017-05-31 16:50] N6REJ commented on #136
in our use that won't work because if its open on another machine there won't be a local process :D  Which is why I made my checked for a locked mysql.  If its locked it doesn't matter what else is going on simply stop and fix it.  I'll have my video up and running hopefully today, spent all yesterday perfecting the installer.  My work for the safe start is here .. https://github.com/N6REJ/Wamp-Sa

[2017-05-31 18:55] crazy-max commented on #155
End of june i think

[2017-05-31 18:57] crazy-max commented on #267
Ok thanks i see what you mean

[2017-05-31 19:25] crazy-max commented on #136
Ok thanks

[2017-06-01 02:03] N6REJ opened #269 "Add one button github / gitlab push"
Max, how hard would it be to add a 1 button committ/push to gitlap &/or github where it is pushing the entire neard folder?
Running into a few issues with the remote setup we talked about and trying to figure out a intelligent work around.  For whatever reason the users are not syncing even though the tables are.

[2017-06-01 10:08] crazy-max commented on #269
Git is not design to be used as a synchronization tool.
You could use rsync for example but i think every synchronization client like Dropbox, OneDrive, Owncloud, etc... should work but only with a manual sync to prevent data corruption (mysql data for example).
I will reopen your sync issue #258 and close this one

[2017-06-01 10:08] #269 closed

[2017-06-01 12:01] postaczech opened #270 "After upgrade form 1.0.22 to 1.2 not working"
My project which worked on older version not working in new ... :((( Voirtual host set up the same, but i show forbidden page

[2017-06-01 13:01] crazy-max commented on #270
Hi, have you followed the upgrade.md ?

[2017-06-02 01:22] N6REJ commented on #258
ok @crazy-max I've confirmed the problem.. I don't understand it, but I know WHAT is happening...
the users in mysql don't match on each machine even though the database is exactly the same file(s).
This is the laptop... which is the secondary machine.. i.e. the one working from google drive.
![image](https://cloud.githubusercontent.com/assets/1850089/26707050/996cfb6c-4707-11e7-8f08-616738676b56.

[2017-06-03 14:00] crazy-max opened #271 "New bundle for Composer"
1.4.2

[2017-06-07 13:18] crazy-max commented on #271
Available : http://neard.io/tools/composer/#releases

[2017-06-07 13:18] #271 closed

[2017-06-07 13:19] crazy-max opened #272 "Drush 8.1.11 r4 malformed"

[2017-06-07 13:51] crazy-max commented on #272
Solved : http://neard.io/tools/drush/#releases

[2017-06-07 13:51] #272 closed

[2017-06-07 13:52] crazy-max commented on #270
@postaczech ?

[2017-06-07 23:28] N6REJ commented on #258
@crazy-max I think I came up with a better solution.  We both know the dangers of using single db from multiple pcs.  So what if we used https://portableapps.com/apps/development/portableapps.com_installer instead?  xampp does this so I would think neard could also.  Then there is no need for trickery.  Just put portable on both machines and the rest is done automatically.

[2017-06-10 18:03] crazy-max commented on #258
@N6REJ A Portableapps can be done but the result will be the same i think. Have you tried with Xampp and a single db ?

[2017-06-10 18:47] crazy-max commented on #265
Unfortunately, pugdebug stores the configuration in the registry : `HKEY_CURRENT_USER\Software\pugdebug`

![image1](https://user-images.githubusercontent.com/1951866/27005382-e3c747ea-4e1d-11e7-958c-74566fd9af0a.png)

[2017-06-10 19:30] N6REJ commented on #258
thats on the schedule for this weekend.

[2017-06-10 20:01] crazy-max opened #273 "New bundles for ImageMagick"
6.9.8-9, 7.0.5-10

[2017-06-11 16:26] crazy-max commented on #273
Available : http://neard.io/tools/imagemagick/#releases

[2017-06-11 16:26] #273 closed

[2017-06-13 05:21] N6REJ opened #274 "replace notepad2-mod with notepad++ portable"
@crazy-max max,  can we replace notepad2 with notepad++ portable?  If so how?

[2017-06-13 14:42] crazy-max commented on #274
@N6REJ Notepad++ is hard to customize for a final user, i have tried before with SublimeText but [Notepad2-mod](https://github.com/XhmikosR/notepad2-mod) is less restrictive.
I can take a new look on Notepad++ and if possible provide an option on Neard to select your favorite text editor.

[2017-06-13 14:44] crazy-max opened #275 "Release of Node.js 6.11.0, 8.1.0"

[2017-06-13 16:17] N6REJ commented on #274
I appreciate that.. as I"m sure your aware it and sublime are the kings

[2017-06-13 17:01] N6REJ opened #276 "Release of php 7.0.20 & 7.1.5"
@crazy-max which version should we download?  I don't know if threadsafe or not.. I'd prefer to use x64

[2017-06-13 19:41] crazy-max commented on #276
@N6REJ As stated in the [FAQ](http://neard.io/doc/faq/#phpexe---entry-point-not-found), on Neard **PHP is installed as Thread Safe**.
Apache module is based on x86 architecture unfortunately and PHP is declared as an Apache module but in a future release, PHP will be an independent and declared as a separate service.

[2017-06-13 19:59] N6REJ opened #277 "phpmyadmin won't display nor login"
@crazy-max sorry to bother you again.
I updated ALL packages to their latest and added phpmyadmin 4.7.10
I'm not sure what I did wrong but regardless it's not working perfectly :(
Here is my setup.  Not trying to do anything fancy right now just get it to fully work.
phpmyadmin only displays blank page or it says the server is missing...
[Full updated neard](https://www.amazon.com/clouddrive/share

[2017-06-13 20:02] N6REJ commented on #276
sorry thought I read it fully.. tyvm

[2017-06-13 20:03] crazy-max commented on #276
No problem ;)

[2017-06-13 20:03] #276 closed

[2017-06-13 20:04] crazy-max commented on #277
You can create a virtual host here :

![image](https://user-images.githubusercontent.com/1951866/27102039-28f93de2-5084-11e7-80a2-15234401a623.png)

Enter a server name and the destination of your document root. This will create the virtual host configuration and the SSL certificate.

For your problem with phpmyadmin i will take a look on your neard.7z package.

[2017-06-13 20:15] N6REJ commented on #277
Pro as always... if it helps I only need one of anything of course.

[2017-06-13 20:27] crazy-max commented on #277
A rapid check, why you don't use the official neard module of phpmyadmin ?

![image](https://user-images.githubusercontent.com/1951866/27102760-b8a93300-5086-11e7-8410-a3c474badfe4.png)

Neard provides multi versions of phpmyadmin (4p5, etc...) because of PHP version compatibility :

[code]

[2017-06-13 20:36] crazy-max commented on #277
An other look,

Your `neard.conf`` at the root folder is wrong :

![image](https://user-images.githubusercontent.com/1951866/27103203-317bd9b2-5088-11e7-8a2e-df7a7727d03a.png)

Indeed you don't have a 4.7.0 release in `apps\phpmyadmin` :

![image](https://user-images.githubusercontent.com/1951866/27103218-42d17f8c-5088-11e7-9aa8-c8f910871f91.png)

And as you can see in the phpmyadmin.conf alias, t

[2017-06-13 20:37] crazy-max commented on #277
I close the issue waiting your response thanks!

[2017-06-13 20:37] #277 closed

[2017-06-13 20:37] crazy-max commented on #275
Available : http://neard.io/bins/nodejs/#releases

[2017-06-13 20:37] #275 closed

[2017-06-14 18:21] N6REJ commented on #277
sorry for delay @crazy-max I tried 4x yesterday to leave a reply and my damn system kept BSOD on me.. 8x in 2hrs *ARGH*
Anyway, your change to 4p6 fixed phpmyadmin, so tyvm!!!
as for phpmyadmin.conf  I'm not sure where you found that and I know I didn't touch it.  I find it interesting that the drive is specified.
Lastly I again want to thank you for being so responsive and kind.  I hope ultimatel

[2017-06-14 22:58] N6REJ opened #278 "Bit Defender alert"
just had a interesting alert from bit defender..
![image](https://user-images.githubusercontent.com/1850089/27158152-0f08ab3c-512b-11e7-8a1f-c7f5bc26ce67.png)

[2017-06-15 09:56] crazy-max commented on #278
Thanks, i have opened an issue on the official repository.

[2017-06-27 17:22] #157 closed

[2017-06-28 08:57] #270 closed

[2017-07-04 10:40] freMea opened #279 "Request Git Bundle 2.13.2"
This last bundle comes with Git Flow 1.11. Currently, the neard version has an old version of git flow that comes with git 1.13.0.

[2017-07-04 16:47] crazy-max commented on #279
@freMea You mean 2.13.2 ;)

[2017-07-04 17:03] crazy-max commented on #279
Available here : http://neard.io/tools/git/#releases
If you want to be notified of new releases of Git bundles, you can star the repository : https://github.com/crazy-max/neard-tool-git

[2017-07-04 17:04] #279 closed

[2017-07-07 13:16] crazy-max opened #280 "Release of PHP 7.0.21, 7.1.7"

[2017-07-09 21:44] N6REJ opened #281 "phpmyadmin fails to start with unstable release"
@crazy-max hey max, just installed your "unstable release" version.  The only thing I've updated is php ( your 7.1.7 bundle ) , upon starting phpmyadmin I get
![image](https://user-images.githubusercontent.com/1850089/27997727-4dda47d8-64c4-11e7-9236-768dff8927de.png)
I renamed the bundle to and removed the "-" which then threw red triangles for php and apache.
updating apache to 2.4.5
resulted in

[2017-07-09 21:54] N6REJ commented on #281
update: copying 5.3.13's neard.conf to 7.1.7 resulted in both apache and php starting, but there is no php.neard nor php.ini in 7.1.7

[2017-07-09 22:02] crazy-max commented on #281
Hi,

I've download the latest PHP 7.1.7 from Neard web site, everything is fine for me and there is a php.ini in the php7.1.7 folder:

![image](https://user-images.githubusercontent.com/1951866/27997942-c2d6788e-6502-11e7-9342-3b38e12c72b6.png)

* How do you switch from PHP 5.3.13 7.1.7 ?
* What is you Neard version ?
* You talk about `updating apache to 2.4.5`. Where do you find Apache 2.4.5 ?
*

[2017-07-09 22:04] crazy-max commented on #280
Available here : http://neard.io/bins/php/#releases

[2017-07-09 22:04] #280 closed

[2017-07-09 22:24] crazy-max commented on #281
I've download the latest unstable Neard 1.2.11 and the modules, PHP 7.1.7 and Apache 2.4.25 then :

* Extract Neard 1.2.11
* Extract Apache 2.4.25 to `bins\apache`
* Extract PHP 7.1.7 to `bins\php`
* Edit `neard.conf` in the root folder and change modules versions for apache and php.
* Execute `neard.exe`

Following these steps, everything works fine.

[2017-07-09 22:27] crazy-max commented on #155
Ok i'm just starting working on it

[2017-07-09 22:47] N6REJ commented on #281
something is weird... I'll redo it after lunch ( 45min? )
![image](https://user-images.githubusercontent.com/1850089/27998164-129f4754-64ce-11e7-9178-46bdcf7e2410.png)
7.0.19 works.

[2017-07-09 23:12] N6REJ opened #282 "vhosts"
@crazy-max is there any documentation explaining the vhosts folder?
whats the difference between putting the files in www vs vhost?

[2017-07-10 11:42] crazy-max commented on #281
The folder structure of your PHP 7.1.7 is not the same as the official Neard module PHP 7.1.7.
Where do you download it ??

[2017-07-10 11:45] crazy-max commented on #282
Hi,

No there is no documentation on the Neard website explaining the vhosts functionnality. You have to be familiar with Apache to understand that. Here are some links about that :

* https://httpd.apache.org/docs/2.4/vhosts/
* http://foundationphp.com/tutorials/apache_vhosts.php

If you are familiar with Linux environment, on Neard `www` reflects `/var/www` on your server and `vhosts` can be `/e

[2017-07-10 11:45] #282 closed

[2017-07-10 14:47] N6REJ commented on #281
I was going to just use windows LAMP stack and then changed my mind and apparently extracted 7.1.7 onto the desktop instead of in a folder... installed the proper neard bundle and that problem went away.. LOTS of red triangles but since its unstable release I'm not surprised.
As for reporting I apologize and will follow the directions more carefully.

[2017-07-10 14:47] #281 closed

[2017-07-11 15:59] crazy-max opened #283 "Add Visual C++ Redistributables 2017 (VC15)"

[2017-07-11 16:08] crazy-max commented on #283
Available : https://github.com/crazy-max/neard-prerequisites/releases/tag/r9

[2017-07-11 16:08] #283 closed

[2017-07-11 18:48] crazy-max commented on #155
Done, i will make a new package of Neard

[2017-07-11 18:48] #155 closed

[2017-07-11 18:51] crazy-max opened #284 "Release of Ruby 2.4.1.2.p111"

[2017-07-11 20:55] crazy-max commented on #284
Available here : http://neard.io/tools/ruby/#releases

[2017-07-11 20:55] #284 closed

[2017-07-13 12:08] crazy-max opened #285 "Release of Node.js 4.8.4, 6.11.1, 7.10.1, 8.1.4"

[2017-07-13 14:38] crazy-max opened #286 "Monokai colors for Console"
More info : https://github.com/tstone/console2-monokai

[2017-07-13 14:39] crazy-max opened #287 "Add GnuWin32 CoreUtils to Console"
More info : http://gnuwin32.sourceforge.net/packages/coreutils.htm

[2017-07-14 16:14] crazy-max opened #288 "Replace TCC/LE with Clink for Console"

[2017-07-15 13:34] crazy-max opened #289 "Error while launching SVN console"

[2017-07-15 14:55] crazy-max commented on #285
Available : http://neard.io/bins/nodejs/#releases

[2017-07-15 14:55] #285 closed

[2017-07-15 15:24] #289 closed

[2017-07-15 15:24] #288 closed

[2017-07-15 15:25] #287 closed

[2017-07-15 15:25] #286 closed

[2017-07-15 15:54] crazy-max opened #290 "Error while launching PostgreSQL console"

[2017-07-15 15:56] crazy-max opened #291 "Check Console shell"

[2017-07-15 16:14] #290 closed

[2017-07-15 16:14] #291 closed

[2017-07-15 16:24] crazy-max commented on #258
I close this issue for the momenbt waiting your answer

[2017-07-15 16:24] #258 closed

[2017-07-15 17:31] StaggerLeee commented on #266
Some groove estimate when new menu could be finished ?

[2017-07-17 09:49] N6REJ opened #292 "Error Installing PHP_CodeSniffer via pear"
Hi Max, so I've got an issue that might warrant two tickets..
I'm trying to install codesniffer and I'm running into a major bug.  I'm not sure that its neard related but I thought I'd bring it to you to see what your thoughts/fix is.
OS: Windows 10 x64 pro
Neard: 1.2.11
php 5.6.30, php 7.0.19 & php 7.1.7 all with same result
[Log files](https://drive.google.com/open?id=0B31YVf0qLc5gc2JaZk9mNHN4en

[2017-07-17 12:34] crazy-max commented on #292
Hi @N6REJ,

Can you type `phpcs --version` and give me the output ?
I have the same error as you but PHPCS has still installed.

[2017-07-17 15:39] N6REJ commented on #292
Microsoft Windows [Version 10.0.15063]
(c) 2017 Microsoft Corporation. All rights reserved.

C:\WINDOWS\system32>f:

F:\>cd neard

F:\neard>phpcs --version
PHP Warning:  Xdebug MUST be loaded as a Zend extension in Unknown on line 0

Warning: Xdebug MUST be loaded as a Zend extension in Unknown on line 0
PHP_CodeSniffer version 2.8.1 (stable) by Squiz (http://www.squiz.net)

F:\neard>

[2017-07-23 16:55] crazy-max commented on #220
Ghostscript is available in the [latest 1.2.16 unstable release](https://github.com/crazy-max/neard/releases/tag/v1.2.16)

[2017-07-23 16:55] #220 closed

[2017-07-23 17:03] crazy-max opened #293 "Release of MariaDB 5.5.57, 10.0.31, 10.1.25, 10.2.7"

[2017-07-23 18:45] crazy-max commented on #293
Available : http://neard.io/bins/mariadb/#releases

[2017-07-23 18:45] #293 closed

[2017-07-23 22:22] crazy-max opened #294 "Release of Apache 2.2.34, 2.4.27"

[2017-07-23 23:04] crazy-max commented on #294
Available : http://neard.io/bins/apache/#releases

[2017-07-23 23:04] #294 closed

[2017-07-23 23:10] N6REJ commented on #285
@crazy-max they just released several updates since the 11th.. apparently there are some security fixes.

[2017-07-23 23:12] crazy-max commented on #285
@N6REJ Yep that's why i released the latest versions of Node.js pretty fast for Neard

[2017-07-24 01:26] N6REJ opened #295 "npm console crashes neard on open"
**When starting the node console it crashes node & neard.** both 0.12.9 & 8.4.1 are effected.

os: Win 10 x64 pro
neard: 1.2.11
logs: https://drive.google.com/open?id=0B31YVf0qLc5gc2JaZk9mNHN4enc
Demo of issue: https://drive.google.com/file/d/0B31YVf0qLc5gakFQbmJPbFAyeEk/view

[2017-07-24 01:28] N6REJ commented on #285
sorry, should have clarified, they are at 8.2.1 now LOL

[2017-07-24 01:41] N6REJ commented on #295
it's a known issue but https://github.com/npm/npm/issues/17839 suggests the latest node.js fixes it.

[2017-07-24 09:58] crazy-max commented on #295
Ok thanks i will take a look

[2017-07-24 10:04] crazy-max opened #296 "Release of MySQL 5.5.57, 5.6.37, 5.7.19"

[2017-07-24 11:10] crazy-max commented on #295
Hi,

No issue for me with Neard 1.2.11 and Node.js 0.12.9 / 8.4.1. Everything works fine.
What is your console version ?

[2017-07-24 12:00] N6REJ commented on #295
The same one that came with 1.2.11 .. p2
![image](https://user-images.githubusercontent.com/1850089/28522500-d3ae5e74-703d-11e7-9d7b-fc680bbb0cb1.png)

[2017-07-24 12:06] N6REJ commented on #295
just fyi its actually 2 issues max,  1) console crashes neard   2) using npm creates that error shown

[2017-07-24 12:27] N6REJ commented on #283
@crazy-max I'm concerned about installing r9 when there are 2 updates for windows xp/7  included and yet I'm on windows 10 x64 pro
- KB838079 : Integrated for Windows XP to install Windows Support Tools.
- KB2731284 : Fix "33" DOS error code when memory memory-mapped files are cleaned by using the FlushViewOfFile() function in Windows 7.

[2017-07-24 12:31] crazy-max commented on #283
KB838079 is only installed if Windows XP is detected : https://github.com/crazy-max/neard-prerequisites/blob/master/setup/setup.iss#L111
Same for KB2731284 if Windows 7 is detected : https://github.com/crazy-max/neard-prerequisites/blob/master/setup/setup.iss#L99

[2017-07-24 12:31] N6REJ commented on #283
ok, cool.. ty!

[2017-07-24 12:32] crazy-max commented on #283
Yep the app is not signed for the moment

[2017-07-24 12:32] N6REJ commented on #283
does it install only 32bit or both?  I vaguely remember reading on ms visual stuff that x64 is needed?

[2017-07-24 13:25] crazy-max commented on #283
;)

[2017-07-24 14:46] crazy-max commented on #296
Available : http://neard.io/bins/mysql/#releases

[2017-07-24 14:46] #296 closed

[2017-07-24 16:26] crazy-max commented on #295
According to your `neard-startup.log`, your system PATH has duplicated elements that can interfers with Neard :

`[2017-07-09 16:18:37] # Neard 1.2.11 # DEBUG: Refresh system PATH: C:\WINDOWS\system32;C:\WINDOWS;C:\WINDOWS\System32\Wbem;C:\WINDOWS\System32\WindowsPowerShell\v1.0\;C:\Program Files (x86)\NVIDIA Corporation\PhysX\Common;C:\ProgramData\ComposerSetup\bin;%SystemRoot%\system32;%SystemRo

[2017-07-24 17:31] N6REJ commented on #295
wow, it was a disaster, I've no clue how that happened... I see other things that I'm not sure if they are correct or not..
![image](https://user-images.githubusercontent.com/1850089/28535975-e050cd96-706b-11e7-8dec-60c5b5eb9b5b.png)
and I'm not sure what to put for %NEARD_BINS%.  If it makes a difference neard is on my USB flash drive.
I have git CLI installed ergo C:\Program Files\Git\cmd

[2017-07-24 20:06] crazy-max commented on #295
%NEARD_BINS% is automatically generated when you launch Neard.

[2017-07-24 23:50] N6REJ commented on #295
so, remove neard_bins & neard_path?

[2017-07-25 11:22] crazy-max commented on #295
You can keep them, there are automatically overwritten when you launch Neard.
Cleaning the PATH solves the issue or not ?

[2017-07-25 16:17] N6REJ commented on #295
II removed them then just to keep things clean as I've no idea how they got there...
issue still not resolved, it stayed on the screen longer, and this time I saw white text briefly, then it crashed again...
Checking taskmgr i noticed that even though neard has closed none of the services have.
core/tmp folder is empty.
[logs.zip](https://github.com/crazy-max/neard/files/1174040/logs.zip)

[2017-07-25 16:31] N6REJ commented on #295
I thought I had found the cause but shutting all the CC services down didn't solve it either.
![image](https://user-images.githubusercontent.com/1850089/28582762-3507d486-712c-11e7-9d6a-b68aedaa504b.png)

[2017-07-25 17:01] crazy-max commented on #295
Hum i think you have node / npm somewhere in your Path.
Can you post your env Path from System and User please ?

[2017-07-26 02:53] N6REJ commented on #295
ok, so I tried the latest, first time w/o rebooting it crashed all over the place,  and after CLEAN restart it functioned, and npm ran just fine.  npm install uglify-js ran fine.  EXCEPT.. there was postrgres error and it did not start..
![image](https://user-images.githubusercontent.com/1850089/28602317-f2d4381e-7182-11e7-8adc-4055ea1c45de.png)
so, I shut neard down, and attempted restart, it's c

[2017-07-26 02:54] N6REJ commented on #295
oops, forgot to give you logs..
[tmp.zip](https://github.com/crazy-max/neard/files/1175332/tmp.zip)
[logs.zip](https://github.com/crazy-max/neard/files/1175334/logs.zip)

[2017-07-26 13:59] crazy-max commented on #295
@N6REJ You confuse the System path and NEARD_BINS paths.

NEARD_BINS envrionment var is in the System PATH environment var and is expanded via %NEARD_BINS%. So everything in NEARD_BINS will be in System PATH (type `set Path` in your command prompt to check).

NEARD_BINS and NEARD_PATH must be present when stopping Neard because theses vars are used to check if you move your Neard folder. So each t

[2017-07-28 23:46] N6REJ commented on #295
max, just fyi, I just tried normal "console" in the main menu and running "pear install PHP_CodeSniffer" caused the crash also.

[2017-07-29 00:07] N6REJ commented on #295
idk if this is relevant or not..
![image](https://user-images.githubusercontent.com/1850089/28740223-f08734de-73c7-11e7-93ef-026ad5100c8c.png)

[2017-07-29 00:40] N6REJ commented on #292
I think I found part of the problem.. it seems php's path doesn't get changed when version is changed..
![image](https://user-images.githubusercontent.com/1850089/28740610-9862dccc-73cc-11e7-8239-9d34e8098ad8.png)
Reload and restart all services have no effect.

[2017-07-29 03:18] N6REJ opened #297 "Mysql Issues"
There are a couple of mysql issues with the latest 1.2.16 release.
1) index.php shows that mysql service is stopped even when running
2) can't start mysql 5.7.19
![mysql-5 7 19](https://user-images.githubusercontent.com/1850089/28741707-182fcd24-73e2-11e7-9a53-535a6d6924e8.PNG)
[logs](https://drive.google.com/open?id=0B31YVf0qLc5gc2JaZk9mNHN4enc)
ONLY neard objects have been used.  This is a clean

[2017-07-29 03:25] N6REJ commented on #295
fixed with release [1.2.16](https://github.com/crazy-max/neard/releases/tag/v1.2.16)

[2017-07-29 03:25] #295 closed

[2017-07-29 03:32] N6REJ commented on #292
Fixed in release [1.2.16}(https://github.com/crazy-max/neard/releases/tag/v1.2.16)
NOTE:  The reason xdebug throws error is if you go to php-extensions and activate the module it clashes with the hard coded xdebug statement already in .php.ini when neard is installed.
with php_xdebug module deactivated it infact still has xdebug active as can be seen in phpinfo
![image](https://user-images.githubu

[2017-07-29 03:35] N6REJ commented on #278
@crazy-max be aware, on doing fresh install of 1.2.16 bitdefender marked as potentially harmful & deleted neard.exe and C:\neard\core\libs\nssm\nssm.exe and when i told it to exclude them they were NOT restored and could not be until I rebooted the system.

[2017-07-29 11:17] crazy-max commented on #295
Ok good!

[2017-07-29 11:18] crazy-max commented on #278
@N6REJ MMhhh very strange, neard.exe does not move since the beginning. Maybe a new signature has been added to bitdefender. Can you check with Neard 1.2 please ?

[2017-07-29 11:41] crazy-max commented on #297
No issue for me here :

* Extract neard 1.2.16
* Extract mysql 5.7.19 r10 in `bins\mysql`
* Start Neard
* Switch MySQL 5.5.24 to 5.7.19
* Restart Neard

![image](https://user-images.githubusercontent.com/1951866/28744512-f172fad6-7462-11e7-9ccc-fe24072d70da.png)

In your logs i saw in `neard-error.log` :

[code]

Note : if you changed your MySQL root password from Console or PhpMyAdmin, it will no

[2017-07-29 11:41] #297 closed

[2017-07-29 11:54] crazy-max commented on #292
Your PHP path is not changed because you have the smae cmd opened between the previous and current version of PHP. You have to open a new cmd to reflect the new environment variables.

Concerning xdebug, indeed there is an issue, i have to exclude php_xdebug for the extensions php within the Neard menu.

[2017-07-29 11:54] #292 closed

[2017-07-29 11:55] crazy-max opened #298 "Exclude php_xdebug from PHP extensions"
See #292

[2017-07-29 14:27] N6REJ commented on #278
![image](https://user-images.githubusercontent.com/1850089/28745516-74d6b54e-743f-11e7-8c34-660be6fbfd46.png)
what I find strange is it didn't complain about THOSE 2 files in 1.2.11 but did throw a trojan error if you recall, but in 1.2.16 no trojan error but it threw the application error but NOT on extract.. it didnt' do it till I ran it.
And sure enough.. once I ran 1.2 it threw it
![image](htt

[2017-07-29 14:38] N6REJ commented on #278
ok, bit defender is now pulled from my system.  It threw c:\desktop\neard\neard.exe away permamently, which is fine, BUT, at the same time it threw c:\neard\neard.exe away which is NOT fine, as it had already been excluded!!!  .. bad bad bad boy! 👎

[2017-07-29 15:02] N6REJ commented on #297
I didn't change passwords at all.  Nor have I removed either version of mysql.  Infact, I removed 5.7.19 and redownloaded and replaced it.  I don't know what the N/A/ means but its no path that I have.
https://drive.google.com/file/d/0B31YVf0qLc5gUXlaSjdtRXZBclU/view  This video will show you some of whats going on.. sorry the webcam was in the way :(
I'll upload my install to googledrive as soon

[2017-07-29 15:54] crazy-max commented on #297
Ok zip and upload your Neard installation i will take a look

[2017-07-29 16:05] crazy-max commented on #278
Based on VirusTotal analysis, there is no threats :

* `neard.exe` : https://www.virustotal.com/en/file/bed8eeffb63e893b1053fb4ca3a73e24a4e659face21589045165d3238770e11/analysis/
* `core/libs/nssm/nssm.exe` : https://www.virustotal.com/en/file/472232ca821b5c2ef562ab07f53638bc2cc82eae84cea13fbe674d6022b6481c/analysis/

But for MailHog 1.0.0 there are threats : https://www.virustotal.com/en/file/0c0

[2017-07-29 16:11] N6REJ commented on #297
btw, its not mailhog, its lsass.exe... talking to ms and will upload everything to the same google folder.. one sec.

[2017-07-29 18:01] N6REJ commented on #297
just did a full reboot and now even though lsass.exe is running its NOT using port 3306. It's using
  TCP    [::]:49731             BearsPC:0              LISTENING
 [lsass.exe]  I haven't restarted neard and will wait for you.  If you want to zoom I'm open to it.
the dang file FINALLY uploaded https://drive.google.com/drive/folders/0B31YVf0qLc5gc2JaZk9mNHN4enc?usp=sharing  gave you some extra inf

[2017-07-29 22:02] N6REJ commented on #278
[Nerd](https://www.virustotal.com/en/file/bed8eeffb63e893b1053fb4ca3a73e24a4e659face21589045165d3238770e11/analysis/1501365644/)
[nssm](https://www.virustotal.com/en/file/472232ca821b5c2ef562ab07f53638bc2cc82eae84cea13fbe674d6022b6481c/analysis/1501365129/)
[mailhog 1.0.0](https://www.virustotal.com/en/file/0c0e85b6e66e8f43318a298531a9a9d8aad98ef77744042f7c3049970bb57e42/analysis/1501365385/)

yet

[2017-07-29 22:17] N6REJ commented on #278
maybe we should replace mailhog ??  http://www.philbertphotography.com/blog/own-smtp-server

[2017-07-30 11:17] N6REJ opened #299 "Feature Request: Composer"
Would it be possible to having composer installed by default?

[2017-07-30 11:42] crazy-max commented on #299
Composer is laready available : http://neard.io/tools/composer/

[2017-07-30 11:42] #299 closed

[2017-07-30 11:56] #298 closed

[2017-07-30 14:20] crazy-max opened #300 "Release of Node.js 8.2.1"

[2017-07-30 14:47] N6REJ commented on #299
fantastic!  sorry to bother you.

[2017-07-30 15:16] crazy-max opened #301 "Paths are not updated while switching version"

[2017-07-30 15:37] crazy-max commented on #300
Available : http://neard.io/bins/nodejs/#releases

[2017-07-30 15:37] #300 closed

[2017-07-30 18:28] #301 closed

[2017-07-31 08:45] N6REJ opened #302 "SSH Certs created for wrong country"
looks like when you ask nerd to create a SSH cert its using the default wamp country of france.
![image](https://user-images.githubusercontent.com/1850089/28769841-bb29f39e-75a2-11e7-8025-6c9678c3f82e.png)

[2017-07-31 09:44] crazy-max commented on #302
SSH certificates are created only for testing and development purpose. So there is no need to choose / change the default country based on Neard.

[2017-07-31 09:44] #302 closed

[2017-08-01 18:14] crazy-max commented on #278
I prefer to stay on an open source stacks.
I close this issue, it's a false positive (see mailhog/MailHog#154)

[2017-08-01 18:14] #278 closed

[2017-08-04 17:47] r-a-y commented on #136
It would be useful to have an installer to omit certain applications from being included.

Currently, the extracted filesize is 1.4GB, which is quite large.

[2017-08-06 14:27] StaggerLeee opened #303 "New launch manager"
Did you see this menu launch manager ?
Does a licence fit Neard platform ?

As I see it after some playing it could be perfectly used for Neard. And give us Users unlimited customization possibilities too.

https://www.ugmfree.it/Default.aspx

Besides basic Neard using, you could limit their lists of GPL portable Apps to few/some of them web developers use often. And if any Neard User wish he/she

[2017-08-10 18:22] crazy-max commented on #303
Hi @StaggerLeee,

It could be a good idea but unfortunately SyMenu is not opensource.
I'm working on a huge refactoring of Neard (2.0) but it takes time and I do not have much :smile:

Anyway thank you for your contribution and do not hesitate to propose new ones!

[2017-08-10 18:22] #303 closed

[2017-08-10 18:29] crazy-max commented on #225
Hi @the-veloper,

We can add this module to Neard but it requires a JRE (Java Runtime). We can then create a JRE module linked to the H2 module but for the moment Neard does not support module dependencies.

I mark your request as a major feature, thanks.

[2017-08-10 18:37] crazy-max opened #304 "Release of Node.js 6.11.2, 8.3.0"

[2017-08-11 09:09] crazy-max commented on #304
Available : http://neard.io/bins/nodejs/#releases

[2017-08-11 09:09] #304 closed

[2017-08-11 17:13] N6REJ commented on #297
@crazy-max any word on fixing this?

[2017-08-12 21:50] N6REJ opened #305 "Git security update & keygen"
@crazy-max Sorry to bother you max but thought I'd like you know that there has been a security update for git and that you can't run the "ssh-keygen" function from within neard git console.  You can run it just fine from windows git bash.
https://help.github.com/articles/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent/

Here's the security release info.. http://marc.info/?l=git&m=15023880

[2017-08-12 22:30] crazy-max commented on #297
@N6REJ Oh sorry i forgot to take a look! And i lost your upload :/
Can you upload it again ?

[2017-08-12 22:31] crazy-max commented on #305
@N6REJ Ok thanks i will make a new release for the Git module!

[2017-08-12 22:31] #305 closed

[2017-08-12 22:34] crazy-max opened #306 "Release of Git 2.14.1"

[2017-08-12 23:00] crazy-max commented on #305
See issue #306

[2017-08-12 23:00] crazy-max commented on #306
Available : http://neard.io/tools/git/#releases

[2017-08-12 23:00] #306 closed

[2017-08-12 23:41] N6REJ commented on #305
the zip i gave you works fine for x64

[2017-08-12 23:44] crazy-max commented on #305
Yes i see that thanks but the module has to be built and included in neard-modules-untouched and neard-tool-git repositories to make it available for everyone.
For more info, check this link : http://neard.io/doc/contribute/

[2017-08-16 05:11] tienv2i opened #307 "Can't change apache and php version"
I am have just used neard recently. Now, I want to change version of apache to 2.4.24 and php to 5.6.30 but it failed. I download apache from http://neard.io/bins/apache/ and php from http://neard.io/bins/php/ then I extract them to neard\bin\php and neard\bin\apache. After that, I restart neard and change apache version form neard menu, it said that appache version doesn't seem to be compatible w

[2017-08-16 11:53] crazy-max commented on #307
Hi @tienv2i,

As you can see in the [compatibility table](http://neard.io/bins/apache/#compatibility-table), Apache 2.4 is compatible for PHP >= 5.4. But you cannot switch to Apache 2.4 with PHP 5.3.13. You can switch first to PHP 5.4 then switch Apache to 2.4 then switch PHP 5.6.

Or you can edit your neard.conf file and change :

`apacheVersion = "2.2.22"` to `apacheVersion = "2.4.24"`
and `phpV

[2017-08-16 11:53] #307 closed

[2017-08-16 12:21] crazy-max commented on #224
Hi @the-veloper,

Unfortunately Redis is not maintained anymore on Windows. The repository has been transferred to the [archive repository](https://github.com/MicrosoftArchive/redis) of Microsoft.
You can bump MicrosoftArchive/redis#556 if you want for more info.

[2017-08-16 12:21] #224 closed

[2017-08-17 10:16] StaggerLeee opened #308 "Firefox & Chrome require the subjectAltName (SAN) X.509 extension for certificates"
Does it work with localhost without need to make virtual hosts ?

Chrome gives error "This server could not prove that it is localhost; its security certificate does not specify **Subject Alternative Names**. This may be caused by a misconfiguration or an attacker intercepting your connection.",

as certificate is made for Linux, not WIndows.

PS: I know it can appear stupid to have it on isolated

[2017-08-17 20:17] N6REJ commented on #308
yeah, works fine.. let me know if you need help

[2017-08-17 22:05] StaggerLeee commented on #308
Help need I, any.
Would someone be nice to write short step by step how to activate it. Chrome detect it is not encrypted connection. So I obviously cannot make it to work.

[2017-08-17 23:15] N6REJ commented on #308
all that means is you need to tell it yes, and then add exception for self certificate.. totally normal

[2017-08-18 07:22] StaggerLeee commented on #308
You are a man of big and long words. :)

I will buy you a beer if you treat me like beginner and explain what I have to do to make it work. Namely, it is first time I need it, as strange as it may sound.

Put all my websites on one shared hosting without SSL, what I will of course not do anymore due to the Google demands. And simply did not use it before.

Checked a bit how it is done in Wamp. Jus

[2017-08-18 07:30] StaggerLeee commented on #308
I mean I do not see anywhere in browsers where to tell it "yes" and "add exception" for certificate. Maybe I did missunderstand.

[2017-08-18 09:51] StaggerLeee commented on #308
Subject Alternative Names is missing from Neard certificate. (NET::ERR_CERT_COMMON_NAME_INVALID
)

http://www.expta.com/2017/06/fix-for-certificate-error-in-chrome.html

[2017-08-18 10:33] StaggerLeee commented on #308
Looks like encrypted communication and SSL is working. Just this SAN problem, making it difficult to know what site is using https, what not. Browsers will give red triangle for all websites.

I do not know if it is in power of Neard (OpenSSL) to make it work on localhost, and as a certificate not in any trusted lists around the world.

Developer of Neard can explain it best.

[2017-08-18 11:25] crazy-max commented on #308
Hi @StaggerLeee,

I have checked on Chrome 60.0.3112.101 and i dont have your `NET::ERR_CERT_COMMON_NAME_INVALID` error :

![image](https://user-images.githubusercontent.com/1951866/29456964-406d74b2-8418-11e7-9bd6-575943fe7d66.png)

What is your Chrome version ?
Have you tried to regenerate the SSL certificate ? (Through Neard > Tools > Generate SSL certificate  whith Name = localhost)

Also plea

[2017-08-18 11:31] StaggerLeee commented on #308
Hi Max

yes I tried with different names and localhost name only. Target I did not touch, once only as test.
Kaspersky is forcing its own localhost certificate for SSL scanning. I disabled this option, Neard certificate shows with same "error" message.

I activated certificate link in chrome flags, to be able to know what certificate Chrome calls on page(s).

Version 60.0.3112.101 (Official Build)

[2017-08-18 11:33] crazy-max commented on #308
Ok thanks, i will investigate on it.

[2017-08-18 11:37] crazy-max commented on #308
@StaggerLeee, What is your Apache version ?

[2017-08-18 12:05] crazy-max commented on #308
Ok thanks, i will investigate on it.

What is your Apache version ?

Can you attach these files to this issue please :

![image](https://user-images.githubusercontent.com/1951866/29458210-4b8f6c64-841e-11e7-8cf4-7cb445347f59.png)

[2017-08-18 13:27] crazy-max commented on #308
As of Chrome 58 it no longer accepts self-signed certs that rely on `Common Name`:
Instead it requires using `Subject Alt Name`.

[2017-08-18 14:58] N6REJ commented on #308
Maybe https://letsencrypt.org/ is a valid option?  I know it works well on our live servers.

[2017-08-18 21:56] StaggerLeee commented on #308
Hi Max. Do you still need those files ?

- Apache = 2.4.23
- Windows 10 with latest updates
- Chrome = Version 60.0.3112.101 (Official Build) (64-bit)

F12 and open Chrome developer tool. You will see that your certificate works, https is encrypted. Just to remove that warning triangle, makes it difficult to know what is encrypted and what not.

Not so urgent as any communication is anyway from an